<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-print" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel al_cakupanairlimbah_pemukiman print}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c4" data-pageid="{$pageid}"	{$cell_top_c4}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>	 
		{BEGIN inline_cancel}
<span data-itemtype="grid_inline_cancel" data-itemid="grid_inline_cancel" {$item_grid_inline_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Batal" class="btn-link   
	 glyphicon glyphicon-remove" {$inlinerevertlink_attrs} title="Batal" >		
				
								</a>
</span>
{END inline_cancel}
	 
		{BEGIN inlineadd_link}
<span data-itemtype="inline_add" data-itemid="inline_add" {$item_inline_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$inlineaddlink_attrs} >
							Tambah baru			</a>
</span>
{END inlineadd_link}
			{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes} r-horizontal-grid  rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$cakupanairlimbah_class}
			"

			data-field="cakupanairlimbah"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cakupanairlimbah_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cakupanairlimbah" data-fieldname="cakupanairlimbah">
	{$label al_cakupanairlimbah_pemukiman cakupanairlimbah }	</span>
{END cakupanairlimbah_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$r_dataumumairlimbahid_class}
			"

			data-field="r_dataumumairlimbahid"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN r_dataumumairlimbahid_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="r_dataumumairlimbahid" data-fieldname="r_dataumumairlimbahid">
	{$label al_cakupanairlimbah_pemukiman r_dataumumairlimbahid }	</span>
{END r_dataumumairlimbahid_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$tahun_class}
			"

			data-field="tahun"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN tahun_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="tahun" data-fieldname="tahun">
	{$label al_cakupanairlimbah_pemukiman tahun }	</span>
{END tahun_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$pelanggansr_class}
			"

			data-field="pelanggansr"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN pelanggansr_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="pelanggansr" data-fieldname="pelanggansr">
	{$label al_cakupanairlimbah_pemukiman pelanggansr }	</span>
{END pelanggansr_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$pelanggandomestik_class}
			"

			data-field="pelanggandomestik"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN pelanggandomestik_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="pelanggandomestik" data-fieldname="pelanggandomestik">
	{$label al_cakupanairlimbah_pemukiman pelanggandomestik }	</span>
{END pelanggandomestik_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
				 
					{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$pelanggankomersial_class}
			"

			data-field="pelanggankomersial"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN pelanggankomersial_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="pelanggankomersial" data-fieldname="pelanggankomersial">
	{$label al_cakupanairlimbah_pemukiman pelanggankomersial }	</span>
{END pelanggankomersial_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
				 
					{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$prosentase_class}
			"

			data-field="prosentase"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN prosentase_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="prosentase" data-fieldname="prosentase">
	{$label al_cakupanairlimbah_pemukiman prosentase }	</span>
{END prosentase_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
							</tr>
					 
					 
					
					{END grid_header}
			</thead>
															{BEGIN grid_row}
					<tbody>
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$cakupanairlimbah_class}
			"

			data-field="cakupanairlimbah"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cakupanairlimbah_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cakupanairlimbah" data-fieldname="cakupanairlimbah" data-default-width >
{$cakupanairlimbah_value}
</span>
{END cakupanairlimbah_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$r_dataumumairlimbahid_class}
			"

			data-field="r_dataumumairlimbahid"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN r_dataumumairlimbahid_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="r_dataumumairlimbahid" data-fieldname="r_dataumumairlimbahid" data-default-width >
{$r_dataumumairlimbahid_value}
</span>
{END r_dataumumairlimbahid_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$tahun_class}
			"

			data-field="tahun"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN tahun_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="tahun" data-fieldname="tahun" data-default-width >
{$tahun_value}
</span>
{END tahun_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$pelanggansr_class}
			"

			data-field="pelanggansr"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN pelanggansr_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="pelanggansr" data-fieldname="pelanggansr" data-default-width >
{$pelanggansr_value}
</span>
{END pelanggansr_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$pelanggandomestik_class}
			"

			data-field="pelanggandomestik"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN pelanggandomestik_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="pelanggandomestik" data-fieldname="pelanggandomestik" data-default-width >
{$pelanggandomestik_value}
</span>
{END pelanggandomestik_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
				 
					{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$pelanggankomersial_class}
			"

			data-field="pelanggankomersial"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN pelanggankomersial_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="pelanggankomersial" data-fieldname="pelanggankomersial" data-default-width >
{$pelanggankomersial_value}
</span>
{END pelanggankomersial_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
				 
					{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$prosentase_class}
			"

			data-field="prosentase"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN prosentase_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="prosentase" data-fieldname="prosentase" data-default-width >
{$prosentase_value}
</span>
{END prosentase_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
							</tr>
					 
					
											</tbody>
					{END grid_row}
													<tfoot>
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="al_cakupanairlimbah_pemukiman_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="al_cakupanairlimbah_pemukiman_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="al_cakupanairlimbah_pemukiman_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="al_cakupanairlimbah_pemukiman_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="al_cakupanairlimbah_pemukiman_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="al_cakupanairlimbah_pemukiman_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
				 
					{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="al_cakupanairlimbah_pemukiman_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
