<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel al_dataumum_tertentu_ver view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section" {$item_section} data-pageid="{$pageid}">
		<div class="panel-heading" role="tab" {$section_section1_headattrs} data-toggle="collapse"   

				href="#section1{$pageid}" aria-expanded="true" aria-controls="section1"

		>
		  <h4 class="panel-title">
			<a role="button" >
				Lokasi Instalasi			</a>
		  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section1_xtrclass}" role="tabpanel"  {$section_section1_attrs}

				id="section1{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section" id="form_section_{$pageid}" data-makeup="small" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section_0} >
										

{BEGIN cellblock_section_c1}
<td
	{$cell_section_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN provinsiid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_provinsiid}  form-horizontal clearfix" data-fieldname="provinsiid" data-signal-error-for="provinsiid{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field38" {$item_integrated_edit_field38} data-pageid="{$pageid}" data-field="provinsiid" data-fieldname="provinsiid" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_provinsiid}">
		
		{BEGIN provinsiid_label}{$label al_dataumum_tertentu_ver provinsiid }{END provinsiid_label}
	</label>
	<div class="col-md-6" >
		{$provinsiid_value}	</div>

		
</div>


{END provinsiid_fieldblock}
											
{BEGIN kabkotaid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kabkotaid}  form-horizontal clearfix" data-fieldname="kabkotaid" data-signal-error-for="kabkotaid{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field39" {$item_integrated_edit_field39} data-pageid="{$pageid}" data-field="kabkotaid" data-fieldname="kabkotaid" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_kabkotaid}">
		
		{BEGIN kabkotaid_label}{$label al_dataumum_tertentu_ver kabkotaid }{END kabkotaid_label}
	</label>
	<div class="col-md-6" >
		{$kabkotaid_value}	</div>

		
</div>


{END kabkotaid_fieldblock}
											
{BEGIN kecamatanid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kecamatanid}  form-horizontal clearfix" data-fieldname="kecamatanid" data-signal-error-for="kecamatanid{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field40" {$item_integrated_edit_field40} data-pageid="{$pageid}" data-field="kecamatanid" data-fieldname="kecamatanid" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_kecamatanid}">
		
		{BEGIN kecamatanid_label}{$label al_dataumum_tertentu_ver kecamatanid }{END kecamatanid_label}
	</label>
	<div class="col-md-6" >
		{$kecamatanid_value}	</div>

		
</div>


{END kecamatanid_fieldblock}
											
{BEGIN kelurahanid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kelurahanid}  form-horizontal clearfix" data-fieldname="kelurahanid" data-signal-error-for="kelurahanid{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field41" {$item_integrated_edit_field41} data-pageid="{$pageid}" data-field="kelurahanid" data-fieldname="kelurahanid" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_kelurahanid}">
		
		{BEGIN kelurahanid_label}{$label al_dataumum_tertentu_ver kelurahanid }{END kelurahanid_label}
	</label>
	<div class="col-md-6" >
		{$kelurahanid_value}	</div>

		
</div>


{END kelurahanid_fieldblock}
											
{BEGIN dataumumairlimbahid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dataumumairlimbahid}  form-horizontal clearfix" data-fieldname="dataumumairlimbahid" data-signal-error-for="dataumumairlimbahid{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="dataumumairlimbahid" data-fieldname="dataumumairlimbahid" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_dataumumairlimbahid}">
		
		{BEGIN dataumumairlimbahid_label}{$label al_dataumum_tertentu_ver dataumumairlimbahid }{END dataumumairlimbahid_label}
	</label>
	<div class="col-md-6" >
		{$dataumumairlimbahid_value}	</div>

		
</div>


{END dataumumairlimbahid_fieldblock}
											
{BEGIN dataumumairlimbahname_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dataumumairlimbahname}  form-horizontal clearfix" data-fieldname="dataumumairlimbahname" data-signal-error-for="dataumumairlimbahname{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="dataumumairlimbahname" data-fieldname="dataumumairlimbahname" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_dataumumairlimbahname}">
		
		{BEGIN dataumumairlimbahname_label}{$label al_dataumum_tertentu_ver dataumumairlimbahname }{END dataumumairlimbahname_label}
	</label>
	<div class="col-md-6" >
		{$dataumumairlimbahname_value}	</div>

		
</div>


{END dataumumairlimbahname_fieldblock}
											
{BEGIN alamat_lengkap_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_alamat_lengkap}  form-horizontal clearfix" data-fieldname="alamat_lengkap" data-signal-error-for="alamat_lengkap{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="alamat_lengkap" data-fieldname="alamat_lengkap" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_alamat_lengkap}">
		
		{BEGIN alamat_lengkap_label}{$label al_dataumum_tertentu_ver alamat_lengkap }{END alamat_lengkap_label}
	</label>
	<div class="col-md-6" >
		{$alamat_lengkap_value}	</div>

		
</div>


{END alamat_lengkap_fieldblock}
											
{BEGIN longitude_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_longitude}  form-horizontal clearfix" data-fieldname="longitude" data-signal-error-for="longitude{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="longitude" data-fieldname="longitude" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_longitude}">
		
		{BEGIN longitude_label}{$label al_dataumum_tertentu_ver longitude }{END longitude_label}
	</label>
	<div class="col-md-6" >
		{$longitude_value}	</div>

		
</div>


{END longitude_fieldblock}
											
{BEGIN latitude_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_latitude}  form-horizontal clearfix" data-fieldname="latitude" data-signal-error-for="latitude{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="latitude" data-fieldname="latitude" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_latitude}">
		
		{BEGIN latitude_label}{$label al_dataumum_tertentu_ver latitude }{END latitude_label}
	</label>
	<div class="col-md-6" >
		{$latitude_value}	</div>

		
</div>


{END latitude_fieldblock}
											
{BEGIN skalapelayanan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_skalapelayanan}  form-horizontal clearfix" data-fieldname="skalapelayanan" data-signal-error-for="skalapelayanan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="skalapelayanan" data-fieldname="skalapelayanan" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_skalapelayanan}">
		
		{BEGIN skalapelayanan_label}{$label al_dataumum_tertentu_ver skalapelayanan }{END skalapelayanan_label}
	</label>
	<div class="col-md-6" >
		{$skalapelayanan_value}	</div>

		
</div>


{END skalapelayanan_fieldblock}
											
{BEGIN tahunkontruksi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tahunkontruksi}  form-horizontal clearfix" data-fieldname="tahunkontruksi" data-signal-error-for="tahunkontruksi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="tahunkontruksi" data-fieldname="tahunkontruksi" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_tahunkontruksi}">
		
		{BEGIN tahunkontruksi_label}{$label al_dataumum_tertentu_ver tahunkontruksi }{END tahunkontruksi_label}
	</label>
	<div class="col-md-6" >
		{$tahunkontruksi_value}	</div>

		
</div>


{END tahunkontruksi_fieldblock}
											
{BEGIN jenis_infrastruktur_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jenis_infrastruktur}  form-horizontal clearfix" data-fieldname="jenis_infrastruktur" data-signal-error-for="jenis_infrastruktur{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="jenis_infrastruktur" data-fieldname="jenis_infrastruktur" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_jenis_infrastruktur}">
		
		{BEGIN jenis_infrastruktur_label}{$label al_dataumum_tertentu_ver jenis_infrastruktur }{END jenis_infrastruktur_label}
	</label>
	<div class="col-md-6" >
		{$jenis_infrastruktur_value}	</div>

		
</div>


{END jenis_infrastruktur_fieldblock}
	
								</td>
			{END cellblock_section_c1}
								</tr>
			</tbody></table>
{END section_block}
		  </div>
		</div>
	</div>
											 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section1" {$item_section1} data-pageid="{$pageid}">
		<div class="panel-heading" role="tab" {$section_section2_headattrs} data-toggle="collapse"   

				href="#section2{$pageid}" aria-expanded="true" aria-controls="section2"

		>
		  <h4 class="panel-title">
			<a role="button" >
				Data Pembiayaan			</a>
		  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section2_xtrclass}" role="tabpanel"  {$section_section2_attrs}

				id="section2{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section1_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section1" id="form_section1_{$pageid}" data-makeup="small" {$form_section1} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section1_0} >
										

{BEGIN cellblock_section1_c1}
<td
	{$cell_section1_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section1_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN apbn_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_apbn}  form-horizontal clearfix" data-fieldname="apbn" data-signal-error-for="apbn{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="apbn" data-fieldname="apbn" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_apbn}">
		
		{BEGIN apbn_label}{$label al_dataumum_tertentu_ver apbn }{END apbn_label}
	</label>
	<div class="col-md-6" >
		{$apbn_value}	</div>

		
</div>


{END apbn_fieldblock}
											
{BEGIN apbd_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_apbd}  form-horizontal clearfix" data-fieldname="apbd" data-signal-error-for="apbd{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="apbd" data-fieldname="apbd" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_apbd}">
		
		{BEGIN apbd_label}{$label al_dataumum_tertentu_ver apbd }{END apbd_label}
	</label>
	<div class="col-md-6" >
		{$apbd_value}	</div>

		
</div>


{END apbd_fieldblock}
											
{BEGIN dak_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dak}  form-horizontal clearfix" data-fieldname="dak" data-signal-error-for="dak{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="dak" data-fieldname="dak" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_dak}">
		
		{BEGIN dak_label}{$label al_dataumum_tertentu_ver dak }{END dak_label}
	</label>
	<div class="col-md-6" >
		{$dak_value}	</div>

		
</div>


{END dak_fieldblock}
											
{BEGIN hibah_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hibah}  form-horizontal clearfix" data-fieldname="hibah" data-signal-error-for="hibah{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="hibah" data-fieldname="hibah" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_hibah}">
		
		{BEGIN hibah_label}{$label al_dataumum_tertentu_ver hibah }{END hibah_label}
	</label>
	<div class="col-md-6" >
		{$hibah_value}	</div>

		
</div>


{END hibah_fieldblock}
											
{BEGIN csr_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_csr}  form-horizontal clearfix" data-fieldname="csr" data-signal-error-for="csr{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="csr" data-fieldname="csr" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_csr}">
		
		{BEGIN csr_label}{$label al_dataumum_tertentu_ver csr }{END csr_label}
	</label>
	<div class="col-md-6" >
		{$csr_value}	</div>

		
</div>


{END csr_fieldblock}
											
{BEGIN lainlain_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lainlain}  form-horizontal clearfix" data-fieldname="lainlain" data-signal-error-for="lainlain{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="lainlain" data-fieldname="lainlain" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_lainlain}">
		
		{BEGIN lainlain_label}{$label al_dataumum_tertentu_ver lainlain }{END lainlain_label}
	</label>
	<div class="col-md-6" >
		{$lainlain_value}	</div>

		
</div>


{END lainlain_fieldblock}
											
{BEGIN total_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_total}  form-horizontal clearfix" data-fieldname="total" data-signal-error-for="total{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="total" data-fieldname="total" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_total}">
		
		{BEGIN total_label}{$label al_dataumum_tertentu_ver total }{END total_label}
	</label>
	<div class="col-md-6" >
		{$total_value}	</div>

		
</div>


{END total_fieldblock}
	
								</td>
			{END cellblock_section1_c1}
								</tr>
			</tbody></table>
{END section1_block}
		  </div>
		</div>
	</div>
											 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section2" {$item_section2} data-pageid="{$pageid}">
		<div class="panel-heading" role="tab" {$section_section3_headattrs} data-toggle="collapse"   

				href="#section3{$pageid}" aria-expanded="true" aria-controls="section3"

		>
		  <h4 class="panel-title">
			<a role="button" >
				Data Teknis			</a>
		  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section3_xtrclass}" role="tabpanel"  {$section_section3_attrs}

				id="section3{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section2_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section2" id="form_section2_{$pageid}" data-makeup="small" {$form_section2} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section2_0} >
										

{BEGIN cellblock_section2_c1}
<td
	{$cell_section2_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section2_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN status_keberfungsian_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_status_keberfungsian}  r-vertical-field" data-fieldname="status_keberfungsian" data-signal-error-for="status_keberfungsian{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field34" {$item_integrated_edit_field34} data-pageid="{$pageid}" data-field="status_keberfungsian" data-fieldname="status_keberfungsian" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_status_keberfungsian}">
		
		{BEGIN status_keberfungsian_label}{$label al_dataumum_tertentu_ver status_keberfungsian }{END status_keberfungsian_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$status_keberfungsian_value}	</div>

		
</div>


{END status_keberfungsian_fieldblock}
											
{BEGIN kualitas_keberfungsian_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kualitas_keberfungsian}  r-vertical-field" data-fieldname="kualitas_keberfungsian" data-signal-error-for="kualitas_keberfungsian{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field35" {$item_integrated_edit_field35} data-pageid="{$pageid}" data-field="kualitas_keberfungsian" data-fieldname="kualitas_keberfungsian" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_kualitas_keberfungsian}">
		
		{BEGIN kualitas_keberfungsian_label}{$label al_dataumum_tertentu_ver kualitas_keberfungsian }{END kualitas_keberfungsian_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$kualitas_keberfungsian_value}	</div>

		
</div>


{END kualitas_keberfungsian_fieldblock}
											
{BEGIN pengelolaan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pengelolaan}  form-horizontal clearfix" data-fieldname="pengelolaan" data-signal-error-for="pengelolaan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="pengelolaan" data-fieldname="pengelolaan" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_pengelolaan}">
		
		{BEGIN pengelolaan_label}{$label al_dataumum_tertentu_ver pengelolaan }{END pengelolaan_label}
	</label>
	<div class="col-md-6" >
		{$pengelolaan_value}	</div>

		
</div>


{END pengelolaan_fieldblock}
											
{BEGIN kapasitasterpakai_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kapasitasterpakai}  form-horizontal clearfix" data-fieldname="kapasitasterpakai" data-signal-error-for="kapasitasterpakai{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="kapasitasterpakai" data-fieldname="kapasitasterpakai" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_kapasitasterpakai}">
		
		{BEGIN kapasitasterpakai_label}{$label al_dataumum_tertentu_ver kapasitasterpakai }{END kapasitasterpakai_label}
	</label>
	<div class="col-md-6" >
		{$kapasitasterpakai_value}	</div>

		
</div>


{END kapasitasterpakai_fieldblock}
											
{BEGIN kapasitasdesain_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kapasitasdesain}  form-horizontal clearfix" data-fieldname="kapasitasdesain" data-signal-error-for="kapasitasdesain{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="kapasitasdesain" data-fieldname="kapasitasdesain" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_kapasitasdesain}">
		
		{BEGIN kapasitasdesain_label}{$label al_dataumum_tertentu_ver kapasitasdesain }{END kapasitasdesain_label}
	</label>
	<div class="col-md-6" >
		{$kapasitasdesain_value}	</div>

		
</div>


{END kapasitasdesain_fieldblock}
											
{BEGIN kapasitastidakterpakai_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kapasitastidakterpakai}  form-horizontal clearfix" data-fieldname="kapasitastidakterpakai" data-signal-error-for="kapasitastidakterpakai{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="kapasitastidakterpakai" data-fieldname="kapasitastidakterpakai" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_kapasitastidakterpakai}">
		
		{BEGIN kapasitastidakterpakai_label}{$label al_dataumum_tertentu_ver kapasitastidakterpakai }{END kapasitastidakterpakai_label}
	</label>
	<div class="col-md-6" >
		{$kapasitastidakterpakai_value}	</div>

		
</div>


{END kapasitastidakterpakai_fieldblock}
											
{BEGIN jenispengelolaan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jenispengelolaan}  form-horizontal clearfix" data-fieldname="jenispengelolaan" data-signal-error-for="jenispengelolaan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="jenispengelolaan" data-fieldname="jenispengelolaan" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_jenispengelolaan}">
		
		{BEGIN jenispengelolaan_label}{$label al_dataumum_tertentu_ver jenispengelolaan }{END jenispengelolaan_label}
	</label>
	<div class="col-md-6" >
		{$jenispengelolaan_value}	</div>

		
</div>


{END jenispengelolaan_fieldblock}
											
{BEGIN petacakupanairlimbah_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_petacakupanairlimbah}  form-horizontal clearfix" data-fieldname="petacakupanairlimbah" data-signal-error-for="petacakupanairlimbah{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="petacakupanairlimbah" data-fieldname="petacakupanairlimbah" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_petacakupanairlimbah}">
		
		{BEGIN petacakupanairlimbah_label}{$label al_dataumum_tertentu_ver petacakupanairlimbah }{END petacakupanairlimbah_label}
	</label>
	<div class="col-md-6" >
		{$petacakupanairlimbah_value}	</div>

		
</div>


{END petacakupanairlimbah_fieldblock}
											
{BEGIN dokpetacakupan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dokpetacakupan}  r-vertical-field" data-fieldname="dokpetacakupan" data-signal-error-for="dokpetacakupan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field36" {$item_integrated_edit_field36} data-pageid="{$pageid}" data-field="dokpetacakupan" data-fieldname="dokpetacakupan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_dokpetacakupan}">
		
		{BEGIN dokpetacakupan_label}{$label al_dataumum_tertentu_ver dokpetacakupan }{END dokpetacakupan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$dokpetacakupan_value}	</div>

		
</div>


{END dokpetacakupan_fieldblock}
											
{BEGIN status_lahan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_status_lahan}  form-horizontal clearfix" data-fieldname="status_lahan" data-signal-error-for="status_lahan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field27" {$item_integrated_edit_field27} data-pageid="{$pageid}" data-field="status_lahan" data-fieldname="status_lahan" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_status_lahan}">
		
		{BEGIN status_lahan_label}{$label al_dataumum_tertentu_ver status_lahan }{END status_lahan_label}
	</label>
	<div class="col-md-6" >
		{$status_lahan_value}	</div>

		
</div>


{END status_lahan_fieldblock}
											
{BEGIN luas_lahan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_luas_lahan}  form-horizontal clearfix" data-fieldname="luas_lahan" data-signal-error-for="luas_lahan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="luas_lahan" data-fieldname="luas_lahan" >

	
	<label class="col-md-3 text-right bs-view-label" for="{$labelfor_luas_lahan}">
		
		{BEGIN luas_lahan_label}{$label al_dataumum_tertentu_ver luas_lahan }{END luas_lahan_label}
	</label>
	<div class="col-md-6" >
		{$luas_lahan_value}	</div>

		
</div>


{END luas_lahan_fieldblock}
											
{BEGIN foto_100_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_foto_100}  r-vertical-field" data-fieldname="foto_100" data-signal-error-for="foto_100{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field37" {$item_integrated_edit_field37} data-pageid="{$pageid}" data-field="foto_100" data-fieldname="foto_100" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_foto_100}">
		
		{BEGIN foto_100_label}{$label al_dataumum_tertentu_ver foto_100 }{END foto_100_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$foto_100_value}	</div>

		
</div>


{END foto_100_fieldblock}
	
								</td>
			{END cellblock_section2_c1}
								</tr>
			</tbody></table>
{END section2_block}
		  </div>
		</div>
	</div>
											
{BEGIN details_al_cakupanairlimbah}
<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$details_pagetitle_al_cakupanairlimbah}			
							<span>
					{$detailslButtons_al_cakupanairlimbah}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_al_cakupanairlimbah}
		</div>
	</div>
</div>
{END details_al_cakupanairlimbah}
											<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN verifikasi_prov_oleh_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_verifikasi_prov_oleh}  r-vertical-field" data-fieldname="verifikasi_prov_oleh" data-signal-error-for="verifikasi_prov_oleh{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="verifikasi_prov_oleh" data-fieldname="verifikasi_prov_oleh" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_verifikasi_prov_oleh}">
		
		{BEGIN verifikasi_prov_oleh_label}{$label al_dataumum_tertentu_ver verifikasi_prov_oleh }{END verifikasi_prov_oleh_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$verifikasi_prov_oleh_value}	</div>

		
</div>


{END verifikasi_prov_oleh_fieldblock}
											
{BEGIN verifikasi_prov_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_verifikasi_prov}  r-vertical-field" data-fieldname="verifikasi_prov" data-signal-error-for="verifikasi_prov{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="verifikasi_prov" data-fieldname="verifikasi_prov" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_verifikasi_prov}">
		
		{BEGIN verifikasi_prov_label}{$label al_dataumum_tertentu_ver verifikasi_prov }{END verifikasi_prov_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$verifikasi_prov_value}	</div>

		
</div>


{END verifikasi_prov_fieldblock}
											
{BEGIN tanggal_verifikasi_prov_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tanggal_verifikasi_prov}  r-vertical-field" data-fieldname="tanggal_verifikasi_prov" data-signal-error-for="tanggal_verifikasi_prov{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="tanggal_verifikasi_prov" data-fieldname="tanggal_verifikasi_prov" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_tanggal_verifikasi_prov}">
		
		{BEGIN tanggal_verifikasi_prov_label}{$label al_dataumum_tertentu_ver tanggal_verifikasi_prov }{END tanggal_verifikasi_prov_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$tanggal_verifikasi_prov_value}	</div>

		
</div>


{END tanggal_verifikasi_prov_fieldblock}
											
{BEGIN keterangan_verifikasi_prov_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_verifikasi_prov}  r-vertical-field" data-fieldname="keterangan_verifikasi_prov" data-signal-error-for="keterangan_verifikasi_prov{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-field="keterangan_verifikasi_prov" data-fieldname="keterangan_verifikasi_prov" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_keterangan_verifikasi_prov}">
		
		{BEGIN keterangan_verifikasi_prov_label}{$label al_dataumum_tertentu_ver keterangan_verifikasi_prov }{END keterangan_verifikasi_prov_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$keterangan_verifikasi_prov_value}	</div>

		
</div>


{END keterangan_verifikasi_prov_fieldblock}
											
{BEGIN verifikasi_pusat_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_verifikasi_pusat}  r-vertical-field" data-fieldname="verifikasi_pusat" data-signal-error-for="verifikasi_pusat{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field31" {$item_integrated_edit_field31} data-pageid="{$pageid}" data-field="verifikasi_pusat" data-fieldname="verifikasi_pusat" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_verifikasi_pusat}">
		
		{BEGIN verifikasi_pusat_label}{$label al_dataumum_tertentu_ver verifikasi_pusat }{END verifikasi_pusat_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$verifikasi_pusat_value}	</div>

		
</div>


{END verifikasi_pusat_fieldblock}
											
{BEGIN tanggal_verifikasi_pusat_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tanggal_verifikasi_pusat}  r-vertical-field" data-fieldname="tanggal_verifikasi_pusat" data-signal-error-for="tanggal_verifikasi_pusat{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field32" {$item_integrated_edit_field32} data-pageid="{$pageid}" data-field="tanggal_verifikasi_pusat" data-fieldname="tanggal_verifikasi_pusat" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_tanggal_verifikasi_pusat}">
		
		{BEGIN tanggal_verifikasi_pusat_label}{$label al_dataumum_tertentu_ver tanggal_verifikasi_pusat }{END tanggal_verifikasi_pusat_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$tanggal_verifikasi_pusat_value}	</div>

		
</div>


{END tanggal_verifikasi_pusat_fieldblock}
											
{BEGIN keterangan_verifikasi_pusat_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_verifikasi_pusat}  r-vertical-field" data-fieldname="keterangan_verifikasi_pusat" data-signal-error-for="keterangan_verifikasi_pusat{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field33" {$item_integrated_edit_field33} data-pageid="{$pageid}" data-field="keterangan_verifikasi_pusat" data-fieldname="keterangan_verifikasi_pusat" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_keterangan_verifikasi_pusat}">
		
		{BEGIN keterangan_verifikasi_pusat_label}{$label al_dataumum_tertentu_ver keterangan_verifikasi_pusat }{END keterangan_verifikasi_pusat_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$keterangan_verifikasi_pusat_value}	</div>

		
</div>


{END keterangan_verifikasi_pusat_fieldblock}
											
{BEGIN verifikasi_pusat_oleh_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_verifikasi_pusat_oleh}  r-vertical-field" data-fieldname="verifikasi_pusat_oleh" data-signal-error-for="verifikasi_pusat_oleh{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="verifikasi_pusat_oleh" data-fieldname="verifikasi_pusat_oleh" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_verifikasi_pusat_oleh}">
		
		{BEGIN verifikasi_pusat_oleh_label}{$label al_dataumum_tertentu_ver verifikasi_pusat_oleh }{END verifikasi_pusat_oleh_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$verifikasi_pusat_oleh_value}	</div>

		
</div>


{END verifikasi_pusat_oleh_fieldblock}
											
{BEGIN jumlah_pemanfaat_KK_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_pemanfaat_KK}  r-vertical-field" data-fieldname="jumlah_pemanfaat_KK" data-signal-error-for="jumlah_pemanfaat_KK{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="jumlah_pemanfaat_KK" data-fieldname="jumlah_pemanfaat_KK" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_jumlah_pemanfaat_KK}">
		
		{BEGIN jumlah_pemanfaat_KK_label}{$label al_dataumum_tertentu_ver jumlah_pemanfaat_KK }{END jumlah_pemanfaat_KK_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$jumlah_pemanfaat_KK_value}	</div>

		
</div>


{END jumlah_pemanfaat_KK_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Tutup jendela			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="al_dataumum_tertentu_ver_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Edit		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
