<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel al_dataumum_permukiman_prov search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN dataumumairlimbahid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dataumumairlimbahid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dataumumairlimbahid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="dataumumairlimbahid" data-fieldname="dataumumairlimbahid" >


	<label class="r-search-label control-label" for="{$labelfor_dataumumairlimbahid}">
		{$label al_dataumum_permukiman_prov dataumumairlimbahid }	</label>
	<div class="r-search-option">
		{$searchtype_dataumumairlimbahid}
	</div>
	<div class="r-search-field">
		{$dataumumairlimbahid_editcontrol}	</div>
	<div class="r-search-field">
		{$dataumumairlimbahid_editcontrol1}
	</div>
	
</div>

{END dataumumairlimbahid_fieldblock}
											
{BEGIN r_provinsiid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_r_provinsiid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="r_provinsiid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="r_provinsiid" data-fieldname="r_provinsiid" >


	<label class="r-search-label control-label" for="{$labelfor_r_provinsiid}">
		{$label al_dataumum_permukiman_prov r_provinsiid }	</label>
	<div class="r-search-option">
		{$searchtype_r_provinsiid}
	</div>
	<div class="r-search-field">
		{$r_provinsiid_editcontrol}	</div>
	<div class="r-search-field">
		{$r_provinsiid_editcontrol1}
	</div>
	
</div>

{END r_provinsiid_fieldblock}
											
{BEGIN r_kabupatenkotaid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_r_kabupatenkotaid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="r_kabupatenkotaid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="r_kabupatenkotaid" data-fieldname="r_kabupatenkotaid" >


	<label class="r-search-label control-label" for="{$labelfor_r_kabupatenkotaid}">
		{$label al_dataumum_permukiman_prov r_kabupatenkotaid }	</label>
	<div class="r-search-option">
		{$searchtype_r_kabupatenkotaid}
	</div>
	<div class="r-search-field">
		{$r_kabupatenkotaid_editcontrol}	</div>
	<div class="r-search-field">
		{$r_kabupatenkotaid_editcontrol1}
	</div>
	
</div>

{END r_kabupatenkotaid_fieldblock}
											
{BEGIN r_kecamatanid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_r_kecamatanid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="r_kecamatanid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="r_kecamatanid" data-fieldname="r_kecamatanid" >


	<label class="r-search-label control-label" for="{$labelfor_r_kecamatanid}">
		{$label al_dataumum_permukiman_prov r_kecamatanid }	</label>
	<div class="r-search-option">
		{$searchtype_r_kecamatanid}
	</div>
	<div class="r-search-field">
		{$r_kecamatanid_editcontrol}	</div>
	<div class="r-search-field">
		{$r_kecamatanid_editcontrol1}
	</div>
	
</div>

{END r_kecamatanid_fieldblock}
											
{BEGIN r_kelurahanid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_r_kelurahanid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="r_kelurahanid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="r_kelurahanid" data-fieldname="r_kelurahanid" >


	<label class="r-search-label control-label" for="{$labelfor_r_kelurahanid}">
		{$label al_dataumum_permukiman_prov r_kelurahanid }	</label>
	<div class="r-search-option">
		{$searchtype_r_kelurahanid}
	</div>
	<div class="r-search-field">
		{$r_kelurahanid_editcontrol}	</div>
	<div class="r-search-field">
		{$r_kelurahanid_editcontrol1}
	</div>
	
</div>

{END r_kelurahanid_fieldblock}
											
{BEGIN dataumumairlimbahname_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dataumumairlimbahname}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dataumumairlimbahname{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="dataumumairlimbahname" data-fieldname="dataumumairlimbahname" >


	<label class="r-search-label control-label" for="{$labelfor_dataumumairlimbahname}">
		{$label al_dataumum_permukiman_prov dataumumairlimbahname }	</label>
	<div class="r-search-option">
		{$searchtype_dataumumairlimbahname}
	</div>
	<div class="r-search-field">
		{$dataumumairlimbahname_editcontrol}	</div>
	<div class="r-search-field">
		{$dataumumairlimbahname_editcontrol1}
	</div>
	
</div>

{END dataumumairlimbahname_fieldblock}
											
{BEGIN longitude_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_longitude}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="longitude{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="longitude" data-fieldname="longitude" >


	<label class="r-search-label control-label" for="{$labelfor_longitude}">
		{$label al_dataumum_permukiman_prov longitude }	</label>
	<div class="r-search-option">
		{$searchtype_longitude}
	</div>
	<div class="r-search-field">
		{$longitude_editcontrol}	</div>
	<div class="r-search-field">
		{$longitude_editcontrol1}
	</div>
	
</div>

{END longitude_fieldblock}
											
{BEGIN latitude_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_latitude}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="latitude{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="latitude" data-fieldname="latitude" >


	<label class="r-search-label control-label" for="{$labelfor_latitude}">
		{$label al_dataumum_permukiman_prov latitude }	</label>
	<div class="r-search-option">
		{$searchtype_latitude}
	</div>
	<div class="r-search-field">
		{$latitude_editcontrol}	</div>
	<div class="r-search-field">
		{$latitude_editcontrol1}
	</div>
	
</div>

{END latitude_fieldblock}
											
{BEGIN skalapelayanan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_skalapelayanan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="skalapelayanan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="skalapelayanan" data-fieldname="skalapelayanan" >


	<label class="r-search-label control-label" for="{$labelfor_skalapelayanan}">
		{$label al_dataumum_permukiman_prov skalapelayanan }	</label>
	<div class="r-search-option">
		{$searchtype_skalapelayanan}
	</div>
	<div class="r-search-field">
		{$skalapelayanan_editcontrol}	</div>
	<div class="r-search-field">
		{$skalapelayanan_editcontrol1}
	</div>
	
</div>

{END skalapelayanan_fieldblock}
											
{BEGIN tahunkontruksi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tahunkontruksi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tahunkontruksi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="tahunkontruksi" data-fieldname="tahunkontruksi" >


	<label class="r-search-label control-label" for="{$labelfor_tahunkontruksi}">
		{$label al_dataumum_permukiman_prov tahunkontruksi }	</label>
	<div class="r-search-option">
		{$searchtype_tahunkontruksi}
	</div>
	<div class="r-search-field">
		{$tahunkontruksi_editcontrol}	</div>
	<div class="r-search-field">
		{$tahunkontruksi_editcontrol1}
	</div>
	
</div>

{END tahunkontruksi_fieldblock}
											
{BEGIN apbn_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_apbn}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="apbn{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="apbn" data-fieldname="apbn" >


	<label class="r-search-label control-label" for="{$labelfor_apbn}">
		{$label al_dataumum_permukiman_prov apbn }	</label>
	<div class="r-search-option">
		{$searchtype_apbn}
	</div>
	<div class="r-search-field">
		{$apbn_editcontrol}	</div>
	<div class="r-search-field">
		{$apbn_editcontrol1}
	</div>
	
</div>

{END apbn_fieldblock}
											
{BEGIN apbd_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_apbd}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="apbd{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="apbd" data-fieldname="apbd" >


	<label class="r-search-label control-label" for="{$labelfor_apbd}">
		{$label al_dataumum_permukiman_prov apbd }	</label>
	<div class="r-search-option">
		{$searchtype_apbd}
	</div>
	<div class="r-search-field">
		{$apbd_editcontrol}	</div>
	<div class="r-search-field">
		{$apbd_editcontrol1}
	</div>
	
</div>

{END apbd_fieldblock}
											
{BEGIN lainlain_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lainlain}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lainlain{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="lainlain" data-fieldname="lainlain" >


	<label class="r-search-label control-label" for="{$labelfor_lainlain}">
		{$label al_dataumum_permukiman_prov lainlain }	</label>
	<div class="r-search-option">
		{$searchtype_lainlain}
	</div>
	<div class="r-search-field">
		{$lainlain_editcontrol}	</div>
	<div class="r-search-field">
		{$lainlain_editcontrol1}
	</div>
	
</div>

{END lainlain_fieldblock}
											
{BEGIN dak_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dak}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dak{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="dak" data-fieldname="dak" >


	<label class="r-search-label control-label" for="{$labelfor_dak}">
		{$label al_dataumum_permukiman_prov dak }	</label>
	<div class="r-search-option">
		{$searchtype_dak}
	</div>
	<div class="r-search-field">
		{$dak_editcontrol}	</div>
	<div class="r-search-field">
		{$dak_editcontrol1}
	</div>
	
</div>

{END dak_fieldblock}
											
{BEGIN hibah_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hibah}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="hibah{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="hibah" data-fieldname="hibah" >


	<label class="r-search-label control-label" for="{$labelfor_hibah}">
		{$label al_dataumum_permukiman_prov hibah }	</label>
	<div class="r-search-option">
		{$searchtype_hibah}
	</div>
	<div class="r-search-field">
		{$hibah_editcontrol}	</div>
	<div class="r-search-field">
		{$hibah_editcontrol1}
	</div>
	
</div>

{END hibah_fieldblock}
											
{BEGIN csr_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_csr}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="csr{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="csr" data-fieldname="csr" >


	<label class="r-search-label control-label" for="{$labelfor_csr}">
		{$label al_dataumum_permukiman_prov csr }	</label>
	<div class="r-search-option">
		{$searchtype_csr}
	</div>
	<div class="r-search-field">
		{$csr_editcontrol}	</div>
	<div class="r-search-field">
		{$csr_editcontrol1}
	</div>
	
</div>

{END csr_fieldblock}
											
{BEGIN total_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_total}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="total{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="total" data-fieldname="total" >


	<label class="r-search-label control-label" for="{$labelfor_total}">
		{$label al_dataumum_permukiman_prov total }	</label>
	<div class="r-search-option">
		{$searchtype_total}
	</div>
	<div class="r-search-field">
		{$total_editcontrol}	</div>
	<div class="r-search-field">
		{$total_editcontrol1}
	</div>
	
</div>

{END total_fieldblock}
											
{BEGIN pengelolaan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pengelolaan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pengelolaan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="pengelolaan" data-fieldname="pengelolaan" >


	<label class="r-search-label control-label" for="{$labelfor_pengelolaan}">
		{$label al_dataumum_permukiman_prov pengelolaan }	</label>
	<div class="r-search-option">
		{$searchtype_pengelolaan}
	</div>
	<div class="r-search-field">
		{$pengelolaan_editcontrol}	</div>
	<div class="r-search-field">
		{$pengelolaan_editcontrol1}
	</div>
	
</div>

{END pengelolaan_fieldblock}
											
{BEGIN kapasitasdesain_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kapasitasdesain}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kapasitasdesain{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="kapasitasdesain" data-fieldname="kapasitasdesain" >


	<label class="r-search-label control-label" for="{$labelfor_kapasitasdesain}">
		{$label al_dataumum_permukiman_prov kapasitasdesain }	</label>
	<div class="r-search-option">
		{$searchtype_kapasitasdesain}
	</div>
	<div class="r-search-field">
		{$kapasitasdesain_editcontrol}	</div>
	<div class="r-search-field">
		{$kapasitasdesain_editcontrol1}
	</div>
	
</div>

{END kapasitasdesain_fieldblock}
											
{BEGIN kapasitasterpakai_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kapasitasterpakai}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kapasitasterpakai{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="kapasitasterpakai" data-fieldname="kapasitasterpakai" >


	<label class="r-search-label control-label" for="{$labelfor_kapasitasterpakai}">
		{$label al_dataumum_permukiman_prov kapasitasterpakai }	</label>
	<div class="r-search-option">
		{$searchtype_kapasitasterpakai}
	</div>
	<div class="r-search-field">
		{$kapasitasterpakai_editcontrol}	</div>
	<div class="r-search-field">
		{$kapasitasterpakai_editcontrol1}
	</div>
	
</div>

{END kapasitasterpakai_fieldblock}
											
{BEGIN kapasitastidakterpakai_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kapasitastidakterpakai}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kapasitastidakterpakai{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="kapasitastidakterpakai" data-fieldname="kapasitastidakterpakai" >


	<label class="r-search-label control-label" for="{$labelfor_kapasitastidakterpakai}">
		{$label al_dataumum_permukiman_prov kapasitastidakterpakai }	</label>
	<div class="r-search-option">
		{$searchtype_kapasitastidakterpakai}
	</div>
	<div class="r-search-field">
		{$kapasitastidakterpakai_editcontrol}	</div>
	<div class="r-search-field">
		{$kapasitastidakterpakai_editcontrol1}
	</div>
	
</div>

{END kapasitastidakterpakai_fieldblock}
											
{BEGIN jenispengelolaan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jenispengelolaan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jenispengelolaan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="jenispengelolaan" data-fieldname="jenispengelolaan" >


	<label class="r-search-label control-label" for="{$labelfor_jenispengelolaan}">
		{$label al_dataumum_permukiman_prov jenispengelolaan }	</label>
	<div class="r-search-option">
		{$searchtype_jenispengelolaan}
	</div>
	<div class="r-search-field">
		{$jenispengelolaan_editcontrol}	</div>
	<div class="r-search-field">
		{$jenispengelolaan_editcontrol1}
	</div>
	
</div>

{END jenispengelolaan_fieldblock}
											
{BEGIN petacakupanairlimbah_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_petacakupanairlimbah}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="petacakupanairlimbah{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="petacakupanairlimbah" data-fieldname="petacakupanairlimbah" >


	<label class="r-search-label control-label" for="{$labelfor_petacakupanairlimbah}">
		{$label al_dataumum_permukiman_prov petacakupanairlimbah }	</label>
	<div class="r-search-option">
		{$searchtype_petacakupanairlimbah}
	</div>
	<div class="r-search-field">
		{$petacakupanairlimbah_editcontrol}	</div>
	<div class="r-search-field">
		{$petacakupanairlimbah_editcontrol1}
	</div>
	
</div>

{END petacakupanairlimbah_fieldblock}
											
{BEGIN jenis_infrastruktur_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jenis_infrastruktur}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jenis_infrastruktur{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="jenis_infrastruktur" data-fieldname="jenis_infrastruktur" >


	<label class="r-search-label control-label" for="{$labelfor_jenis_infrastruktur}">
		{$label al_dataumum_permukiman_prov jenis_infrastruktur }	</label>
	<div class="r-search-option">
		{$searchtype_jenis_infrastruktur}
	</div>
	<div class="r-search-field">
		{$jenis_infrastruktur_editcontrol}	</div>
	<div class="r-search-field">
		{$jenis_infrastruktur_editcontrol1}
	</div>
	
</div>

{END jenis_infrastruktur_fieldblock}
											
{BEGIN alamat_lengkap_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_alamat_lengkap}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="alamat_lengkap{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="alamat_lengkap" data-fieldname="alamat_lengkap" >


	<label class="r-search-label control-label" for="{$labelfor_alamat_lengkap}">
		{$label al_dataumum_permukiman_prov alamat_lengkap }	</label>
	<div class="r-search-option">
		{$searchtype_alamat_lengkap}
	</div>
	<div class="r-search-field">
		{$alamat_lengkap_editcontrol}	</div>
	<div class="r-search-field">
		{$alamat_lengkap_editcontrol1}
	</div>
	
</div>

{END alamat_lengkap_fieldblock}
											
{BEGIN status_lahan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_lahan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_lahan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="status_lahan" data-fieldname="status_lahan" >


	<label class="r-search-label control-label" for="{$labelfor_status_lahan}">
		{$label al_dataumum_permukiman_prov status_lahan }	</label>
	<div class="r-search-option">
		{$searchtype_status_lahan}
	</div>
	<div class="r-search-field">
		{$status_lahan_editcontrol}	</div>
	<div class="r-search-field">
		{$status_lahan_editcontrol1}
	</div>
	
</div>

{END status_lahan_fieldblock}
											
{BEGIN luas_lahan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_luas_lahan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="luas_lahan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="luas_lahan" data-fieldname="luas_lahan" >


	<label class="r-search-label control-label" for="{$labelfor_luas_lahan}">
		{$label al_dataumum_permukiman_prov luas_lahan }	</label>
	<div class="r-search-option">
		{$searchtype_luas_lahan}
	</div>
	<div class="r-search-field">
		{$luas_lahan_editcontrol}	</div>
	<div class="r-search-field">
		{$luas_lahan_editcontrol1}
	</div>
	
</div>

{END luas_lahan_fieldblock}
											
{BEGIN status_keberfungsian_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_keberfungsian}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_keberfungsian{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="status_keberfungsian" data-fieldname="status_keberfungsian" >


	<label class="r-search-label control-label" for="{$labelfor_status_keberfungsian}">
		{$label al_dataumum_permukiman_prov status_keberfungsian }	</label>
	<div class="r-search-option">
		{$searchtype_status_keberfungsian}
	</div>
	<div class="r-search-field">
		{$status_keberfungsian_editcontrol}	</div>
	<div class="r-search-field">
		{$status_keberfungsian_editcontrol1}
	</div>
	
</div>

{END status_keberfungsian_fieldblock}
											
{BEGIN kualitas_keberfungsian_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kualitas_keberfungsian}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kualitas_keberfungsian{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="kualitas_keberfungsian" data-fieldname="kualitas_keberfungsian" >


	<label class="r-search-label control-label" for="{$labelfor_kualitas_keberfungsian}">
		{$label al_dataumum_permukiman_prov kualitas_keberfungsian }	</label>
	<div class="r-search-option">
		{$searchtype_kualitas_keberfungsian}
	</div>
	<div class="r-search-field">
		{$kualitas_keberfungsian_editcontrol}	</div>
	<div class="r-search-field">
		{$kualitas_keberfungsian_editcontrol1}
	</div>
	
</div>

{END kualitas_keberfungsian_fieldblock}
											
{BEGIN dokpetacakupan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dokpetacakupan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dokpetacakupan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="dokpetacakupan" data-fieldname="dokpetacakupan" >


	<label class="r-search-label control-label" for="{$labelfor_dokpetacakupan}">
		{$label al_dataumum_permukiman_prov dokpetacakupan }	</label>
	<div class="r-search-option">
		{$searchtype_dokpetacakupan}
	</div>
	<div class="r-search-field">
		{$dokpetacakupan_editcontrol}	</div>
	<div class="r-search-field">
		{$dokpetacakupan_editcontrol1}
	</div>
	
</div>

{END dokpetacakupan_fieldblock}
											
{BEGIN foto_100_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_foto_100}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="foto_100{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="foto_100" data-fieldname="foto_100" >


	<label class="r-search-label control-label" for="{$labelfor_foto_100}">
		{$label al_dataumum_permukiman_prov foto_100 }	</label>
	<div class="r-search-option">
		{$searchtype_foto_100}
	</div>
	<div class="r-search-field">
		{$foto_100_editcontrol}	</div>
	<div class="r-search-field">
		{$foto_100_editcontrol1}
	</div>
	
</div>

{END foto_100_fieldblock}
											
{BEGIN provinsiid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_provinsiid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="provinsiid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="provinsiid" data-fieldname="provinsiid" >


	<label class="r-search-label control-label" for="{$labelfor_provinsiid}">
		{$label al_dataumum_permukiman_prov provinsiid }	</label>
	<div class="r-search-option">
		{$searchtype_provinsiid}
	</div>
	<div class="r-search-field">
		{$provinsiid_editcontrol}	</div>
	<div class="r-search-field">
		{$provinsiid_editcontrol1}
	</div>
	
</div>

{END provinsiid_fieldblock}
											
{BEGIN kabkotaid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kabkotaid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kabkotaid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="kabkotaid" data-fieldname="kabkotaid" >


	<label class="r-search-label control-label" for="{$labelfor_kabkotaid}">
		{$label al_dataumum_permukiman_prov kabkotaid }	</label>
	<div class="r-search-option">
		{$searchtype_kabkotaid}
	</div>
	<div class="r-search-field">
		{$kabkotaid_editcontrol}	</div>
	<div class="r-search-field">
		{$kabkotaid_editcontrol1}
	</div>
	
</div>

{END kabkotaid_fieldblock}
											
{BEGIN kecamatanid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kecamatanid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kecamatanid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="kecamatanid" data-fieldname="kecamatanid" >


	<label class="r-search-label control-label" for="{$labelfor_kecamatanid}">
		{$label al_dataumum_permukiman_prov kecamatanid }	</label>
	<div class="r-search-option">
		{$searchtype_kecamatanid}
	</div>
	<div class="r-search-field">
		{$kecamatanid_editcontrol}	</div>
	<div class="r-search-field">
		{$kecamatanid_editcontrol1}
	</div>
	
</div>

{END kecamatanid_fieldblock}
											
{BEGIN kelurahanid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kelurahanid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kelurahanid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="kelurahanid" data-fieldname="kelurahanid" >


	<label class="r-search-label control-label" for="{$labelfor_kelurahanid}">
		{$label al_dataumum_permukiman_prov kelurahanid }	</label>
	<div class="r-search-option">
		{$searchtype_kelurahanid}
	</div>
	<div class="r-search-field">
		{$kelurahanid_editcontrol}	</div>
	<div class="r-search-field">
		{$kelurahanid_editcontrol1}
	</div>
	
</div>

{END kelurahanid_fieldblock}
											
{BEGIN opsi_teknologi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_opsi_teknologi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="opsi_teknologi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="opsi_teknologi" data-fieldname="opsi_teknologi" >


	<label class="r-search-label control-label" for="{$labelfor_opsi_teknologi}">
		{$label al_dataumum_permukiman_prov opsi_teknologi }	</label>
	<div class="r-search-option">
		{$searchtype_opsi_teknologi}
	</div>
	<div class="r-search-field">
		{$opsi_teknologi_editcontrol}	</div>
	<div class="r-search-field">
		{$opsi_teknologi_editcontrol1}
	</div>
	
</div>

{END opsi_teknologi_fieldblock}
											
{BEGIN jumlah_stasiun_pompa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_stasiun_pompa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlah_stasiun_pompa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="jumlah_stasiun_pompa" data-fieldname="jumlah_stasiun_pompa" >


	<label class="r-search-label control-label" for="{$labelfor_jumlah_stasiun_pompa}">
		{$label al_dataumum_permukiman_prov jumlah_stasiun_pompa }	</label>
	<div class="r-search-option">
		{$searchtype_jumlah_stasiun_pompa}
	</div>
	<div class="r-search-field">
		{$jumlah_stasiun_pompa_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlah_stasiun_pompa_editcontrol1}
	</div>
	
</div>

{END jumlah_stasiun_pompa_fieldblock}
											
{BEGIN biaya_operasional_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_biaya_operasional}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="biaya_operasional{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="biaya_operasional" data-fieldname="biaya_operasional" >


	<label class="r-search-label control-label" for="{$labelfor_biaya_operasional}">
		{$label al_dataumum_permukiman_prov biaya_operasional }	</label>
	<div class="r-search-option">
		{$searchtype_biaya_operasional}
	</div>
	<div class="r-search-field">
		{$biaya_operasional_editcontrol}	</div>
	<div class="r-search-field">
		{$biaya_operasional_editcontrol1}
	</div>
	
</div>

{END biaya_operasional_fieldblock}
											
{BEGIN frekuensi_uji_effluent_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_frekuensi_uji_effluent}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="frekuensi_uji_effluent{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field38" {$item_integrated_search_field38} data-pageid="{$pageid}" data-field="frekuensi_uji_effluent" data-fieldname="frekuensi_uji_effluent" >


	<label class="r-search-label control-label" for="{$labelfor_frekuensi_uji_effluent}">
		{$label al_dataumum_permukiman_prov frekuensi_uji_effluent }	</label>
	<div class="r-search-option">
		{$searchtype_frekuensi_uji_effluent}
	</div>
	<div class="r-search-field">
		{$frekuensi_uji_effluent_editcontrol}	</div>
	<div class="r-search-field">
		{$frekuensi_uji_effluent_editcontrol1}
	</div>
	
</div>

{END frekuensi_uji_effluent_fieldblock}
											
{BEGIN hasil_uji_effluent_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hasil_uji_effluent}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="hasil_uji_effluent{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field39" {$item_integrated_search_field39} data-pageid="{$pageid}" data-field="hasil_uji_effluent" data-fieldname="hasil_uji_effluent" >


	<label class="r-search-label control-label" for="{$labelfor_hasil_uji_effluent}">
		{$label al_dataumum_permukiman_prov hasil_uji_effluent }	</label>
	<div class="r-search-option">
		{$searchtype_hasil_uji_effluent}
	</div>
	<div class="r-search-field">
		{$hasil_uji_effluent_editcontrol}	</div>
	<div class="r-search-field">
		{$hasil_uji_effluent_editcontrol1}
	</div>
	
</div>

{END hasil_uji_effluent_fieldblock}
											
{BEGIN pH_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pH}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pH{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field40" {$item_integrated_search_field40} data-pageid="{$pageid}" data-field="pH" data-fieldname="pH" >


	<label class="r-search-label control-label" for="{$labelfor_pH}">
		{$label al_dataumum_permukiman_prov pH }	</label>
	<div class="r-search-option">
		{$searchtype_pH}
	</div>
	<div class="r-search-field">
		{$pH_editcontrol}	</div>
	<div class="r-search-field">
		{$pH_editcontrol1}
	</div>
	
</div>

{END pH_fieldblock}
											
{BEGIN BOD_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_BOD}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="BOD{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field41" {$item_integrated_search_field41} data-pageid="{$pageid}" data-field="BOD" data-fieldname="BOD" >


	<label class="r-search-label control-label" for="{$labelfor_BOD}">
		{$label al_dataumum_permukiman_prov BOD }	</label>
	<div class="r-search-option">
		{$searchtype_BOD}
	</div>
	<div class="r-search-field">
		{$BOD_editcontrol}	</div>
	<div class="r-search-field">
		{$BOD_editcontrol1}
	</div>
	
</div>

{END BOD_fieldblock}
											
{BEGIN COD_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_COD}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="COD{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field42" {$item_integrated_search_field42} data-pageid="{$pageid}" data-field="COD" data-fieldname="COD" >


	<label class="r-search-label control-label" for="{$labelfor_COD}">
		{$label al_dataumum_permukiman_prov COD }	</label>
	<div class="r-search-option">
		{$searchtype_COD}
	</div>
	<div class="r-search-field">
		{$COD_editcontrol}	</div>
	<div class="r-search-field">
		{$COD_editcontrol1}
	</div>
	
</div>

{END COD_fieldblock}
											
{BEGIN TSS_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TSS}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="TSS{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field43" {$item_integrated_search_field43} data-pageid="{$pageid}" data-field="TSS" data-fieldname="TSS" >


	<label class="r-search-label control-label" for="{$labelfor_TSS}">
		{$label al_dataumum_permukiman_prov TSS }	</label>
	<div class="r-search-option">
		{$searchtype_TSS}
	</div>
	<div class="r-search-field">
		{$TSS_editcontrol}	</div>
	<div class="r-search-field">
		{$TSS_editcontrol1}
	</div>
	
</div>

{END TSS_fieldblock}
											
{BEGIN minyak_dan_lemak_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_minyak_dan_lemak}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="minyak_dan_lemak{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field44" {$item_integrated_search_field44} data-pageid="{$pageid}" data-field="minyak_dan_lemak" data-fieldname="minyak_dan_lemak" >


	<label class="r-search-label control-label" for="{$labelfor_minyak_dan_lemak}">
		{$label al_dataumum_permukiman_prov minyak_dan_lemak }	</label>
	<div class="r-search-option">
		{$searchtype_minyak_dan_lemak}
	</div>
	<div class="r-search-field">
		{$minyak_dan_lemak_editcontrol}	</div>
	<div class="r-search-field">
		{$minyak_dan_lemak_editcontrol1}
	</div>
	
</div>

{END minyak_dan_lemak_fieldblock}
											
{BEGIN amonia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_amonia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="amonia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field45" {$item_integrated_search_field45} data-pageid="{$pageid}" data-field="amonia" data-fieldname="amonia" >


	<label class="r-search-label control-label" for="{$labelfor_amonia}">
		{$label al_dataumum_permukiman_prov amonia }	</label>
	<div class="r-search-option">
		{$searchtype_amonia}
	</div>
	<div class="r-search-field">
		{$amonia_editcontrol}	</div>
	<div class="r-search-field">
		{$amonia_editcontrol1}
	</div>
	
</div>

{END amonia_fieldblock}
											
{BEGIN total_coliform_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_total_coliform}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="total_coliform{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field46" {$item_integrated_search_field46} data-pageid="{$pageid}" data-field="total_coliform" data-fieldname="total_coliform" >


	<label class="r-search-label control-label" for="{$labelfor_total_coliform}">
		{$label al_dataumum_permukiman_prov total_coliform }	</label>
	<div class="r-search-option">
		{$searchtype_total_coliform}
	</div>
	<div class="r-search-field">
		{$total_coliform_editcontrol}	</div>
	<div class="r-search-field">
		{$total_coliform_editcontrol1}
	</div>
	
</div>

{END total_coliform_fieldblock}
											
{BEGIN keterangan_kondisi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_kondisi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="keterangan_kondisi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field47" {$item_integrated_search_field47} data-pageid="{$pageid}" data-field="keterangan_kondisi" data-fieldname="keterangan_kondisi" >


	<label class="r-search-label control-label" for="{$labelfor_keterangan_kondisi}">
		{$label al_dataumum_permukiman_prov keterangan_kondisi }	</label>
	<div class="r-search-option">
		{$searchtype_keterangan_kondisi}
	</div>
	<div class="r-search-field">
		{$keterangan_kondisi_editcontrol}	</div>
	<div class="r-search-field">
		{$keterangan_kondisi_editcontrol1}
	</div>
	
</div>

{END keterangan_kondisi_fieldblock}
											
{BEGIN tanggal_update_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tanggal_update}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tanggal_update{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field48" {$item_integrated_search_field48} data-pageid="{$pageid}" data-field="tanggal_update" data-fieldname="tanggal_update" >


	<label class="r-search-label control-label" for="{$labelfor_tanggal_update}">
		{$label al_dataumum_permukiman_prov tanggal_update }	</label>
	<div class="r-search-option">
		{$searchtype_tanggal_update}
	</div>
	<div class="r-search-field">
		{$tanggal_update_editcontrol}	</div>
	<div class="r-search-field">
		{$tanggal_update_editcontrol1}
	</div>
	
</div>

{END tanggal_update_fieldblock}
											
{BEGIN jumlah_pemanfaat_KK_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_pemanfaat_KK}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlah_pemanfaat_KK{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field49" {$item_integrated_search_field49} data-pageid="{$pageid}" data-field="jumlah_pemanfaat_KK" data-fieldname="jumlah_pemanfaat_KK" >


	<label class="r-search-label control-label" for="{$labelfor_jumlah_pemanfaat_KK}">
		{$label al_dataumum_permukiman_prov jumlah_pemanfaat_KK }	</label>
	<div class="r-search-option">
		{$searchtype_jumlah_pemanfaat_KK}
	</div>
	<div class="r-search-field">
		{$jumlah_pemanfaat_KK_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlah_pemanfaat_KK_editcontrol1}
	</div>
	
</div>

{END jumlah_pemanfaat_KK_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Cari			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Tata ulang			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Batal			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
