<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel al_penggunasaranabab edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Balik ke daftar</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="al_penggunasaranabab_view.php?{$editlink}" {$view_page_button_attrs}>Lihat</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN penggunaairlimbahtahun_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_penggunaairlimbahtahun}  r-vertical-field" 
	data-signal-error-for="penggunaairlimbahtahun{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="penggunaairlimbahtahun" data-fieldname="penggunaairlimbahtahun" >

	<label class="r-edit-label control-label" for="{$labelfor_penggunaairlimbahtahun}">
		{BEGIN penggunaairlimbahtahun_label}{$label al_penggunasaranabab penggunaairlimbahtahun }{END penggunaairlimbahtahun_label}
	</label>
	<div class="r-edit-field">
		{$penggunaairlimbahtahun_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="penggunaairlimbahtahun">
		<div class="text-muted" >
		{$tooltip al_penggunasaranabab penggunaairlimbahtahun }		</div>
	</div>
</div>


{END penggunaairlimbahtahun_fieldblock}
											
{BEGIN r_provinsiid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_r_provinsiid}  r-vertical-field" 
	data-signal-error-for="r_provinsiid{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="r_provinsiid" data-fieldname="r_provinsiid" >

	<label class="r-edit-label control-label" for="{$labelfor_r_provinsiid}">
		{BEGIN r_provinsiid_label}{$label al_penggunasaranabab r_provinsiid }{END r_provinsiid_label}
	</label>
	<div class="r-edit-field">
		{$r_provinsiid_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="r_provinsiid">
		<div class="text-muted" >
		{$tooltip al_penggunasaranabab r_provinsiid }		</div>
	</div>
</div>


{END r_provinsiid_fieldblock}
											
{BEGIN r_kabupatenkotaid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_r_kabupatenkotaid}  r-vertical-field" 
	data-signal-error-for="r_kabupatenkotaid{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="r_kabupatenkotaid" data-fieldname="r_kabupatenkotaid" >

	<label class="r-edit-label control-label" for="{$labelfor_r_kabupatenkotaid}">
		{BEGIN r_kabupatenkotaid_label}{$label al_penggunasaranabab r_kabupatenkotaid }{END r_kabupatenkotaid_label}
	</label>
	<div class="r-edit-field">
		{$r_kabupatenkotaid_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="r_kabupatenkotaid">
		<div class="text-muted" >
		{$tooltip al_penggunasaranabab r_kabupatenkotaid }		</div>
	</div>
</div>


{END r_kabupatenkotaid_fieldblock}
											
{BEGIN cubluk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cubluk}  r-vertical-field" 
	data-signal-error-for="cubluk{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="cubluk" data-fieldname="cubluk" >

	<label class="r-edit-label control-label" for="{$labelfor_cubluk}">
		{BEGIN cubluk_label}{$label al_penggunasaranabab cubluk }{END cubluk_label}
	</label>
	<div class="r-edit-field">
		{$cubluk_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cubluk">
		<div class="text-muted" >
		{$tooltip al_penggunasaranabab cubluk }		</div>
	</div>
</div>


{END cubluk_fieldblock}
											
{BEGIN septictank_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_septictank}  r-vertical-field" 
	data-signal-error-for="septictank{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="septictank" data-fieldname="septictank" >

	<label class="r-edit-label control-label" for="{$labelfor_septictank}">
		{BEGIN septictank_label}{$label al_penggunasaranabab septictank }{END septictank_label}
	</label>
	<div class="r-edit-field">
		{$septictank_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="septictank">
		<div class="text-muted" >
		{$tooltip al_penggunasaranabab septictank }		</div>
	</div>
</div>


{END septictank_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Simpan			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Batal			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Tata ulang		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="al_penggunasaranabab_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		Lihat		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
