<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel al_programkegiatan view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN programkegiatanid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_programkegiatanid}  r-vertical-field" data-fieldname="programkegiatanid" data-signal-error-for="programkegiatanid{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="programkegiatanid" data-fieldname="programkegiatanid" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_programkegiatanid}">
		
		{BEGIN programkegiatanid_label}{$label al_programkegiatan programkegiatanid }{END programkegiatanid_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$programkegiatanid_value}	</div>

		
</div>


{END programkegiatanid_fieldblock}
											
{BEGIN r_sektorid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_r_sektorid}  r-vertical-field" data-fieldname="r_sektorid" data-signal-error-for="r_sektorid{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="r_sektorid" data-fieldname="r_sektorid" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_r_sektorid}">
		
		{BEGIN r_sektorid_label}{$label al_programkegiatan r_sektorid }{END r_sektorid_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$r_sektorid_value}	</div>

		
</div>


{END r_sektorid_fieldblock}
											
{BEGIN r_provinsiid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_r_provinsiid}  r-vertical-field" data-fieldname="r_provinsiid" data-signal-error-for="r_provinsiid{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="r_provinsiid" data-fieldname="r_provinsiid" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_r_provinsiid}">
		
		{BEGIN r_provinsiid_label}{$label al_programkegiatan r_provinsiid }{END r_provinsiid_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$r_provinsiid_value}	</div>

		
</div>


{END r_provinsiid_fieldblock}
											
{BEGIN r_kabupatenkotaid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_r_kabupatenkotaid}  r-vertical-field" data-fieldname="r_kabupatenkotaid" data-signal-error-for="r_kabupatenkotaid{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="r_kabupatenkotaid" data-fieldname="r_kabupatenkotaid" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_r_kabupatenkotaid}">
		
		{BEGIN r_kabupatenkotaid_label}{$label al_programkegiatan r_kabupatenkotaid }{END r_kabupatenkotaid_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$r_kabupatenkotaid_value}	</div>

		
</div>


{END r_kabupatenkotaid_fieldblock}
											
{BEGIN jenispembiayaan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jenispembiayaan}  r-vertical-field" data-fieldname="jenispembiayaan" data-signal-error-for="jenispembiayaan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="jenispembiayaan" data-fieldname="jenispembiayaan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_jenispembiayaan}">
		
		{BEGIN jenispembiayaan_label}{$label al_programkegiatan jenispembiayaan }{END jenispembiayaan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$jenispembiayaan_value}	</div>

		
</div>


{END jenispembiayaan_fieldblock}
											
{BEGIN programkegiatan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_programkegiatan}  r-vertical-field" data-fieldname="programkegiatan" data-signal-error-for="programkegiatan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="programkegiatan" data-fieldname="programkegiatan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_programkegiatan}">
		
		{BEGIN programkegiatan_label}{$label al_programkegiatan programkegiatan }{END programkegiatan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$programkegiatan_value}	</div>

		
</div>


{END programkegiatan_fieldblock}
											
{BEGIN tahun_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tahun}  r-vertical-field" data-fieldname="tahun" data-signal-error-for="tahun{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="tahun" data-fieldname="tahun" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_tahun}">
		
		{BEGIN tahun_label}{$label al_programkegiatan tahun }{END tahun_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$tahun_value}	</div>

		
</div>


{END tahun_fieldblock}
											
{BEGIN vol_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_vol}  r-vertical-field" data-fieldname="vol" data-signal-error-for="vol{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="vol" data-fieldname="vol" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_vol}">
		
		{BEGIN vol_label}{$label al_programkegiatan vol }{END vol_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$vol_value}	</div>

		
</div>


{END vol_fieldblock}
											
{BEGIN biaya_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_biaya}  r-vertical-field" data-fieldname="biaya" data-signal-error-for="biaya{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="biaya" data-fieldname="biaya" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_biaya}">
		
		{BEGIN biaya_label}{$label al_programkegiatan biaya }{END biaya_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$biaya_value}	</div>

		
</div>


{END biaya_fieldblock}
											
{BEGIN lokasi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lokasi}  r-vertical-field" data-fieldname="lokasi" data-signal-error-for="lokasi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="lokasi" data-fieldname="lokasi" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_lokasi}">
		
		{BEGIN lokasi_label}{$label al_programkegiatan lokasi }{END lokasi_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$lokasi_value}	</div>

		
</div>


{END lokasi_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Tutup jendela			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="al_programkegiatan_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Edit		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
