<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel al_peranserta add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Balik ke daftar</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Lihat</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN r_sektorid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_r_sektorid}  r-vertical-field" 
	data-signal-error-for="r_sektorid{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="r_sektorid" data-fieldname="r_sektorid" >

	<label class="r-edit-label control-label" for="{$labelfor_r_sektorid}">
		{BEGIN r_sektorid_label}{$label al_peranserta r_sektorid }{END r_sektorid_label}
	</label>
	<div class="r-edit-field">
		{$r_sektorid_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="r_sektorid">
		<div class="text-muted" >
		{$tooltip al_peranserta r_sektorid }		</div>
	</div>
</div>


{END r_sektorid_fieldblock}
											
{BEGIN r_provinsiid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_r_provinsiid}  r-vertical-field" 
	data-signal-error-for="r_provinsiid{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="r_provinsiid" data-fieldname="r_provinsiid" >

	<label class="r-edit-label control-label" for="{$labelfor_r_provinsiid}">
		{BEGIN r_provinsiid_label}{$label al_peranserta r_provinsiid }{END r_provinsiid_label}
	</label>
	<div class="r-edit-field">
		{$r_provinsiid_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="r_provinsiid">
		<div class="text-muted" >
		{$tooltip al_peranserta r_provinsiid }		</div>
	</div>
</div>


{END r_provinsiid_fieldblock}
											
{BEGIN r_kabupatenkotaid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_r_kabupatenkotaid}  r-vertical-field" 
	data-signal-error-for="r_kabupatenkotaid{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="r_kabupatenkotaid" data-fieldname="r_kabupatenkotaid" >

	<label class="r-edit-label control-label" for="{$labelfor_r_kabupatenkotaid}">
		{BEGIN r_kabupatenkotaid_label}{$label al_peranserta r_kabupatenkotaid }{END r_kabupatenkotaid_label}
	</label>
	<div class="r-edit-field">
		{$r_kabupatenkotaid_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="r_kabupatenkotaid">
		<div class="text-muted" >
		{$tooltip al_peranserta r_kabupatenkotaid }		</div>
	</div>
</div>


{END r_kabupatenkotaid_fieldblock}
											
{BEGIN tahunretribusi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tahunretribusi}  r-vertical-field" 
	data-signal-error-for="tahunretribusi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="tahunretribusi" data-fieldname="tahunretribusi" >

	<label class="r-edit-label control-label" for="{$labelfor_tahunretribusi}">
		{BEGIN tahunretribusi_label}{$label al_peranserta tahunretribusi }{END tahunretribusi_label}
	</label>
	<div class="r-edit-field">
		{$tahunretribusi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tahunretribusi">
		<div class="text-muted" >
		{$tooltip al_peranserta tahunretribusi }		</div>
	</div>
</div>


{END tahunretribusi_fieldblock}
											
{BEGIN pemasukanretribusi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pemasukanretribusi}  r-vertical-field" 
	data-signal-error-for="pemasukanretribusi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="pemasukanretribusi" data-fieldname="pemasukanretribusi" >

	<label class="r-edit-label control-label" for="{$labelfor_pemasukanretribusi}">
		{BEGIN pemasukanretribusi_label}{$label al_peranserta pemasukanretribusi }{END pemasukanretribusi_label}
	</label>
	<div class="r-edit-field">
		{$pemasukanretribusi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="pemasukanretribusi">
		<div class="text-muted" >
		{$tooltip al_peranserta pemasukanretribusi }		</div>
	</div>
</div>


{END pemasukanretribusi_fieldblock}
											
{BEGIN targetretribusi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_targetretribusi}  r-vertical-field" 
	data-signal-error-for="targetretribusi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="targetretribusi" data-fieldname="targetretribusi" >

	<label class="r-edit-label control-label" for="{$labelfor_targetretribusi}">
		{BEGIN targetretribusi_label}{$label al_peranserta targetretribusi }{END targetretribusi_label}
	</label>
	<div class="r-edit-field">
		{$targetretribusi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="targetretribusi">
		<div class="text-muted" >
		{$tooltip al_peranserta targetretribusi }		</div>
	</div>
</div>


{END targetretribusi_fieldblock}
											
{BEGIN persentasecapainretribusi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_persentasecapainretribusi}  r-vertical-field" 
	data-signal-error-for="persentasecapainretribusi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="persentasecapainretribusi" data-fieldname="persentasecapainretribusi" >

	<label class="r-edit-label control-label" for="{$labelfor_persentasecapainretribusi}">
		{BEGIN persentasecapainretribusi_label}{$label al_peranserta persentasecapainretribusi }{END persentasecapainretribusi_label}
	</label>
	<div class="r-edit-field">
		{$persentasecapainretribusi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="persentasecapainretribusi">
		<div class="text-muted" >
		{$tooltip al_peranserta persentasecapainretribusi }		</div>
	</div>
</div>


{END persentasecapainretribusi_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Simpan			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Tata ulang			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Batal			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
