<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel al_sdm_pengelola edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Balik ke daftar</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="al_sdm_pengelola_view.php?{$editlink}" {$view_page_button_attrs}>Lihat</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN namainstansi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_namainstansi}  r-vertical-field" 
	data-signal-error-for="namainstansi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="namainstansi" data-fieldname="namainstansi" >

	<label class="r-edit-label control-label" for="{$labelfor_namainstansi}">
		{BEGIN namainstansi_label}{$label al_sdm_pengelola namainstansi }{END namainstansi_label}
	</label>
	<div class="r-edit-field">
		{$namainstansi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="namainstansi">
		<div class="text-muted" >
		{$tooltip al_sdm_pengelola namainstansi }		</div>
	</div>
</div>


{END namainstansi_fieldblock}
											
{BEGIN r_kabupatenkotaid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_r_kabupatenkotaid}  r-vertical-field" 
	data-signal-error-for="r_kabupatenkotaid{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="r_kabupatenkotaid" data-fieldname="r_kabupatenkotaid" >

	<label class="r-edit-label control-label" for="{$labelfor_r_kabupatenkotaid}">
		{BEGIN r_kabupatenkotaid_label}{$label al_sdm_pengelola r_kabupatenkotaid }{END r_kabupatenkotaid_label}
	</label>
	<div class="r-edit-field">
		{$r_kabupatenkotaid_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="r_kabupatenkotaid">
		<div class="text-muted" >
		{$tooltip al_sdm_pengelola r_kabupatenkotaid }		</div>
	</div>
</div>


{END r_kabupatenkotaid_fieldblock}
											
{BEGIN pegawaitetap_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pegawaitetap}  r-vertical-field" 
	data-signal-error-for="pegawaitetap{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="pegawaitetap" data-fieldname="pegawaitetap" >

	<label class="r-edit-label control-label" for="{$labelfor_pegawaitetap}">
		{BEGIN pegawaitetap_label}{$label al_sdm_pengelola pegawaitetap }{END pegawaitetap_label}
	</label>
	<div class="r-edit-field">
		{$pegawaitetap_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="pegawaitetap">
		<div class="text-muted" >
		{$tooltip al_sdm_pengelola pegawaitetap }		</div>
	</div>
</div>


{END pegawaitetap_fieldblock}
											
{BEGIN pegawaikontrak_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pegawaikontrak}  r-vertical-field" 
	data-signal-error-for="pegawaikontrak{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="pegawaikontrak" data-fieldname="pegawaikontrak" >

	<label class="r-edit-label control-label" for="{$labelfor_pegawaikontrak}">
		{BEGIN pegawaikontrak_label}{$label al_sdm_pengelola pegawaikontrak }{END pegawaikontrak_label}
	</label>
	<div class="r-edit-field">
		{$pegawaikontrak_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="pegawaikontrak">
		<div class="text-muted" >
		{$tooltip al_sdm_pengelola pegawaikontrak }		</div>
	</div>
</div>


{END pegawaikontrak_fieldblock}
											
{BEGIN strukturorganisasi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_strukturorganisasi}  r-vertical-field" 
	data-signal-error-for="strukturorganisasi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="strukturorganisasi" data-fieldname="strukturorganisasi" >

	<label class="r-edit-label control-label" for="{$labelfor_strukturorganisasi}">
		{BEGIN strukturorganisasi_label}{$label al_sdm_pengelola strukturorganisasi }{END strukturorganisasi_label}
	</label>
	<div class="r-edit-field">
		{$strukturorganisasi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="strukturorganisasi">
		<div class="text-muted" >
		{$tooltip al_sdm_pengelola strukturorganisasi }		</div>
	</div>
</div>


{END strukturorganisasi_fieldblock}
											
{BEGIN luluss2s3_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_luluss2s3}  r-vertical-field" 
	data-signal-error-for="luluss2s3{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="luluss2s3" data-fieldname="luluss2s3" >

	<label class="r-edit-label control-label" for="{$labelfor_luluss2s3}">
		{BEGIN luluss2s3_label}{$label al_sdm_pengelola luluss2s3 }{END luluss2s3_label}
	</label>
	<div class="r-edit-field">
		{$luluss2s3_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="luluss2s3">
		<div class="text-muted" >
		{$tooltip al_sdm_pengelola luluss2s3 }		</div>
	</div>
</div>


{END luluss2s3_fieldblock}
											
{BEGIN luluss1_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_luluss1}  r-vertical-field" 
	data-signal-error-for="luluss1{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="luluss1" data-fieldname="luluss1" >

	<label class="r-edit-label control-label" for="{$labelfor_luluss1}">
		{BEGIN luluss1_label}{$label al_sdm_pengelola luluss1 }{END luluss1_label}
	</label>
	<div class="r-edit-field">
		{$luluss1_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="luluss1">
		<div class="text-muted" >
		{$tooltip al_sdm_pengelola luluss1 }		</div>
	</div>
</div>


{END luluss1_fieldblock}
											
{BEGIN lulusd3_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lulusd3}  r-vertical-field" 
	data-signal-error-for="lulusd3{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="lulusd3" data-fieldname="lulusd3" >

	<label class="r-edit-label control-label" for="{$labelfor_lulusd3}">
		{BEGIN lulusd3_label}{$label al_sdm_pengelola lulusd3 }{END lulusd3_label}
	</label>
	<div class="r-edit-field">
		{$lulusd3_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="lulusd3">
		<div class="text-muted" >
		{$tooltip al_sdm_pengelola lulusd3 }		</div>
	</div>
</div>


{END lulusd3_fieldblock}
											
{BEGIN lulussma_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lulussma}  r-vertical-field" 
	data-signal-error-for="lulussma{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="lulussma" data-fieldname="lulussma" >

	<label class="r-edit-label control-label" for="{$labelfor_lulussma}">
		{BEGIN lulussma_label}{$label al_sdm_pengelola lulussma }{END lulussma_label}
	</label>
	<div class="r-edit-field">
		{$lulussma_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="lulussma">
		<div class="text-muted" >
		{$tooltip al_sdm_pengelola lulussma }		</div>
	</div>
</div>


{END lulussma_fieldblock}
											
{BEGIN lulussmp_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lulussmp}  r-vertical-field" 
	data-signal-error-for="lulussmp{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="lulussmp" data-fieldname="lulussmp" >

	<label class="r-edit-label control-label" for="{$labelfor_lulussmp}">
		{BEGIN lulussmp_label}{$label al_sdm_pengelola lulussmp }{END lulussmp_label}
	</label>
	<div class="r-edit-field">
		{$lulussmp_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="lulussmp">
		<div class="text-muted" >
		{$tooltip al_sdm_pengelola lulussmp }		</div>
	</div>
</div>


{END lulussmp_fieldblock}
											
{BEGIN total_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_total}  r-vertical-field" 
	data-signal-error-for="total{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="total" data-fieldname="total" >

	<label class="r-edit-label control-label" for="{$labelfor_total}">
		{BEGIN total_label}{$label al_sdm_pengelola total }{END total_label}
	</label>
	<div class="r-edit-field">
		{$total_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="total">
		<div class="text-muted" >
		{$tooltip al_sdm_pengelola total }		</div>
	</div>
</div>


{END total_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Simpan			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Batal			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Tata ulang		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="al_sdm_pengelola_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		Lihat		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
