<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel al_spalds_prov add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Balik ke daftar</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Lihat</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class=" r-ori-vert			col-md-12
	">
	 
		<ul class="nav nav-pills nav-justified" id="stepnav{$id}"  data-stepcontrol data-itemtype="step_nav" data-itemid="step_nav" {$item_step_nav} data-pageid="{$pageid}">
			<li role="presentation" data-step="0">
			<a href="#">Lokasi Instalasi</a>
		</li>
			<li role="presentation" data-step="1">
			<a href="#">Data Pembiayaan</a>
		</li>
			<li role="presentation" data-step="2">
			<a href="#">Data Teknis</a>
		</li>
	</ul>	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN steps_block}
			<div id="step_0_{$id}" class="stepFrame" data-step="0" >
		{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN provinsi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_provinsi}  r-horizontal-field form-horizontal" 
	data-signal-error-for="provinsi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="provinsi" data-fieldname="provinsi" >

	<label class="r-edit-label control-label" for="{$labelfor_provinsi}">
		{BEGIN provinsi_label}{$label al_spalds_prov provinsi }{END provinsi_label}
	</label>
	<div class="r-edit-field">
		{$provinsi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="provinsi">
		<div class="text-muted" >
		{$tooltip al_spalds_prov provinsi }		</div>
	</div>
</div>


{END provinsi_fieldblock}
											
{BEGIN kabkota_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kabkota}  r-horizontal-field form-horizontal" 
	data-signal-error-for="kabkota{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="kabkota" data-fieldname="kabkota" >

	<label class="r-edit-label control-label" for="{$labelfor_kabkota}">
		{BEGIN kabkota_label}{$label al_spalds_prov kabkota }{END kabkota_label}
	</label>
	<div class="r-edit-field">
		{$kabkota_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kabkota">
		<div class="text-muted" >
		{$tooltip al_spalds_prov kabkota }		</div>
	</div>
</div>


{END kabkota_fieldblock}
											
{BEGIN kecamatan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kecamatan}  r-horizontal-field form-horizontal" 
	data-signal-error-for="kecamatan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="kecamatan" data-fieldname="kecamatan" >

	<label class="r-edit-label control-label" for="{$labelfor_kecamatan}">
		{BEGIN kecamatan_label}{$label al_spalds_prov kecamatan }{END kecamatan_label}
	</label>
	<div class="r-edit-field">
		{$kecamatan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kecamatan">
		<div class="text-muted" >
		{$tooltip al_spalds_prov kecamatan }		</div>
	</div>
</div>


{END kecamatan_fieldblock}
											
{BEGIN kelurahan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kelurahan}  r-horizontal-field form-horizontal" 
	data-signal-error-for="kelurahan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="kelurahan" data-fieldname="kelurahan" >

	<label class="r-edit-label control-label" for="{$labelfor_kelurahan}">
		{BEGIN kelurahan_label}{$label al_spalds_prov kelurahan }{END kelurahan_label}
	</label>
	<div class="r-edit-field">
		{$kelurahan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kelurahan">
		<div class="text-muted" >
		{$tooltip al_spalds_prov kelurahan }		</div>
	</div>
</div>


{END kelurahan_fieldblock}
											
{BEGIN nama_instalasi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nama_instalasi}  r-horizontal-field form-horizontal" 
	data-signal-error-for="nama_instalasi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="nama_instalasi" data-fieldname="nama_instalasi" >

	<label class="r-edit-label control-label" for="{$labelfor_nama_instalasi}">
		{BEGIN nama_instalasi_label}{$label al_spalds_prov nama_instalasi }{END nama_instalasi_label}
	</label>
	<div class="r-edit-field">
		{$nama_instalasi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="nama_instalasi">
		<div class="text-muted" >
		{$tooltip al_spalds_prov nama_instalasi }		</div>
	</div>
</div>


{END nama_instalasi_fieldblock}
											
{BEGIN jenis_infrastruktur_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jenis_infrastruktur}  r-horizontal-field form-horizontal" 
	data-signal-error-for="jenis_infrastruktur{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="jenis_infrastruktur" data-fieldname="jenis_infrastruktur" >

	<label class="r-edit-label control-label" for="{$labelfor_jenis_infrastruktur}">
		{BEGIN jenis_infrastruktur_label}{$label al_spalds_prov jenis_infrastruktur }{END jenis_infrastruktur_label}
	</label>
	<div class="r-edit-field">
		{$jenis_infrastruktur_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jenis_infrastruktur">
		<div class="text-muted" >
		{$tooltip al_spalds_prov jenis_infrastruktur }		</div>
	</div>
</div>


{END jenis_infrastruktur_fieldblock}
											
{BEGIN alamat_lengkap_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_alamat_lengkap}  r-horizontal-field form-horizontal" 
	data-signal-error-for="alamat_lengkap{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="alamat_lengkap" data-fieldname="alamat_lengkap" >

	<label class="r-edit-label control-label" for="{$labelfor_alamat_lengkap}">
		{BEGIN alamat_lengkap_label}{$label al_spalds_prov alamat_lengkap }{END alamat_lengkap_label}
	</label>
	<div class="r-edit-field">
		{$alamat_lengkap_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="alamat_lengkap">
		<div class="text-muted" >
		{$tooltip al_spalds_prov alamat_lengkap }		</div>
	</div>
</div>


{END alamat_lengkap_fieldblock}
											
{BEGIN longitude_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_longitude}  r-horizontal-field form-horizontal" 
	data-signal-error-for="longitude{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="longitude" data-fieldname="longitude" >

	<label class="r-edit-label control-label" for="{$labelfor_longitude}">
		{BEGIN longitude_label}{$label al_spalds_prov longitude }{END longitude_label}
	</label>
	<div class="r-edit-field">
		{$longitude_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="longitude">
		<div class="text-muted" >
		{$tooltip al_spalds_prov longitude }		</div>
	</div>
</div>


{END longitude_fieldblock}
											
{BEGIN latitude_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_latitude}  r-horizontal-field form-horizontal" 
	data-signal-error-for="latitude{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="latitude" data-fieldname="latitude" >

	<label class="r-edit-label control-label" for="{$labelfor_latitude}">
		{BEGIN latitude_label}{$label al_spalds_prov latitude }{END latitude_label}
	</label>
	<div class="r-edit-field">
		{$latitude_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="latitude">
		<div class="text-muted" >
		{$tooltip al_spalds_prov latitude }		</div>
	</div>
</div>


{END latitude_fieldblock}
											
{BEGIN skalapelayanan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_skalapelayanan}  r-horizontal-field form-horizontal" 
	data-signal-error-for="skalapelayanan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="skalapelayanan" data-fieldname="skalapelayanan" >

	<label class="r-edit-label control-label" for="{$labelfor_skalapelayanan}">
		{BEGIN skalapelayanan_label}{$label al_spalds_prov skalapelayanan }{END skalapelayanan_label}
	</label>
	<div class="r-edit-field">
		{$skalapelayanan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="skalapelayanan">
		<div class="text-muted" >
		{$tooltip al_spalds_prov skalapelayanan }		</div>
	</div>
</div>


{END skalapelayanan_fieldblock}
											
{BEGIN tahunkontruksi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tahunkontruksi}  r-horizontal-field form-horizontal" 
	data-signal-error-for="tahunkontruksi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="tahunkontruksi" data-fieldname="tahunkontruksi" >

	<label class="r-edit-label control-label" for="{$labelfor_tahunkontruksi}">
		{BEGIN tahunkontruksi_label}{$label al_spalds_prov tahunkontruksi }{END tahunkontruksi_label}
	</label>
	<div class="r-edit-field">
		{$tahunkontruksi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tahunkontruksi">
		<div class="text-muted" >
		{$tooltip al_spalds_prov tahunkontruksi }		</div>
	</div>
</div>


{END tahunkontruksi_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
</div>	
				<div id="step_1_{$id}" class="stepFrame" data-step="1" style="display:none">
		{BEGIN step3_block}




 
	 
												<table 
	data-body-align="center"
	data-location="step3" id="form_step3_{$pageid}" data-makeup="small" {$form_step3} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_step3_0} >
										

{BEGIN cellblock_step3_c1}
<td
	{$cell_step3_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="step3_c1" data-pageid="{$pageid}"
		data-v-cell=""
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN APBN_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_APBN}  r-horizontal-field form-horizontal" 
	data-signal-error-for="APBN{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="APBN" data-fieldname="APBN" >

	<label class="r-edit-label control-label" for="{$labelfor_APBN}">
		{BEGIN APBN_label}{$label al_spalds_prov APBN }{END APBN_label}
	</label>
	<div class="r-edit-field">
		{$APBN_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="APBN">
		<div class="text-muted" >
		{$tooltip al_spalds_prov APBN }		</div>
	</div>
</div>


{END APBN_fieldblock}
											
{BEGIN APBD_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_APBD}  r-horizontal-field form-horizontal" 
	data-signal-error-for="APBD{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="APBD" data-fieldname="APBD" >

	<label class="r-edit-label control-label" for="{$labelfor_APBD}">
		{BEGIN APBD_label}{$label al_spalds_prov APBD }{END APBD_label}
	</label>
	<div class="r-edit-field">
		{$APBD_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="APBD">
		<div class="text-muted" >
		{$tooltip al_spalds_prov APBD }		</div>
	</div>
</div>


{END APBD_fieldblock}
											
{BEGIN lainlain_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lainlain}  r-horizontal-field form-horizontal" 
	data-signal-error-for="lainlain{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="lainlain" data-fieldname="lainlain" >

	<label class="r-edit-label control-label" for="{$labelfor_lainlain}">
		{BEGIN lainlain_label}{$label al_spalds_prov lainlain }{END lainlain_label}
	</label>
	<div class="r-edit-field">
		{$lainlain_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="lainlain">
		<div class="text-muted" >
		{$tooltip al_spalds_prov lainlain }		</div>
	</div>
</div>


{END lainlain_fieldblock}
											
{BEGIN hibah_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hibah}  r-horizontal-field form-horizontal" 
	data-signal-error-for="hibah{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="hibah" data-fieldname="hibah" >

	<label class="r-edit-label control-label" for="{$labelfor_hibah}">
		{BEGIN hibah_label}{$label al_spalds_prov hibah }{END hibah_label}
	</label>
	<div class="r-edit-field">
		{$hibah_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="hibah">
		<div class="text-muted" >
		{$tooltip al_spalds_prov hibah }		</div>
	</div>
</div>


{END hibah_fieldblock}
											
{BEGIN CSR_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CSR}  r-horizontal-field form-horizontal" 
	data-signal-error-for="CSR{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="CSR" data-fieldname="CSR" >

	<label class="r-edit-label control-label" for="{$labelfor_CSR}">
		{BEGIN CSR_label}{$label al_spalds_prov CSR }{END CSR_label}
	</label>
	<div class="r-edit-field">
		{$CSR_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="CSR">
		<div class="text-muted" >
		{$tooltip al_spalds_prov CSR }		</div>
	</div>
</div>


{END CSR_fieldblock}
											
{BEGIN total_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_total}  r-horizontal-field form-horizontal" 
	data-signal-error-for="total{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="total" data-fieldname="total" >

	<label class="r-edit-label control-label" for="{$labelfor_total}">
		{BEGIN total_label}{$label al_spalds_prov total }{END total_label}
	</label>
	<div class="r-edit-field">
		{$total_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="total">
		<div class="text-muted" >
		{$tooltip al_spalds_prov total }		</div>
	</div>
</div>


{END total_fieldblock}
	
								</td>
			{END cellblock_step3_c1}
								</tr>
			</tbody></table>
{END step3_block}
</div>	
				<div id="step_2_{$id}" class="stepFrame" data-step="2" style="display:none">
		{BEGIN step4_block}




 
	 
												<table 
	data-body-align="center"
	data-location="step4" id="form_step4_{$pageid}" data-makeup="small" {$form_step4} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_step4_0} >
										

{BEGIN cellblock_step4_c1}
<td
	{$cell_step4_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="step4_c1" data-pageid="{$pageid}"
		data-v-cell=""
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN status_keberfungsian_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_status_keberfungsian}  r-horizontal-field form-horizontal" 
	data-signal-error-for="status_keberfungsian{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="status_keberfungsian" data-fieldname="status_keberfungsian" >

	<label class="r-edit-label control-label" for="{$labelfor_status_keberfungsian}">
		{BEGIN status_keberfungsian_label}{$label al_spalds_prov status_keberfungsian }{END status_keberfungsian_label}
	</label>
	<div class="r-edit-field">
		{$status_keberfungsian_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="status_keberfungsian">
		<div class="text-muted" >
		{$tooltip al_spalds_prov status_keberfungsian }		</div>
	</div>
</div>


{END status_keberfungsian_fieldblock}
											
{BEGIN kualitas_keberfungsian_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kualitas_keberfungsian}  r-horizontal-field form-horizontal" 
	data-signal-error-for="kualitas_keberfungsian{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="kualitas_keberfungsian" data-fieldname="kualitas_keberfungsian" >

	<label class="r-edit-label control-label" for="{$labelfor_kualitas_keberfungsian}">
		{BEGIN kualitas_keberfungsian_label}{$label al_spalds_prov kualitas_keberfungsian }{END kualitas_keberfungsian_label}
	</label>
	<div class="r-edit-field">
		{$kualitas_keberfungsian_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kualitas_keberfungsian">
		<div class="text-muted" >
		{$tooltip al_spalds_prov kualitas_keberfungsian }		</div>
	</div>
</div>


{END kualitas_keberfungsian_fieldblock}
											
{BEGIN keterangan_kondisi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_kondisi}  r-horizontal-field form-horizontal" 
	data-signal-error-for="keterangan_kondisi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="keterangan_kondisi" data-fieldname="keterangan_kondisi" >

	<label class="r-edit-label control-label" for="{$labelfor_keterangan_kondisi}">
		{BEGIN keterangan_kondisi_label}{$label al_spalds_prov keterangan_kondisi }{END keterangan_kondisi_label}
	</label>
	<div class="r-edit-field">
		{$keterangan_kondisi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="keterangan_kondisi">
		<div class="text-muted" >
		{$tooltip al_spalds_prov keterangan_kondisi }		</div>
	</div>
</div>


{END keterangan_kondisi_fieldblock}
											
{BEGIN status_lahan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_status_lahan}  r-horizontal-field form-horizontal" 
	data-signal-error-for="status_lahan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="status_lahan" data-fieldname="status_lahan" >

	<label class="r-edit-label control-label" for="{$labelfor_status_lahan}">
		{BEGIN status_lahan_label}{$label al_spalds_prov status_lahan }{END status_lahan_label}
	</label>
	<div class="r-edit-field">
		{$status_lahan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="status_lahan">
		<div class="text-muted" >
		{$tooltip al_spalds_prov status_lahan }		</div>
	</div>
</div>


{END status_lahan_fieldblock}
											
{BEGIN pengelolaan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pengelolaan}  r-horizontal-field form-horizontal" 
	data-signal-error-for="pengelolaan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="pengelolaan" data-fieldname="pengelolaan" >

	<label class="r-edit-label control-label" for="{$labelfor_pengelolaan}">
		{BEGIN pengelolaan_label}{$label al_spalds_prov pengelolaan }{END pengelolaan_label}
	</label>
	<div class="r-edit-field">
		{$pengelolaan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="pengelolaan">
		<div class="text-muted" >
		{$tooltip al_spalds_prov pengelolaan }		</div>
	</div>
</div>


{END pengelolaan_fieldblock}
											
{BEGIN kapasitasdesain_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kapasitasdesain}  r-horizontal-field form-horizontal" 
	data-signal-error-for="kapasitasdesain{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="kapasitasdesain" data-fieldname="kapasitasdesain" >

	<label class="r-edit-label control-label" for="{$labelfor_kapasitasdesain}">
		{BEGIN kapasitasdesain_label}{$label al_spalds_prov kapasitasdesain }{END kapasitasdesain_label}
	</label>
	<div class="r-edit-field">
		{$kapasitasdesain_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kapasitasdesain">
		<div class="text-muted" >
		{$tooltip al_spalds_prov kapasitasdesain }		</div>
	</div>
</div>


{END kapasitasdesain_fieldblock}
											
{BEGIN jenispengelolaan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jenispengelolaan}  r-horizontal-field form-horizontal" 
	data-signal-error-for="jenispengelolaan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="jenispengelolaan" data-fieldname="jenispengelolaan" >

	<label class="r-edit-label control-label" for="{$labelfor_jenispengelolaan}">
		{BEGIN jenispengelolaan_label}{$label al_spalds_prov jenispengelolaan }{END jenispengelolaan_label}
	</label>
	<div class="r-edit-field">
		{$jenispengelolaan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jenispengelolaan">
		<div class="text-muted" >
		{$tooltip al_spalds_prov jenispengelolaan }		</div>
	</div>
</div>


{END jenispengelolaan_fieldblock}
											
{BEGIN opsi_teknologi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_opsi_teknologi}  r-horizontal-field form-horizontal" 
	data-signal-error-for="opsi_teknologi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="opsi_teknologi" data-fieldname="opsi_teknologi" >

	<label class="r-edit-label control-label" for="{$labelfor_opsi_teknologi}">
		{BEGIN opsi_teknologi_label}{$label al_spalds_prov opsi_teknologi }{END opsi_teknologi_label}
	</label>
	<div class="r-edit-field">
		{$opsi_teknologi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="opsi_teknologi">
		<div class="text-muted" >
		{$tooltip al_spalds_prov opsi_teknologi }		</div>
	</div>
</div>


{END opsi_teknologi_fieldblock}
											
{BEGIN biaya_operasional_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_biaya_operasional}  r-horizontal-field form-horizontal" 
	data-signal-error-for="biaya_operasional{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field27" {$item_integrated_edit_field27} data-pageid="{$pageid}" data-field="biaya_operasional" data-fieldname="biaya_operasional" >

	<label class="r-edit-label control-label" for="{$labelfor_biaya_operasional}">
		{BEGIN biaya_operasional_label}{$label al_spalds_prov biaya_operasional }{END biaya_operasional_label}
	</label>
	<div class="r-edit-field">
		{$biaya_operasional_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="biaya_operasional">
		<div class="text-muted" >
		{$tooltip al_spalds_prov biaya_operasional }		</div>
	</div>
</div>


{END biaya_operasional_fieldblock}
											
{BEGIN jumlah_pemanfaat_jiwa_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_pemanfaat_jiwa}  r-horizontal-field form-horizontal" 
	data-signal-error-for="jumlah_pemanfaat_jiwa{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="jumlah_pemanfaat_jiwa" data-fieldname="jumlah_pemanfaat_jiwa" >

	<label class="r-edit-label control-label" for="{$labelfor_jumlah_pemanfaat_jiwa}">
		{BEGIN jumlah_pemanfaat_jiwa_label}{$label al_spalds_prov jumlah_pemanfaat_jiwa }{END jumlah_pemanfaat_jiwa_label}
	</label>
	<div class="r-edit-field">
		{$jumlah_pemanfaat_jiwa_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jumlah_pemanfaat_jiwa">
		<div class="text-muted" >
		{$tooltip al_spalds_prov jumlah_pemanfaat_jiwa }		</div>
	</div>
</div>


{END jumlah_pemanfaat_jiwa_fieldblock}
											
{BEGIN jumlah_pemanfaat_KK_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_pemanfaat_KK}  r-horizontal-field form-horizontal" 
	data-signal-error-for="jumlah_pemanfaat_KK{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="jumlah_pemanfaat_KK" data-fieldname="jumlah_pemanfaat_KK" >

	<label class="r-edit-label control-label" for="{$labelfor_jumlah_pemanfaat_KK}">
		{BEGIN jumlah_pemanfaat_KK_label}{$label al_spalds_prov jumlah_pemanfaat_KK }{END jumlah_pemanfaat_KK_label}
	</label>
	<div class="r-edit-field">
		{$jumlah_pemanfaat_KK_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jumlah_pemanfaat_KK">
		<div class="text-muted" >
		{$tooltip al_spalds_prov jumlah_pemanfaat_KK }		</div>
	</div>
</div>


{END jumlah_pemanfaat_KK_fieldblock}
											
{BEGIN jumlah_rumah_terlayani_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_rumah_terlayani}  r-horizontal-field form-horizontal" 
	data-signal-error-for="jumlah_rumah_terlayani{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-field="jumlah_rumah_terlayani" data-fieldname="jumlah_rumah_terlayani" >

	<label class="r-edit-label control-label" for="{$labelfor_jumlah_rumah_terlayani}">
		{BEGIN jumlah_rumah_terlayani_label}{$label al_spalds_prov jumlah_rumah_terlayani }{END jumlah_rumah_terlayani_label}
	</label>
	<div class="r-edit-field">
		{$jumlah_rumah_terlayani_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jumlah_rumah_terlayani">
		<div class="text-muted" >
		{$tooltip al_spalds_prov jumlah_rumah_terlayani }		</div>
	</div>
</div>


{END jumlah_rumah_terlayani_fieldblock}
											
{BEGIN jumlah_unit_tangki_septik_individual_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_unit_tangki_septik_individual}  r-horizontal-field form-horizontal" 
	data-signal-error-for="jumlah_unit_tangki_septik_individual{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field31" {$item_integrated_edit_field31} data-pageid="{$pageid}" data-field="jumlah_unit_tangki_septik_individual" data-fieldname="jumlah_unit_tangki_septik_individual" >

	<label class="r-edit-label control-label" for="{$labelfor_jumlah_unit_tangki_septik_individual}">
		{BEGIN jumlah_unit_tangki_septik_individual_label}{$label al_spalds_prov jumlah_unit_tangki_septik_individual }{END jumlah_unit_tangki_septik_individual_label}
	</label>
	<div class="r-edit-field">
		{$jumlah_unit_tangki_septik_individual_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jumlah_unit_tangki_septik_individual">
		<div class="text-muted" >
		{$tooltip al_spalds_prov jumlah_unit_tangki_septik_individual }		</div>
	</div>
</div>


{END jumlah_unit_tangki_septik_individual_fieldblock}
											
{BEGIN jumlah_unit_tangki_septik_komunal_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_unit_tangki_septik_komunal}  r-horizontal-field form-horizontal" 
	data-signal-error-for="jumlah_unit_tangki_septik_komunal{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field32" {$item_integrated_edit_field32} data-pageid="{$pageid}" data-field="jumlah_unit_tangki_septik_komunal" data-fieldname="jumlah_unit_tangki_septik_komunal" >

	<label class="r-edit-label control-label" for="{$labelfor_jumlah_unit_tangki_septik_komunal}">
		{BEGIN jumlah_unit_tangki_septik_komunal_label}{$label al_spalds_prov jumlah_unit_tangki_septik_komunal }{END jumlah_unit_tangki_septik_komunal_label}
	</label>
	<div class="r-edit-field">
		{$jumlah_unit_tangki_septik_komunal_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jumlah_unit_tangki_septik_komunal">
		<div class="text-muted" >
		{$tooltip al_spalds_prov jumlah_unit_tangki_septik_komunal }		</div>
	</div>
</div>


{END jumlah_unit_tangki_septik_komunal_fieldblock}
											
{BEGIN jumlah_unit_bilik_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_unit_bilik}  r-horizontal-field form-horizontal" 
	data-signal-error-for="jumlah_unit_bilik{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field33" {$item_integrated_edit_field33} data-pageid="{$pageid}" data-field="jumlah_unit_bilik" data-fieldname="jumlah_unit_bilik" >

	<label class="r-edit-label control-label" for="{$labelfor_jumlah_unit_bilik}">
		{BEGIN jumlah_unit_bilik_label}{$label al_spalds_prov jumlah_unit_bilik }{END jumlah_unit_bilik_label}
	</label>
	<div class="r-edit-field">
		{$jumlah_unit_bilik_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jumlah_unit_bilik">
		<div class="text-muted" >
		{$tooltip al_spalds_prov jumlah_unit_bilik }		</div>
	</div>
</div>


{END jumlah_unit_bilik_fieldblock}
											
{BEGIN foto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_foto}  r-horizontal-field form-horizontal" 
	data-signal-error-for="foto{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field36" {$item_integrated_edit_field36} data-pageid="{$pageid}" data-field="foto" data-fieldname="foto" >

	<label class="r-edit-label control-label" for="{$labelfor_foto}">
		{BEGIN foto_label}{$label al_spalds_prov foto }{END foto_label}
	</label>
	<div class="r-edit-field">
		{$foto_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="foto">
		<div class="text-muted" >
		{$tooltip al_spalds_prov foto }		</div>
	</div>
</div>


{END foto_fieldblock}
											
{BEGIN suplai_air_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_suplai_air}  r-horizontal-field form-horizontal" 
	data-signal-error-for="suplai_air{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field34" {$item_integrated_edit_field34} data-pageid="{$pageid}" data-field="suplai_air" data-fieldname="suplai_air" >

	<label class="r-edit-label control-label" for="{$labelfor_suplai_air}">
		{BEGIN suplai_air_label}{$label al_spalds_prov suplai_air }{END suplai_air_label}
	</label>
	<div class="r-edit-field">
		{$suplai_air_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="suplai_air">
		<div class="text-muted" >
		{$tooltip al_spalds_prov suplai_air }		</div>
	</div>
</div>


{END suplai_air_fieldblock}
											
{BEGIN penyedotan_lumpur_tinja_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_penyedotan_lumpur_tinja}  r-horizontal-field form-horizontal" 
	data-signal-error-for="penyedotan_lumpur_tinja{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field35" {$item_integrated_edit_field35} data-pageid="{$pageid}" data-field="penyedotan_lumpur_tinja" data-fieldname="penyedotan_lumpur_tinja" >

	<label class="r-edit-label control-label" for="{$labelfor_penyedotan_lumpur_tinja}">
		{BEGIN penyedotan_lumpur_tinja_label}{$label al_spalds_prov penyedotan_lumpur_tinja }{END penyedotan_lumpur_tinja_label}
	</label>
	<div class="r-edit-field">
		{$penyedotan_lumpur_tinja_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="penyedotan_lumpur_tinja">
		<div class="text-muted" >
		{$tooltip al_spalds_prov penyedotan_lumpur_tinja }		</div>
	</div>
</div>


{END penyedotan_lumpur_tinja_fieldblock}
											
{BEGIN kendala_catatan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kendala_catatan}  r-horizontal-field form-horizontal" 
	data-signal-error-for="kendala_catatan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field37" {$item_integrated_edit_field37} data-pageid="{$pageid}" data-field="kendala_catatan" data-fieldname="kendala_catatan" >

	<label class="r-edit-label control-label" for="{$labelfor_kendala_catatan}">
		{BEGIN kendala_catatan_label}{$label al_spalds_prov kendala_catatan }{END kendala_catatan_label}
	</label>
	<div class="r-edit-field">
		{$kendala_catatan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kendala_catatan">
		<div class="text-muted" >
		{$tooltip al_spalds_prov kendala_catatan }		</div>
	</div>
</div>


{END kendala_catatan_fieldblock}
											
{BEGIN tanggal_update_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tanggal_update}  r-horizontal-field form-horizontal" 
	data-signal-error-for="tanggal_update{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field39" {$item_integrated_edit_field39} data-pageid="{$pageid}" data-field="tanggal_update" data-fieldname="tanggal_update" >

	<label class="r-edit-label control-label" for="{$labelfor_tanggal_update}">
		{BEGIN tanggal_update_label}{$label al_spalds_prov tanggal_update }{END tanggal_update_label}
	</label>
	<div class="r-edit-field">
		{$tanggal_update_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tanggal_update">
		<div class="text-muted" >
		{$tooltip al_spalds_prov tanggal_update }		</div>
	</div>
</div>


{END tanggal_update_fieldblock}
	
								</td>
			{END cellblock_step4_c1}
								</tr>
			</tbody></table>
{END step4_block}
</div>	
	{END steps_block}									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		{BEGIN nextStepButton}
<span data-itemtype="next_step" data-itemid="next_step" {$item_next_step} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" id="nextstep{$id}" >
							Next			</a>
</span>
{END nextStepButton}
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Simpan			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Tata ulang			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Batal			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
