<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel al_spalds search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_spalds_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_spalds}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_spalds{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_spalds" data-fieldname="id_spalds" >


	<label class="r-search-label control-label" for="{$labelfor_id_spalds}">
		{$label al_spalds id_spalds }	</label>
	<div class="r-search-option">
		{$searchtype_id_spalds}
	</div>
	<div class="r-search-field">
		{$id_spalds_editcontrol}	</div>
	<div class="r-search-field">
		{$id_spalds_editcontrol1}
	</div>
	
</div>

{END id_spalds_fieldblock}
											
{BEGIN provinsi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_provinsi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="provinsi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="provinsi" data-fieldname="provinsi" >


	<label class="r-search-label control-label" for="{$labelfor_provinsi}">
		{$label al_spalds provinsi }	</label>
	<div class="r-search-option">
		{$searchtype_provinsi}
	</div>
	<div class="r-search-field">
		{$provinsi_editcontrol}	</div>
	<div class="r-search-field">
		{$provinsi_editcontrol1}
	</div>
	
</div>

{END provinsi_fieldblock}
											
{BEGIN kabkota_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kabkota}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kabkota{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="kabkota" data-fieldname="kabkota" >


	<label class="r-search-label control-label" for="{$labelfor_kabkota}">
		{$label al_spalds kabkota }	</label>
	<div class="r-search-option">
		{$searchtype_kabkota}
	</div>
	<div class="r-search-field">
		{$kabkota_editcontrol}	</div>
	<div class="r-search-field">
		{$kabkota_editcontrol1}
	</div>
	
</div>

{END kabkota_fieldblock}
											
{BEGIN kecamatan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kecamatan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kecamatan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="kecamatan" data-fieldname="kecamatan" >


	<label class="r-search-label control-label" for="{$labelfor_kecamatan}">
		{$label al_spalds kecamatan }	</label>
	<div class="r-search-option">
		{$searchtype_kecamatan}
	</div>
	<div class="r-search-field">
		{$kecamatan_editcontrol}	</div>
	<div class="r-search-field">
		{$kecamatan_editcontrol1}
	</div>
	
</div>

{END kecamatan_fieldblock}
											
{BEGIN kelurahan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kelurahan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kelurahan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="kelurahan" data-fieldname="kelurahan" >


	<label class="r-search-label control-label" for="{$labelfor_kelurahan}">
		{$label al_spalds kelurahan }	</label>
	<div class="r-search-option">
		{$searchtype_kelurahan}
	</div>
	<div class="r-search-field">
		{$kelurahan_editcontrol}	</div>
	<div class="r-search-field">
		{$kelurahan_editcontrol1}
	</div>
	
</div>

{END kelurahan_fieldblock}
											
{BEGIN nama_instalasi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nama_instalasi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nama_instalasi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="nama_instalasi" data-fieldname="nama_instalasi" >


	<label class="r-search-label control-label" for="{$labelfor_nama_instalasi}">
		{$label al_spalds nama_instalasi }	</label>
	<div class="r-search-option">
		{$searchtype_nama_instalasi}
	</div>
	<div class="r-search-field">
		{$nama_instalasi_editcontrol}	</div>
	<div class="r-search-field">
		{$nama_instalasi_editcontrol1}
	</div>
	
</div>

{END nama_instalasi_fieldblock}
											
{BEGIN jenis_infrastruktur_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jenis_infrastruktur}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jenis_infrastruktur{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="jenis_infrastruktur" data-fieldname="jenis_infrastruktur" >


	<label class="r-search-label control-label" for="{$labelfor_jenis_infrastruktur}">
		{$label al_spalds jenis_infrastruktur }	</label>
	<div class="r-search-option">
		{$searchtype_jenis_infrastruktur}
	</div>
	<div class="r-search-field">
		{$jenis_infrastruktur_editcontrol}	</div>
	<div class="r-search-field">
		{$jenis_infrastruktur_editcontrol1}
	</div>
	
</div>

{END jenis_infrastruktur_fieldblock}
											
{BEGIN alamat_lengkap_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_alamat_lengkap}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="alamat_lengkap{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="alamat_lengkap" data-fieldname="alamat_lengkap" >


	<label class="r-search-label control-label" for="{$labelfor_alamat_lengkap}">
		{$label al_spalds alamat_lengkap }	</label>
	<div class="r-search-option">
		{$searchtype_alamat_lengkap}
	</div>
	<div class="r-search-field">
		{$alamat_lengkap_editcontrol}	</div>
	<div class="r-search-field">
		{$alamat_lengkap_editcontrol1}
	</div>
	
</div>

{END alamat_lengkap_fieldblock}
											
{BEGIN longitude_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_longitude}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="longitude{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="longitude" data-fieldname="longitude" >


	<label class="r-search-label control-label" for="{$labelfor_longitude}">
		{$label al_spalds longitude }	</label>
	<div class="r-search-option">
		{$searchtype_longitude}
	</div>
	<div class="r-search-field">
		{$longitude_editcontrol}	</div>
	<div class="r-search-field">
		{$longitude_editcontrol1}
	</div>
	
</div>

{END longitude_fieldblock}
											
{BEGIN latitude_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_latitude}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="latitude{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="latitude" data-fieldname="latitude" >


	<label class="r-search-label control-label" for="{$labelfor_latitude}">
		{$label al_spalds latitude }	</label>
	<div class="r-search-option">
		{$searchtype_latitude}
	</div>
	<div class="r-search-field">
		{$latitude_editcontrol}	</div>
	<div class="r-search-field">
		{$latitude_editcontrol1}
	</div>
	
</div>

{END latitude_fieldblock}
											
{BEGIN skalapelayanan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_skalapelayanan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="skalapelayanan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="skalapelayanan" data-fieldname="skalapelayanan" >


	<label class="r-search-label control-label" for="{$labelfor_skalapelayanan}">
		{$label al_spalds skalapelayanan }	</label>
	<div class="r-search-option">
		{$searchtype_skalapelayanan}
	</div>
	<div class="r-search-field">
		{$skalapelayanan_editcontrol}	</div>
	<div class="r-search-field">
		{$skalapelayanan_editcontrol1}
	</div>
	
</div>

{END skalapelayanan_fieldblock}
											
{BEGIN tahunkontruksi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tahunkontruksi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tahunkontruksi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="tahunkontruksi" data-fieldname="tahunkontruksi" >


	<label class="r-search-label control-label" for="{$labelfor_tahunkontruksi}">
		{$label al_spalds tahunkontruksi }	</label>
	<div class="r-search-option">
		{$searchtype_tahunkontruksi}
	</div>
	<div class="r-search-field">
		{$tahunkontruksi_editcontrol}	</div>
	<div class="r-search-field">
		{$tahunkontruksi_editcontrol1}
	</div>
	
</div>

{END tahunkontruksi_fieldblock}
											
{BEGIN status_keberfungsian_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_keberfungsian}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_keberfungsian{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="status_keberfungsian" data-fieldname="status_keberfungsian" >


	<label class="r-search-label control-label" for="{$labelfor_status_keberfungsian}">
		{$label al_spalds status_keberfungsian }	</label>
	<div class="r-search-option">
		{$searchtype_status_keberfungsian}
	</div>
	<div class="r-search-field">
		{$status_keberfungsian_editcontrol}	</div>
	<div class="r-search-field">
		{$status_keberfungsian_editcontrol1}
	</div>
	
</div>

{END status_keberfungsian_fieldblock}
											
{BEGIN kualitas_keberfungsian_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kualitas_keberfungsian}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kualitas_keberfungsian{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="kualitas_keberfungsian" data-fieldname="kualitas_keberfungsian" >


	<label class="r-search-label control-label" for="{$labelfor_kualitas_keberfungsian}">
		{$label al_spalds kualitas_keberfungsian }	</label>
	<div class="r-search-option">
		{$searchtype_kualitas_keberfungsian}
	</div>
	<div class="r-search-field">
		{$kualitas_keberfungsian_editcontrol}	</div>
	<div class="r-search-field">
		{$kualitas_keberfungsian_editcontrol1}
	</div>
	
</div>

{END kualitas_keberfungsian_fieldblock}
											
{BEGIN keterangan_kondisi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_kondisi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="keterangan_kondisi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="keterangan_kondisi" data-fieldname="keterangan_kondisi" >


	<label class="r-search-label control-label" for="{$labelfor_keterangan_kondisi}">
		{$label al_spalds keterangan_kondisi }	</label>
	<div class="r-search-option">
		{$searchtype_keterangan_kondisi}
	</div>
	<div class="r-search-field">
		{$keterangan_kondisi_editcontrol}	</div>
	<div class="r-search-field">
		{$keterangan_kondisi_editcontrol1}
	</div>
	
</div>

{END keterangan_kondisi_fieldblock}
											
{BEGIN APBN_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_APBN}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="APBN{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="APBN" data-fieldname="APBN" >


	<label class="r-search-label control-label" for="{$labelfor_APBN}">
		{$label al_spalds APBN }	</label>
	<div class="r-search-option">
		{$searchtype_APBN}
	</div>
	<div class="r-search-field">
		{$APBN_editcontrol}	</div>
	<div class="r-search-field">
		{$APBN_editcontrol1}
	</div>
	
</div>

{END APBN_fieldblock}
											
{BEGIN APBD_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_APBD}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="APBD{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="APBD" data-fieldname="APBD" >


	<label class="r-search-label control-label" for="{$labelfor_APBD}">
		{$label al_spalds APBD }	</label>
	<div class="r-search-option">
		{$searchtype_APBD}
	</div>
	<div class="r-search-field">
		{$APBD_editcontrol}	</div>
	<div class="r-search-field">
		{$APBD_editcontrol1}
	</div>
	
</div>

{END APBD_fieldblock}
											
{BEGIN lainlain_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lainlain}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lainlain{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="lainlain" data-fieldname="lainlain" >


	<label class="r-search-label control-label" for="{$labelfor_lainlain}">
		{$label al_spalds lainlain }	</label>
	<div class="r-search-option">
		{$searchtype_lainlain}
	</div>
	<div class="r-search-field">
		{$lainlain_editcontrol}	</div>
	<div class="r-search-field">
		{$lainlain_editcontrol1}
	</div>
	
</div>

{END lainlain_fieldblock}
											
{BEGIN hibah_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hibah}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="hibah{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="hibah" data-fieldname="hibah" >


	<label class="r-search-label control-label" for="{$labelfor_hibah}">
		{$label al_spalds hibah }	</label>
	<div class="r-search-option">
		{$searchtype_hibah}
	</div>
	<div class="r-search-field">
		{$hibah_editcontrol}	</div>
	<div class="r-search-field">
		{$hibah_editcontrol1}
	</div>
	
</div>

{END hibah_fieldblock}
											
{BEGIN CSR_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CSR}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CSR{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="CSR" data-fieldname="CSR" >


	<label class="r-search-label control-label" for="{$labelfor_CSR}">
		{$label al_spalds CSR }	</label>
	<div class="r-search-option">
		{$searchtype_CSR}
	</div>
	<div class="r-search-field">
		{$CSR_editcontrol}	</div>
	<div class="r-search-field">
		{$CSR_editcontrol1}
	</div>
	
</div>

{END CSR_fieldblock}
											
{BEGIN total_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_total}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="total{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="total" data-fieldname="total" >


	<label class="r-search-label control-label" for="{$labelfor_total}">
		{$label al_spalds total }	</label>
	<div class="r-search-option">
		{$searchtype_total}
	</div>
	<div class="r-search-field">
		{$total_editcontrol}	</div>
	<div class="r-search-field">
		{$total_editcontrol1}
	</div>
	
</div>

{END total_fieldblock}
											
{BEGIN status_lahan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_lahan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_lahan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="status_lahan" data-fieldname="status_lahan" >


	<label class="r-search-label control-label" for="{$labelfor_status_lahan}">
		{$label al_spalds status_lahan }	</label>
	<div class="r-search-option">
		{$searchtype_status_lahan}
	</div>
	<div class="r-search-field">
		{$status_lahan_editcontrol}	</div>
	<div class="r-search-field">
		{$status_lahan_editcontrol1}
	</div>
	
</div>

{END status_lahan_fieldblock}
											
{BEGIN pengelolaan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pengelolaan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pengelolaan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="pengelolaan" data-fieldname="pengelolaan" >


	<label class="r-search-label control-label" for="{$labelfor_pengelolaan}">
		{$label al_spalds pengelolaan }	</label>
	<div class="r-search-option">
		{$searchtype_pengelolaan}
	</div>
	<div class="r-search-field">
		{$pengelolaan_editcontrol}	</div>
	<div class="r-search-field">
		{$pengelolaan_editcontrol1}
	</div>
	
</div>

{END pengelolaan_fieldblock}
											
{BEGIN kapasitasdesain_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kapasitasdesain}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kapasitasdesain{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="kapasitasdesain" data-fieldname="kapasitasdesain" >


	<label class="r-search-label control-label" for="{$labelfor_kapasitasdesain}">
		{$label al_spalds kapasitasdesain }	</label>
	<div class="r-search-option">
		{$searchtype_kapasitasdesain}
	</div>
	<div class="r-search-field">
		{$kapasitasdesain_editcontrol}	</div>
	<div class="r-search-field">
		{$kapasitasdesain_editcontrol1}
	</div>
	
</div>

{END kapasitasdesain_fieldblock}
											
{BEGIN jenispengelolaan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jenispengelolaan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jenispengelolaan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="jenispengelolaan" data-fieldname="jenispengelolaan" >


	<label class="r-search-label control-label" for="{$labelfor_jenispengelolaan}">
		{$label al_spalds jenispengelolaan }	</label>
	<div class="r-search-option">
		{$searchtype_jenispengelolaan}
	</div>
	<div class="r-search-field">
		{$jenispengelolaan_editcontrol}	</div>
	<div class="r-search-field">
		{$jenispengelolaan_editcontrol1}
	</div>
	
</div>

{END jenispengelolaan_fieldblock}
											
{BEGIN opsi_teknologi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_opsi_teknologi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="opsi_teknologi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="opsi_teknologi" data-fieldname="opsi_teknologi" >


	<label class="r-search-label control-label" for="{$labelfor_opsi_teknologi}">
		{$label al_spalds opsi_teknologi }	</label>
	<div class="r-search-option">
		{$searchtype_opsi_teknologi}
	</div>
	<div class="r-search-field">
		{$opsi_teknologi_editcontrol}	</div>
	<div class="r-search-field">
		{$opsi_teknologi_editcontrol1}
	</div>
	
</div>

{END opsi_teknologi_fieldblock}
											
{BEGIN biaya_operasional_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_biaya_operasional}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="biaya_operasional{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="biaya_operasional" data-fieldname="biaya_operasional" >


	<label class="r-search-label control-label" for="{$labelfor_biaya_operasional}">
		{$label al_spalds biaya_operasional }	</label>
	<div class="r-search-option">
		{$searchtype_biaya_operasional}
	</div>
	<div class="r-search-field">
		{$biaya_operasional_editcontrol}	</div>
	<div class="r-search-field">
		{$biaya_operasional_editcontrol1}
	</div>
	
</div>

{END biaya_operasional_fieldblock}
											
{BEGIN jumlah_pemanfaat_jiwa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_pemanfaat_jiwa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlah_pemanfaat_jiwa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="jumlah_pemanfaat_jiwa" data-fieldname="jumlah_pemanfaat_jiwa" >


	<label class="r-search-label control-label" for="{$labelfor_jumlah_pemanfaat_jiwa}">
		{$label al_spalds jumlah_pemanfaat_jiwa }	</label>
	<div class="r-search-option">
		{$searchtype_jumlah_pemanfaat_jiwa}
	</div>
	<div class="r-search-field">
		{$jumlah_pemanfaat_jiwa_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlah_pemanfaat_jiwa_editcontrol1}
	</div>
	
</div>

{END jumlah_pemanfaat_jiwa_fieldblock}
											
{BEGIN jumlah_pemanfaat_KK_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_pemanfaat_KK}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlah_pemanfaat_KK{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="jumlah_pemanfaat_KK" data-fieldname="jumlah_pemanfaat_KK" >


	<label class="r-search-label control-label" for="{$labelfor_jumlah_pemanfaat_KK}">
		{$label al_spalds jumlah_pemanfaat_KK }	</label>
	<div class="r-search-option">
		{$searchtype_jumlah_pemanfaat_KK}
	</div>
	<div class="r-search-field">
		{$jumlah_pemanfaat_KK_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlah_pemanfaat_KK_editcontrol1}
	</div>
	
</div>

{END jumlah_pemanfaat_KK_fieldblock}
											
{BEGIN jumlah_rumah_terlayani_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_rumah_terlayani}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlah_rumah_terlayani{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="jumlah_rumah_terlayani" data-fieldname="jumlah_rumah_terlayani" >


	<label class="r-search-label control-label" for="{$labelfor_jumlah_rumah_terlayani}">
		{$label al_spalds jumlah_rumah_terlayani }	</label>
	<div class="r-search-option">
		{$searchtype_jumlah_rumah_terlayani}
	</div>
	<div class="r-search-field">
		{$jumlah_rumah_terlayani_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlah_rumah_terlayani_editcontrol1}
	</div>
	
</div>

{END jumlah_rumah_terlayani_fieldblock}
											
{BEGIN jumlah_unit_tangki_septik_individual_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_unit_tangki_septik_individual}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlah_unit_tangki_septik_individual{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="jumlah_unit_tangki_septik_individual" data-fieldname="jumlah_unit_tangki_septik_individual" >


	<label class="r-search-label control-label" for="{$labelfor_jumlah_unit_tangki_septik_individual}">
		{$label al_spalds jumlah_unit_tangki_septik_individual }	</label>
	<div class="r-search-option">
		{$searchtype_jumlah_unit_tangki_septik_individual}
	</div>
	<div class="r-search-field">
		{$jumlah_unit_tangki_septik_individual_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlah_unit_tangki_septik_individual_editcontrol1}
	</div>
	
</div>

{END jumlah_unit_tangki_septik_individual_fieldblock}
											
{BEGIN jumlah_unit_tangki_septik_komunal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_unit_tangki_septik_komunal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlah_unit_tangki_septik_komunal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="jumlah_unit_tangki_septik_komunal" data-fieldname="jumlah_unit_tangki_septik_komunal" >


	<label class="r-search-label control-label" for="{$labelfor_jumlah_unit_tangki_septik_komunal}">
		{$label al_spalds jumlah_unit_tangki_septik_komunal }	</label>
	<div class="r-search-option">
		{$searchtype_jumlah_unit_tangki_septik_komunal}
	</div>
	<div class="r-search-field">
		{$jumlah_unit_tangki_septik_komunal_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlah_unit_tangki_septik_komunal_editcontrol1}
	</div>
	
</div>

{END jumlah_unit_tangki_septik_komunal_fieldblock}
											
{BEGIN jumlah_unit_bilik_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_unit_bilik}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlah_unit_bilik{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="jumlah_unit_bilik" data-fieldname="jumlah_unit_bilik" >


	<label class="r-search-label control-label" for="{$labelfor_jumlah_unit_bilik}">
		{$label al_spalds jumlah_unit_bilik }	</label>
	<div class="r-search-option">
		{$searchtype_jumlah_unit_bilik}
	</div>
	<div class="r-search-field">
		{$jumlah_unit_bilik_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlah_unit_bilik_editcontrol1}
	</div>
	
</div>

{END jumlah_unit_bilik_fieldblock}
											
{BEGIN suplai_air_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_suplai_air}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="suplai_air{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="suplai_air" data-fieldname="suplai_air" >


	<label class="r-search-label control-label" for="{$labelfor_suplai_air}">
		{$label al_spalds suplai_air }	</label>
	<div class="r-search-option">
		{$searchtype_suplai_air}
	</div>
	<div class="r-search-field">
		{$suplai_air_editcontrol}	</div>
	<div class="r-search-field">
		{$suplai_air_editcontrol1}
	</div>
	
</div>

{END suplai_air_fieldblock}
											
{BEGIN penyedotan_lumpur_tinja_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_penyedotan_lumpur_tinja}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="penyedotan_lumpur_tinja{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="penyedotan_lumpur_tinja" data-fieldname="penyedotan_lumpur_tinja" >


	<label class="r-search-label control-label" for="{$labelfor_penyedotan_lumpur_tinja}">
		{$label al_spalds penyedotan_lumpur_tinja }	</label>
	<div class="r-search-option">
		{$searchtype_penyedotan_lumpur_tinja}
	</div>
	<div class="r-search-field">
		{$penyedotan_lumpur_tinja_editcontrol}	</div>
	<div class="r-search-field">
		{$penyedotan_lumpur_tinja_editcontrol1}
	</div>
	
</div>

{END penyedotan_lumpur_tinja_fieldblock}
											
{BEGIN foto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_foto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="foto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="foto" data-fieldname="foto" >


	<label class="r-search-label control-label" for="{$labelfor_foto}">
		{$label al_spalds foto }	</label>
	<div class="r-search-option">
		{$searchtype_foto}
	</div>
	<div class="r-search-field">
		{$foto_editcontrol}	</div>
	<div class="r-search-field">
		{$foto_editcontrol1}
	</div>
	
</div>

{END foto_fieldblock}
											
{BEGIN kendala_catatan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kendala_catatan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kendala_catatan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="kendala_catatan" data-fieldname="kendala_catatan" >


	<label class="r-search-label control-label" for="{$labelfor_kendala_catatan}">
		{$label al_spalds kendala_catatan }	</label>
	<div class="r-search-option">
		{$searchtype_kendala_catatan}
	</div>
	<div class="r-search-field">
		{$kendala_catatan_editcontrol}	</div>
	<div class="r-search-field">
		{$kendala_catatan_editcontrol1}
	</div>
	
</div>

{END kendala_catatan_fieldblock}
											
{BEGIN tanggal_update_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tanggal_update}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tanggal_update{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field39" {$item_integrated_search_field39} data-pageid="{$pageid}" data-field="tanggal_update" data-fieldname="tanggal_update" >


	<label class="r-search-label control-label" for="{$labelfor_tanggal_update}">
		{$label al_spalds tanggal_update }	</label>
	<div class="r-search-option">
		{$searchtype_tanggal_update}
	</div>
	<div class="r-search-field">
		{$tanggal_update_editcontrol}	</div>
	<div class="r-search-field">
		{$tanggal_update_editcontrol1}
	</div>
	
</div>

{END tanggal_update_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Cari			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Tata ulang			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Batal			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
