<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel al_sdm_institusi search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN institusiid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_institusiid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="institusiid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="institusiid" data-fieldname="institusiid" >


	<label class="r-search-label control-label" for="{$labelfor_institusiid}">
		{$label al_sdm_institusi institusiid }	</label>
	<div class="r-search-option">
		{$searchtype_institusiid}
	</div>
	<div class="r-search-field">
		{$institusiid_editcontrol}	</div>
	<div class="r-search-field">
		{$institusiid_editcontrol1}
	</div>
	
</div>

{END institusiid_fieldblock}
											
{BEGIN r_kabupatenkotaid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_r_kabupatenkotaid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="r_kabupatenkotaid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="r_kabupatenkotaid" data-fieldname="r_kabupatenkotaid" >


	<label class="r-search-label control-label" for="{$labelfor_r_kabupatenkotaid}">
		{$label al_sdm_institusi r_kabupatenkotaid }	</label>
	<div class="r-search-option">
		{$searchtype_r_kabupatenkotaid}
	</div>
	<div class="r-search-field">
		{$r_kabupatenkotaid_editcontrol}	</div>
	<div class="r-search-field">
		{$r_kabupatenkotaid_editcontrol1}
	</div>
	
</div>

{END r_kabupatenkotaid_fieldblock}
											
{BEGIN namainstitusi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_namainstitusi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="namainstitusi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="namainstitusi" data-fieldname="namainstitusi" >


	<label class="r-search-label control-label" for="{$labelfor_namainstitusi}">
		{$label al_sdm_institusi namainstitusi }	</label>
	<div class="r-search-option">
		{$searchtype_namainstitusi}
	</div>
	<div class="r-search-field">
		{$namainstitusi_editcontrol}	</div>
	<div class="r-search-field">
		{$namainstitusi_editcontrol1}
	</div>
	
</div>

{END namainstitusi_fieldblock}
											
{BEGIN jabatanpengelola_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jabatanpengelola}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jabatanpengelola{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="jabatanpengelola" data-fieldname="jabatanpengelola" >


	<label class="r-search-label control-label" for="{$labelfor_jabatanpengelola}">
		{$label al_sdm_institusi jabatanpengelola }	</label>
	<div class="r-search-option">
		{$searchtype_jabatanpengelola}
	</div>
	<div class="r-search-field">
		{$jabatanpengelola_editcontrol}	</div>
	<div class="r-search-field">
		{$jabatanpengelola_editcontrol1}
	</div>
	
</div>

{END jabatanpengelola_fieldblock}
											
{BEGIN eselonjabatan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_eselonjabatan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="eselonjabatan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="eselonjabatan" data-fieldname="eselonjabatan" >


	<label class="r-search-label control-label" for="{$labelfor_eselonjabatan}">
		{$label al_sdm_institusi eselonjabatan }	</label>
	<div class="r-search-option">
		{$searchtype_eselonjabatan}
	</div>
	<div class="r-search-field">
		{$eselonjabatan_editcontrol}	</div>
	<div class="r-search-field">
		{$eselonjabatan_editcontrol1}
	</div>
	
</div>

{END eselonjabatan_fieldblock}
											
{BEGIN pns_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pns}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pns{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="pns" data-fieldname="pns" >


	<label class="r-search-label control-label" for="{$labelfor_pns}">
		{$label al_sdm_institusi pns }	</label>
	<div class="r-search-option">
		{$searchtype_pns}
	</div>
	<div class="r-search-field">
		{$pns_editcontrol}	</div>
	<div class="r-search-field">
		{$pns_editcontrol1}
	</div>
	
</div>

{END pns_fieldblock}
											
{BEGIN nonpns_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nonpns}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nonpns{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="nonpns" data-fieldname="nonpns" >


	<label class="r-search-label control-label" for="{$labelfor_nonpns}">
		{$label al_sdm_institusi nonpns }	</label>
	<div class="r-search-option">
		{$searchtype_nonpns}
	</div>
	<div class="r-search-field">
		{$nonpns_editcontrol}	</div>
	<div class="r-search-field">
		{$nonpns_editcontrol1}
	</div>
	
</div>

{END nonpns_fieldblock}
											
{BEGIN jumlah_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlah{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="jumlah" data-fieldname="jumlah" >


	<label class="r-search-label control-label" for="{$labelfor_jumlah}">
		{$label al_sdm_institusi jumlah }	</label>
	<div class="r-search-option">
		{$searchtype_jumlah}
	</div>
	<div class="r-search-field">
		{$jumlah_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlah_editcontrol1}
	</div>
	
</div>

{END jumlah_fieldblock}
											
{BEGIN strukturorganisasi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_strukturorganisasi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="strukturorganisasi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="strukturorganisasi" data-fieldname="strukturorganisasi" >


	<label class="r-search-label control-label" for="{$labelfor_strukturorganisasi}">
		{$label al_sdm_institusi strukturorganisasi }	</label>
	<div class="r-search-option">
		{$searchtype_strukturorganisasi}
	</div>
	<div class="r-search-field">
		{$strukturorganisasi_editcontrol}	</div>
	<div class="r-search-field">
		{$strukturorganisasi_editcontrol1}
	</div>
	
</div>

{END strukturorganisasi_fieldblock}
											
{BEGIN luluss2s3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_luluss2s3}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="luluss2s3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="luluss2s3" data-fieldname="luluss2s3" >


	<label class="r-search-label control-label" for="{$labelfor_luluss2s3}">
		{$label al_sdm_institusi luluss2s3 }	</label>
	<div class="r-search-option">
		{$searchtype_luluss2s3}
	</div>
	<div class="r-search-field">
		{$luluss2s3_editcontrol}	</div>
	<div class="r-search-field">
		{$luluss2s3_editcontrol1}
	</div>
	
</div>

{END luluss2s3_fieldblock}
											
{BEGIN luluss1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_luluss1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="luluss1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="luluss1" data-fieldname="luluss1" >


	<label class="r-search-label control-label" for="{$labelfor_luluss1}">
		{$label al_sdm_institusi luluss1 }	</label>
	<div class="r-search-option">
		{$searchtype_luluss1}
	</div>
	<div class="r-search-field">
		{$luluss1_editcontrol}	</div>
	<div class="r-search-field">
		{$luluss1_editcontrol1}
	</div>
	
</div>

{END luluss1_fieldblock}
											
{BEGIN lulusd3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lulusd3}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lulusd3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="lulusd3" data-fieldname="lulusd3" >


	<label class="r-search-label control-label" for="{$labelfor_lulusd3}">
		{$label al_sdm_institusi lulusd3 }	</label>
	<div class="r-search-option">
		{$searchtype_lulusd3}
	</div>
	<div class="r-search-field">
		{$lulusd3_editcontrol}	</div>
	<div class="r-search-field">
		{$lulusd3_editcontrol1}
	</div>
	
</div>

{END lulusd3_fieldblock}
											
{BEGIN lulussma_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lulussma}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lulussma{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="lulussma" data-fieldname="lulussma" >


	<label class="r-search-label control-label" for="{$labelfor_lulussma}">
		{$label al_sdm_institusi lulussma }	</label>
	<div class="r-search-option">
		{$searchtype_lulussma}
	</div>
	<div class="r-search-field">
		{$lulussma_editcontrol}	</div>
	<div class="r-search-field">
		{$lulussma_editcontrol1}
	</div>
	
</div>

{END lulussma_fieldblock}
											
{BEGIN lulussmp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lulussmp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lulussmp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="lulussmp" data-fieldname="lulussmp" >


	<label class="r-search-label control-label" for="{$labelfor_lulussmp}">
		{$label al_sdm_institusi lulussmp }	</label>
	<div class="r-search-option">
		{$searchtype_lulussmp}
	</div>
	<div class="r-search-field">
		{$lulussmp_editcontrol}	</div>
	<div class="r-search-field">
		{$lulussmp_editcontrol1}
	</div>
	
</div>

{END lulussmp_fieldblock}
											
{BEGIN total_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_total}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="total{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="total" data-fieldname="total" >


	<label class="r-search-label control-label" for="{$labelfor_total}">
		{$label al_sdm_institusi total }	</label>
	<div class="r-search-option">
		{$searchtype_total}
	</div>
	<div class="r-search-field">
		{$total_editcontrol}	</div>
	<div class="r-search-field">
		{$total_editcontrol1}
	</div>
	
</div>

{END total_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Cari			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Tata ulang			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Batal			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
