<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel dra_data_genangan_manual view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN kd_data_genangan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_data_genangan}  r-vertical-field" data-fieldname="kd_data_genangan" data-signal-error-for="kd_data_genangan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="kd_data_genangan" data-fieldname="kd_data_genangan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_kd_data_genangan}">
		
		{BEGIN kd_data_genangan_label}{$label dra_data_genangan_manual kd_data_genangan }{END kd_data_genangan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$kd_data_genangan_value}	</div>

		
</div>


{END kd_data_genangan_fieldblock}
											
{BEGIN kd_propinsi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_propinsi}  r-vertical-field" data-fieldname="kd_propinsi" data-signal-error-for="kd_propinsi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="kd_propinsi" data-fieldname="kd_propinsi" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_kd_propinsi}">
		
		{BEGIN kd_propinsi_label}{$label dra_data_genangan_manual kd_propinsi }{END kd_propinsi_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$kd_propinsi_value}	</div>

		
</div>


{END kd_propinsi_fieldblock}
											
{BEGIN kd_kota_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_kota}  r-vertical-field" data-fieldname="kd_kota" data-signal-error-for="kd_kota{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="kd_kota" data-fieldname="kd_kota" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_kd_kota}">
		
		{BEGIN kd_kota_label}{$label dra_data_genangan_manual kd_kota }{END kd_kota_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$kd_kota_value}	</div>

		
</div>


{END kd_kota_fieldblock}
											
{BEGIN kd_kecamatan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_kecamatan}  r-vertical-field" data-fieldname="kd_kecamatan" data-signal-error-for="kd_kecamatan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="kd_kecamatan" data-fieldname="kd_kecamatan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_kd_kecamatan}">
		
		{BEGIN kd_kecamatan_label}{$label dra_data_genangan_manual kd_kecamatan }{END kd_kecamatan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$kd_kecamatan_value}	</div>

		
</div>


{END kd_kecamatan_fieldblock}
											
{BEGIN kd_kelurahan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_kelurahan}  r-vertical-field" data-fieldname="kd_kelurahan" data-signal-error-for="kd_kelurahan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="kd_kelurahan" data-fieldname="kd_kelurahan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_kd_kelurahan}">
		
		{BEGIN kd_kelurahan_label}{$label dra_data_genangan_manual kd_kelurahan }{END kd_kelurahan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$kd_kelurahan_value}	</div>

		
</div>


{END kd_kelurahan_fieldblock}
											
{BEGIN kelilingGenangan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kelilingGenangan}  r-vertical-field" data-fieldname="kelilingGenangan" data-signal-error-for="kelilingGenangan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="kelilingGenangan" data-fieldname="kelilingGenangan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_kelilingGenangan}">
		
		{BEGIN kelilingGenangan_label}{$label dra_data_genangan_manual kelilingGenangan }{END kelilingGenangan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$kelilingGenangan_value}	</div>

		
</div>


{END kelilingGenangan_fieldblock}
											
{BEGIN luasGenangan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_luasGenangan}  r-vertical-field" data-fieldname="luasGenangan" data-signal-error-for="luasGenangan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="luasGenangan" data-fieldname="luasGenangan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_luasGenangan}">
		
		{BEGIN luasGenangan_label}{$label dra_data_genangan_manual luasGenangan }{END luasGenangan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$luasGenangan_value}	</div>

		
</div>


{END luasGenangan_fieldblock}
											
{BEGIN lamaGenangan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lamaGenangan}  r-vertical-field" data-fieldname="lamaGenangan" data-signal-error-for="lamaGenangan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="lamaGenangan" data-fieldname="lamaGenangan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_lamaGenangan}">
		
		{BEGIN lamaGenangan_label}{$label dra_data_genangan_manual lamaGenangan }{END lamaGenangan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$lamaGenangan_value}	</div>

		
</div>


{END lamaGenangan_fieldblock}
											
{BEGIN tinggiGenangan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tinggiGenangan}  r-vertical-field" data-fieldname="tinggiGenangan" data-signal-error-for="tinggiGenangan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="tinggiGenangan" data-fieldname="tinggiGenangan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_tinggiGenangan}">
		
		{BEGIN tinggiGenangan_label}{$label dra_data_genangan_manual tinggiGenangan }{END tinggiGenangan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$tinggiGenangan_value}	</div>

		
</div>


{END tinggiGenangan_fieldblock}
											
{BEGIN frekGenangan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_frekGenangan}  r-vertical-field" data-fieldname="frekGenangan" data-signal-error-for="frekGenangan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="frekGenangan" data-fieldname="frekGenangan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_frekGenangan}">
		
		{BEGIN frekGenangan_label}{$label dra_data_genangan_manual frekGenangan }{END frekGenangan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$frekGenangan_value}	</div>

		
</div>


{END frekGenangan_fieldblock}
											
{BEGIN jmlPenerima_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlPenerima}  r-vertical-field" data-fieldname="jmlPenerima" data-signal-error-for="jmlPenerima{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="jmlPenerima" data-fieldname="jmlPenerima" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_jmlPenerima}">
		
		{BEGIN jmlPenerima_label}{$label dra_data_genangan_manual jmlPenerima }{END jmlPenerima_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$jmlPenerima_value}	</div>

		
</div>


{END jmlPenerima_fieldblock}
											
{BEGIN tahun_data_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tahun_data}  r-vertical-field" data-fieldname="tahun_data" data-signal-error-for="tahun_data{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="tahun_data" data-fieldname="tahun_data" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_tahun_data}">
		
		{BEGIN tahun_data_label}{$label dra_data_genangan_manual tahun_data }{END tahun_data_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$tahun_data_value}	</div>

		
</div>


{END tahun_data_fieldblock}
											
{BEGIN entryDate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_entryDate}  r-vertical-field" data-fieldname="entryDate" data-signal-error-for="entryDate{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="entryDate" data-fieldname="entryDate" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_entryDate}">
		
		{BEGIN entryDate_label}{$label dra_data_genangan_manual entryDate }{END entryDate_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$entryDate_value}	</div>

		
</div>


{END entryDate_fieldblock}
											
{BEGIN detail_lokasi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_detail_lokasi}  r-vertical-field" data-fieldname="detail_lokasi" data-signal-error-for="detail_lokasi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="detail_lokasi" data-fieldname="detail_lokasi" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_detail_lokasi}">
		
		{BEGIN detail_lokasi_label}{$label dra_data_genangan_manual detail_lokasi }{END detail_lokasi_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$detail_lokasi_value}	</div>

		
</div>


{END detail_lokasi_fieldblock}
											
{BEGIN foto_genangan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_foto_genangan}  r-vertical-field" data-fieldname="foto_genangan" data-signal-error-for="foto_genangan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="foto_genangan" data-fieldname="foto_genangan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_foto_genangan}">
		
		{BEGIN foto_genangan_label}{$label dra_data_genangan_manual foto_genangan }{END foto_genangan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$foto_genangan_value}	</div>

		
</div>


{END foto_genangan_fieldblock}
											
{BEGIN koordinat_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_koordinat}  r-vertical-field" data-fieldname="koordinat" data-signal-error-for="koordinat{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="koordinat" data-fieldname="koordinat" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_koordinat}">
		
		{BEGIN koordinat_label}{$label dra_data_genangan_manual koordinat }{END koordinat_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$koordinat_value}	</div>

		
</div>


{END koordinat_fieldblock}
											
{BEGIN sistem_drainase_terkait_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sistem_drainase_terkait}  r-vertical-field" data-fieldname="sistem_drainase_terkait" data-signal-error-for="sistem_drainase_terkait{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="sistem_drainase_terkait" data-fieldname="sistem_drainase_terkait" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_sistem_drainase_terkait}">
		
		{BEGIN sistem_drainase_terkait_label}{$label dra_data_genangan_manual sistem_drainase_terkait }{END sistem_drainase_terkait_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$sistem_drainase_terkait_value}	</div>

		
</div>


{END sistem_drainase_terkait_fieldblock}
											
{BEGIN keterangan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan}  r-vertical-field" data-fieldname="keterangan" data-signal-error-for="keterangan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="keterangan" data-fieldname="keterangan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_keterangan}">
		
		{BEGIN keterangan_label}{$label dra_data_genangan_manual keterangan }{END keterangan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$keterangan_value}	</div>

		
</div>


{END keterangan_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Tutup jendela			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="dra_data_genangan_manual_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Edit		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
