<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel dra_data_pembiayaan view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN kd_data_pembiayaan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_data_pembiayaan}  r-vertical-field" data-fieldname="kd_data_pembiayaan" data-signal-error-for="kd_data_pembiayaan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="kd_data_pembiayaan" data-fieldname="kd_data_pembiayaan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_kd_data_pembiayaan}">
		
		{BEGIN kd_data_pembiayaan_label}{$label dra_data_pembiayaan kd_data_pembiayaan }{END kd_data_pembiayaan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$kd_data_pembiayaan_value}	</div>

		
</div>


{END kd_data_pembiayaan_fieldblock}
											
{BEGIN kd_propinsi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_propinsi}  r-vertical-field" data-fieldname="kd_propinsi" data-signal-error-for="kd_propinsi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="kd_propinsi" data-fieldname="kd_propinsi" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_kd_propinsi}">
		
		{BEGIN kd_propinsi_label}{$label dra_data_pembiayaan kd_propinsi }{END kd_propinsi_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$kd_propinsi_value}	</div>

		
</div>


{END kd_propinsi_fieldblock}
											
{BEGIN kd_kota_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_kota}  r-vertical-field" data-fieldname="kd_kota" data-signal-error-for="kd_kota{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="kd_kota" data-fieldname="kd_kota" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_kd_kota}">
		
		{BEGIN kd_kota_label}{$label dra_data_pembiayaan kd_kota }{END kd_kota_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$kd_kota_value}	</div>

		
</div>


{END kd_kota_fieldblock}
											
{BEGIN kd_kecamatan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_kecamatan}  r-vertical-field" data-fieldname="kd_kecamatan" data-signal-error-for="kd_kecamatan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="kd_kecamatan" data-fieldname="kd_kecamatan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_kd_kecamatan}">
		
		{BEGIN kd_kecamatan_label}{$label dra_data_pembiayaan kd_kecamatan }{END kd_kecamatan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$kd_kecamatan_value}	</div>

		
</div>


{END kd_kecamatan_fieldblock}
											
{BEGIN kd_kelurahan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_kelurahan}  r-vertical-field" data-fieldname="kd_kelurahan" data-signal-error-for="kd_kelurahan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="kd_kelurahan" data-fieldname="kd_kelurahan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_kd_kelurahan}">
		
		{BEGIN kd_kelurahan_label}{$label dra_data_pembiayaan kd_kelurahan }{END kd_kelurahan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$kd_kelurahan_value}	</div>

		
</div>


{END kd_kelurahan_fieldblock}
											
{BEGIN sumberBiaya_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sumberBiaya}  r-vertical-field" data-fieldname="sumberBiaya" data-signal-error-for="sumberBiaya{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="sumberBiaya" data-fieldname="sumberBiaya" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_sumberBiaya}">
		
		{BEGIN sumberBiaya_label}{$label dra_data_pembiayaan sumberBiaya }{END sumberBiaya_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$sumberBiaya_value}	</div>

		
</div>


{END sumberBiaya_fieldblock}
											
{BEGIN tahunPembiayaan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tahunPembiayaan}  r-vertical-field" data-fieldname="tahunPembiayaan" data-signal-error-for="tahunPembiayaan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="tahunPembiayaan" data-fieldname="tahunPembiayaan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_tahunPembiayaan}">
		
		{BEGIN tahunPembiayaan_label}{$label dra_data_pembiayaan tahunPembiayaan }{END tahunPembiayaan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$tahunPembiayaan_value}	</div>

		
</div>


{END tahunPembiayaan_fieldblock}
											
{BEGIN totalInvestasi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_totalInvestasi}  r-vertical-field" data-fieldname="totalInvestasi" data-signal-error-for="totalInvestasi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="totalInvestasi" data-fieldname="totalInvestasi" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_totalInvestasi}">
		
		{BEGIN totalInvestasi_label}{$label dra_data_pembiayaan totalInvestasi }{END totalInvestasi_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$totalInvestasi_value}	</div>

		
</div>


{END totalInvestasi_fieldblock}
											
{BEGIN investasiMeter_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_investasiMeter}  r-vertical-field" data-fieldname="investasiMeter" data-signal-error-for="investasiMeter{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="investasiMeter" data-fieldname="investasiMeter" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_investasiMeter}">
		
		{BEGIN investasiMeter_label}{$label dra_data_pembiayaan investasiMeter }{END investasiMeter_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$investasiMeter_value}	</div>

		
</div>


{END investasiMeter_fieldblock}
											
{BEGIN investasiHektar_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_investasiHektar}  r-vertical-field" data-fieldname="investasiHektar" data-signal-error-for="investasiHektar{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="investasiHektar" data-fieldname="investasiHektar" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_investasiHektar}">
		
		{BEGIN investasiHektar_label}{$label dra_data_pembiayaan investasiHektar }{END investasiHektar_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$investasiHektar_value}	</div>

		
</div>


{END investasiHektar_fieldblock}
											
{BEGIN investasiJiwa_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_investasiJiwa}  r-vertical-field" data-fieldname="investasiJiwa" data-signal-error-for="investasiJiwa{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="investasiJiwa" data-fieldname="investasiJiwa" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_investasiJiwa}">
		
		{BEGIN investasiJiwa_label}{$label dra_data_pembiayaan investasiJiwa }{END investasiJiwa_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$investasiJiwa_value}	</div>

		
</div>


{END investasiJiwa_fieldblock}
											
{BEGIN persenAPBN_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_persenAPBN}  r-vertical-field" data-fieldname="persenAPBN" data-signal-error-for="persenAPBN{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="persenAPBN" data-fieldname="persenAPBN" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_persenAPBN}">
		
		{BEGIN persenAPBN_label}{$label dra_data_pembiayaan persenAPBN }{END persenAPBN_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$persenAPBN_value}	</div>

		
</div>


{END persenAPBN_fieldblock}
											
{BEGIN persenAPBD_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_persenAPBD}  r-vertical-field" data-fieldname="persenAPBD" data-signal-error-for="persenAPBD{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="persenAPBD" data-fieldname="persenAPBD" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_persenAPBD}">
		
		{BEGIN persenAPBD_label}{$label dra_data_pembiayaan persenAPBD }{END persenAPBD_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$persenAPBD_value}	</div>

		
</div>


{END persenAPBD_fieldblock}
											
{BEGIN entryDate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_entryDate}  r-vertical-field" data-fieldname="entryDate" data-signal-error-for="entryDate{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="entryDate" data-fieldname="entryDate" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_entryDate}">
		
		{BEGIN entryDate_label}{$label dra_data_pembiayaan entryDate }{END entryDate_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$entryDate_value}	</div>

		
</div>


{END entryDate_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Tutup jendela			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="dra_data_pembiayaan_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Edit		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
