<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="2"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel mne_pascakonstruksi_umum add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="2"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Balik ke daftar</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Lihat</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<div class="panel with-tabs panel-default form-tabs" data-itemtype="tabs" data-itemid="tabs" {$item_tabs} data-pageid="{$pageid}">
	<div class="panel-heading">
		<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section{$pageid}">
					Informasi Umum				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section1{$pageid}">
					Catatan & Tindak Lanjut				</a>
			</li>
									</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="tab_section{$pageid}"> 
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section" id="form_section_{$pageid}" data-makeup="small" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section_0} >
										

{BEGIN cellblock_section_c1}
<td
	{$cell_section_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN kd_sektor_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_sektor}  r-horizontal-field form-horizontal" 
	data-signal-error-for="kd_sektor{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="kd_sektor" data-fieldname="kd_sektor" >

	<label class="r-edit-label control-label" for="{$labelfor_kd_sektor}">
		{BEGIN kd_sektor_label}{$label mne_pascakonstruksi_umum kd_sektor }{END kd_sektor_label}
	</label>
	<div class="r-edit-field">
		{$kd_sektor_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kd_sektor">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum kd_sektor }		</div>
	</div>
</div>


{END kd_sektor_fieldblock}
											
{BEGIN provinsiid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_provinsiid}  r-horizontal-field form-horizontal" 
	data-signal-error-for="provinsiid{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="provinsiid" data-fieldname="provinsiid" >

	<label class="r-edit-label control-label" for="{$labelfor_provinsiid}">
		{BEGIN provinsiid_label}{$label mne_pascakonstruksi_umum provinsiid }{END provinsiid_label}
	</label>
	<div class="r-edit-field">
		{$provinsiid_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="provinsiid">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum provinsiid }		</div>
	</div>
</div>


{END provinsiid_fieldblock}
											
{BEGIN kabupatenkotaid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kabupatenkotaid}  r-horizontal-field form-horizontal" 
	data-signal-error-for="kabupatenkotaid{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="kabupatenkotaid" data-fieldname="kabupatenkotaid" >

	<label class="r-edit-label control-label" for="{$labelfor_kabupatenkotaid}">
		{BEGIN kabupatenkotaid_label}{$label mne_pascakonstruksi_umum kabupatenkotaid }{END kabupatenkotaid_label}
	</label>
	<div class="r-edit-field">
		{$kabupatenkotaid_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kabupatenkotaid">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum kabupatenkotaid }		</div>
	</div>
</div>


{END kabupatenkotaid_fieldblock}
											
{BEGIN tahun_data_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tahun_data}  r-horizontal-field form-horizontal" 
	data-signal-error-for="tahun_data{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="tahun_data" data-fieldname="tahun_data" >

	<label class="r-edit-label control-label" for="{$labelfor_tahun_data}">
		{BEGIN tahun_data_label}{$label mne_pascakonstruksi_umum tahun_data }{END tahun_data_label}
	</label>
	<div class="r-edit-field">
		{$tahun_data_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tahun_data">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum tahun_data }		</div>
	</div>
</div>


{END tahun_data_fieldblock}
											
{BEGIN nm_kegiatan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nm_kegiatan}  r-horizontal-field form-horizontal" 
	data-signal-error-for="nm_kegiatan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="nm_kegiatan" data-fieldname="nm_kegiatan" >

	<label class="r-edit-label control-label" for="{$labelfor_nm_kegiatan}">
		{BEGIN nm_kegiatan_label}{$label mne_pascakonstruksi_umum nm_kegiatan }{END nm_kegiatan_label}
	</label>
	<div class="r-edit-field">
		{$nm_kegiatan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="nm_kegiatan">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum nm_kegiatan }		</div>
	</div>
</div>


{END nm_kegiatan_fieldblock}
											
{BEGIN kd_jenisInfra_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_jenisInfra}  r-horizontal-field form-horizontal" 
	data-signal-error-for="kd_jenisInfra{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="kd_jenisInfra" data-fieldname="kd_jenisInfra" >

	<label class="r-edit-label control-label" for="{$labelfor_kd_jenisInfra}">
		{BEGIN kd_jenisInfra_label}{$label mne_pascakonstruksi_umum kd_jenisInfra }{END kd_jenisInfra_label}
	</label>
	<div class="r-edit-field">
		{$kd_jenisInfra_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kd_jenisInfra">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum kd_jenisInfra }		</div>
	</div>
</div>


{END kd_jenisInfra_fieldblock}
											
{BEGIN lokasi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lokasi}  r-horizontal-field form-horizontal" 
	data-signal-error-for="lokasi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="lokasi" data-fieldname="lokasi" >

	<label class="r-edit-label control-label" for="{$labelfor_lokasi}">
		{BEGIN lokasi_label}{$label mne_pascakonstruksi_umum lokasi }{END lokasi_label}
	</label>
	<div class="r-edit-field">
		{$lokasi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="lokasi">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum lokasi }		</div>
	</div>
</div>


{END lokasi_fieldblock}
											
{BEGIN lat_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lat}  r-horizontal-field form-horizontal" 
	data-signal-error-for="lat{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="lat" data-fieldname="lat" >

	<label class="r-edit-label control-label" for="{$labelfor_lat}">
		{BEGIN lat_label}{$label mne_pascakonstruksi_umum lat }{END lat_label}
	</label>
	<div class="r-edit-field">
		{$lat_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="lat">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum lat }		</div>
	</div>
</div>


{END lat_fieldblock}
											
{BEGIN longt_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_longt}  r-horizontal-field form-horizontal" 
	data-signal-error-for="longt{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="longt" data-fieldname="longt" >

	<label class="r-edit-label control-label" for="{$labelfor_longt}">
		{BEGIN longt_label}{$label mne_pascakonstruksi_umum longt }{END longt_label}
	</label>
	<div class="r-edit-field">
		{$longt_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="longt">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum longt }		</div>
	</div>
</div>


{END longt_fieldblock}
											
{BEGIN tgl_survey_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tgl_survey}  r-horizontal-field form-horizontal" 
	data-signal-error-for="tgl_survey{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="tgl_survey" data-fieldname="tgl_survey" >

	<label class="r-edit-label control-label" for="{$labelfor_tgl_survey}">
		{BEGIN tgl_survey_label}{$label mne_pascakonstruksi_umum tgl_survey }{END tgl_survey_label}
	</label>
	<div class="r-edit-field">
		{$tgl_survey_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tgl_survey">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum tgl_survey }		</div>
	</div>
</div>


{END tgl_survey_fieldblock}
											
{BEGIN ruang_lingkup_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ruang_lingkup}  r-horizontal-field form-horizontal" 
	data-signal-error-for="ruang_lingkup{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="ruang_lingkup" data-fieldname="ruang_lingkup" >

	<label class="r-edit-label control-label" for="{$labelfor_ruang_lingkup}">
		{BEGIN ruang_lingkup_label}{$label mne_pascakonstruksi_umum ruang_lingkup }{END ruang_lingkup_label}
	</label>
	<div class="r-edit-field">
		{$ruang_lingkup_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ruang_lingkup">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum ruang_lingkup }		</div>
	</div>
</div>


{END ruang_lingkup_fieldblock}
											
{BEGIN nmSatker_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nmSatker}  r-horizontal-field form-horizontal" 
	data-signal-error-for="nmSatker{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="nmSatker" data-fieldname="nmSatker" >

	<label class="r-edit-label control-label" for="{$labelfor_nmSatker}">
		{BEGIN nmSatker_label}{$label mne_pascakonstruksi_umum nmSatker }{END nmSatker_label}
	</label>
	<div class="r-edit-field">
		{$nmSatker_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="nmSatker">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum nmSatker }		</div>
	</div>
</div>


{END nmSatker_fieldblock}
											
{BEGIN jenisKontrak_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jenisKontrak}  r-horizontal-field form-horizontal" 
	data-signal-error-for="jenisKontrak{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="jenisKontrak" data-fieldname="jenisKontrak" >

	<label class="r-edit-label control-label" for="{$labelfor_jenisKontrak}">
		{BEGIN jenisKontrak_label}{$label mne_pascakonstruksi_umum jenisKontrak }{END jenisKontrak_label}
	</label>
	<div class="r-edit-field">
		{$jenisKontrak_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jenisKontrak">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum jenisKontrak }		</div>
	</div>
</div>


{END jenisKontrak_fieldblock}
											
{BEGIN tglKontrak_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tglKontrak}  r-horizontal-field form-horizontal" 
	data-signal-error-for="tglKontrak{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="tglKontrak" data-fieldname="tglKontrak" >

	<label class="r-edit-label control-label" for="{$labelfor_tglKontrak}">
		{BEGIN tglKontrak_label}{$label mne_pascakonstruksi_umum tglKontrak }{END tglKontrak_label}
	</label>
	<div class="r-edit-field">
		{$tglKontrak_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tglKontrak">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum tglKontrak }		</div>
	</div>
</div>


{END tglKontrak_fieldblock}
											
{BEGIN nilaiKontrak_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nilaiKontrak}  r-horizontal-field form-horizontal" 
	data-signal-error-for="nilaiKontrak{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="nilaiKontrak" data-fieldname="nilaiKontrak" >

	<label class="r-edit-label control-label" for="{$labelfor_nilaiKontrak}">
		{BEGIN nilaiKontrak_label}{$label mne_pascakonstruksi_umum nilaiKontrak }{END nilaiKontrak_label}
	</label>
	<div class="r-edit-field">
		{$nilaiKontrak_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="nilaiKontrak">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum nilaiKontrak }		</div>
	</div>
</div>


{END nilaiKontrak_fieldblock}
											
{BEGIN lingkupPekerjaan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lingkupPekerjaan}  r-horizontal-field form-horizontal" 
	data-signal-error-for="lingkupPekerjaan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="lingkupPekerjaan" data-fieldname="lingkupPekerjaan" >

	<label class="r-edit-label control-label" for="{$labelfor_lingkupPekerjaan}">
		{BEGIN lingkupPekerjaan_label}{$label mne_pascakonstruksi_umum lingkupPekerjaan }{END lingkupPekerjaan_label}
	</label>
	<div class="r-edit-field">
		{$lingkupPekerjaan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="lingkupPekerjaan">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum lingkupPekerjaan }		</div>
	</div>
</div>


{END lingkupPekerjaan_fieldblock}
											
{BEGIN penerimaManfaat_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_penerimaManfaat}  r-horizontal-field form-horizontal" 
	data-signal-error-for="penerimaManfaat{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="penerimaManfaat" data-fieldname="penerimaManfaat" >

	<label class="r-edit-label control-label" for="{$labelfor_penerimaManfaat}">
		{BEGIN penerimaManfaat_label}{$label mne_pascakonstruksi_umum penerimaManfaat }{END penerimaManfaat_label}
	</label>
	<div class="r-edit-field">
		{$penerimaManfaat_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="penerimaManfaat">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum penerimaManfaat }		</div>
	</div>
</div>


{END penerimaManfaat_fieldblock}
											
{BEGIN kapasitasTerbangun_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kapasitasTerbangun}  r-horizontal-field form-horizontal" 
	data-signal-error-for="kapasitasTerbangun{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="kapasitasTerbangun" data-fieldname="kapasitasTerbangun" >

	<label class="r-edit-label control-label" for="{$labelfor_kapasitasTerbangun}">
		{BEGIN kapasitasTerbangun_label}{$label mne_pascakonstruksi_umum kapasitasTerbangun }{END kapasitasTerbangun_label}
	</label>
	<div class="r-edit-field">
		{$kapasitasTerbangun_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kapasitasTerbangun">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum kapasitasTerbangun }		</div>
	</div>
</div>


{END kapasitasTerbangun_fieldblock}
											
{BEGIN statusSerahTerima_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_statusSerahTerima}  r-horizontal-field form-horizontal" 
	data-signal-error-for="statusSerahTerima{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="statusSerahTerima" data-fieldname="statusSerahTerima" >

	<label class="r-edit-label control-label" for="{$labelfor_statusSerahTerima}">
		{BEGIN statusSerahTerima_label}{$label mne_pascakonstruksi_umum statusSerahTerima }{END statusSerahTerima_label}
	</label>
	<div class="r-edit-field">
		{$statusSerahTerima_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="statusSerahTerima">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum statusSerahTerima }		</div>
	</div>
</div>


{END statusSerahTerima_fieldblock}
											
{BEGIN foto_kegiatan1_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_foto_kegiatan1}  r-horizontal-field form-horizontal" 
	data-signal-error-for="foto_kegiatan1{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="foto_kegiatan1" data-fieldname="foto_kegiatan1" >

	<label class="r-edit-label control-label" for="{$labelfor_foto_kegiatan1}">
		{BEGIN foto_kegiatan1_label}{$label mne_pascakonstruksi_umum foto_kegiatan1 }{END foto_kegiatan1_label}
	</label>
	<div class="r-edit-field">
		{$foto_kegiatan1_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="foto_kegiatan1">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum foto_kegiatan1 }		</div>
	</div>
</div>


{END foto_kegiatan1_fieldblock}
											
{BEGIN foto_kegiatan2_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_foto_kegiatan2}  r-horizontal-field form-horizontal" 
	data-signal-error-for="foto_kegiatan2{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="foto_kegiatan2" data-fieldname="foto_kegiatan2" >

	<label class="r-edit-label control-label" for="{$labelfor_foto_kegiatan2}">
		{BEGIN foto_kegiatan2_label}{$label mne_pascakonstruksi_umum foto_kegiatan2 }{END foto_kegiatan2_label}
	</label>
	<div class="r-edit-field">
		{$foto_kegiatan2_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="foto_kegiatan2">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum foto_kegiatan2 }		</div>
	</div>
</div>


{END foto_kegiatan2_fieldblock}
											
{BEGIN kesimpulan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kesimpulan}  r-horizontal-field form-horizontal" 
	data-signal-error-for="kesimpulan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="kesimpulan" data-fieldname="kesimpulan" >

	<label class="r-edit-label control-label" for="{$labelfor_kesimpulan}">
		{BEGIN kesimpulan_label}{$label mne_pascakonstruksi_umum kesimpulan }{END kesimpulan_label}
	</label>
	<div class="r-edit-field">
		{$kesimpulan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kesimpulan">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum kesimpulan }		</div>
	</div>
</div>


{END kesimpulan_fieldblock}
	
								</td>
			{END cellblock_section_c1}
								</tr>
			</tbody></table>
{END section_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section1{$pageid}"> 
			{BEGIN section1_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section1" id="form_section1_{$pageid}" data-makeup="small" {$form_section1} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section1_0} >
										

{BEGIN cellblock_section1_c1}
<td
	{$cell_section1_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section1_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN catatan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_catatan}  r-horizontal-field form-horizontal" 
	data-signal-error-for="catatan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="catatan" data-fieldname="catatan" >

	<label class="r-edit-label control-label" for="{$labelfor_catatan}">
		{BEGIN catatan_label}{$label mne_pascakonstruksi_umum catatan }{END catatan_label}
	</label>
	<div class="r-edit-field">
		{$catatan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="catatan">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum catatan }		</div>
	</div>
</div>


{END catatan_fieldblock}
											
{BEGIN tindak_lanjut_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tindak_lanjut}  r-horizontal-field form-horizontal" 
	data-signal-error-for="tindak_lanjut{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="tindak_lanjut" data-fieldname="tindak_lanjut" >

	<label class="r-edit-label control-label" for="{$labelfor_tindak_lanjut}">
		{BEGIN tindak_lanjut_label}{$label mne_pascakonstruksi_umum tindak_lanjut }{END tindak_lanjut_label}
	</label>
	<div class="r-edit-field">
		{$tindak_lanjut_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tindak_lanjut">
		<div class="text-muted" >
		{$tooltip mne_pascakonstruksi_umum tindak_lanjut }		</div>
	</div>
</div>


{END tindak_lanjut_fieldblock}
	
								</td>
			{END cellblock_section1_c1}
								</tr>
			</tbody></table>
{END section1_block}
						</div>
				</div>
	</div>
</div>  	
				{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="2"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Simpan			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Tata ulang			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Batal			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
