<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel mne_evaluasi_pelaksanaan edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Balik ke daftar</button>
	{END back_button}
{BEGIN view_page_button}
		<a class="btn btn-sm btn-default" href="mne_evaluasi_pelaksanaan_view.php?{$editlink}" {$view_page_button_attrs}>Lihat</a>
{END view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_mne_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_mne}  r-horizontal-field form-horizontal" 
	data-signal-error-for="id_mne{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="id_mne" data-fieldname="id_mne" >

	<label class="r-edit-label control-label" for="{$labelfor_id_mne}">
		{BEGIN id_mne_label}{$label mne_evaluasi_pelaksanaan id_mne }{END id_mne_label}
	</label>
	<div class="r-edit-field">
		{$id_mne_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="id_mne">
		<div class="text-muted" >
		{$tooltip mne_evaluasi_pelaksanaan id_mne }		</div>
	</div>
</div>


{END id_mne_fieldblock}
											
{BEGIN tahap_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tahap}  r-horizontal-field form-horizontal" 
	data-signal-error-for="tahap{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="tahap" data-fieldname="tahap" >

	<label class="r-edit-label control-label" for="{$labelfor_tahap}">
		{BEGIN tahap_label}{$label mne_evaluasi_pelaksanaan tahap }{END tahap_label}
	</label>
	<div class="r-edit-field">
		{$tahap_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tahap">
		<div class="text-muted" >
		{$tooltip mne_evaluasi_pelaksanaan tahap }		</div>
	</div>
</div>


{END tahap_fieldblock}
											
{BEGIN kd_sektor_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_sektor}  r-horizontal-field form-horizontal" 
	data-signal-error-for="kd_sektor{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="kd_sektor" data-fieldname="kd_sektor" >

	<label class="r-edit-label control-label" for="{$labelfor_kd_sektor}">
		{BEGIN kd_sektor_label}{$label mne_evaluasi_pelaksanaan kd_sektor }{END kd_sektor_label}
	</label>
	<div class="r-edit-field">
		{$kd_sektor_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kd_sektor">
		<div class="text-muted" >
		{$tooltip mne_evaluasi_pelaksanaan kd_sektor }		</div>
	</div>
</div>


{END kd_sektor_fieldblock}
											
{BEGIN kd_pelaksanaan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_pelaksanaan}  r-horizontal-field form-horizontal" 
	data-signal-error-for="kd_pelaksanaan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="kd_pelaksanaan" data-fieldname="kd_pelaksanaan" >

	<label class="r-edit-label control-label" for="{$labelfor_kd_pelaksanaan}">
		{BEGIN kd_pelaksanaan_label}{$label mne_evaluasi_pelaksanaan kd_pelaksanaan }{END kd_pelaksanaan_label}
	</label>
	<div class="r-edit-field">
		{$kd_pelaksanaan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kd_pelaksanaan">
		<div class="text-muted" >
		{$tooltip mne_evaluasi_pelaksanaan kd_pelaksanaan }		</div>
	</div>
</div>


{END kd_pelaksanaan_fieldblock}
											
{BEGIN bobot_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_bobot}  r-horizontal-field form-horizontal" 
	data-signal-error-for="bobot{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="bobot" data-fieldname="bobot" >

	<label class="r-edit-label control-label" for="{$labelfor_bobot}">
		{BEGIN bobot_label}{$label mne_evaluasi_pelaksanaan bobot }{END bobot_label}
	</label>
	<div class="r-edit-field">
		{$bobot_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="bobot">
		<div class="text-muted" >
		{$tooltip mne_evaluasi_pelaksanaan bobot }		</div>
	</div>
</div>


{END bobot_fieldblock}
											
{BEGIN kd_sub_tahap_pelaksanaan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_sub_tahap_pelaksanaan}  r-horizontal-field form-horizontal" 
	data-signal-error-for="kd_sub_tahap_pelaksanaan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="kd_sub_tahap_pelaksanaan" data-fieldname="kd_sub_tahap_pelaksanaan" >

	<label class="r-edit-label control-label" for="{$labelfor_kd_sub_tahap_pelaksanaan}">
		{BEGIN kd_sub_tahap_pelaksanaan_label}{$label mne_evaluasi_pelaksanaan kd_sub_tahap_pelaksanaan }{END kd_sub_tahap_pelaksanaan_label}
	</label>
	<div class="r-edit-field">
		{$kd_sub_tahap_pelaksanaan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kd_sub_tahap_pelaksanaan">
		<div class="text-muted" >
		{$tooltip mne_evaluasi_pelaksanaan kd_sub_tahap_pelaksanaan }		</div>
	</div>
</div>


{END kd_sub_tahap_pelaksanaan_fieldblock}
											
{BEGIN kd_parameter_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_parameter}  r-horizontal-field form-horizontal" 
	data-signal-error-for="kd_parameter{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="kd_parameter" data-fieldname="kd_parameter" >

	<label class="r-edit-label control-label" for="{$labelfor_kd_parameter}">
		{BEGIN kd_parameter_label}{$label mne_evaluasi_pelaksanaan kd_parameter }{END kd_parameter_label}
	</label>
	<div class="r-edit-field">
		{$kd_parameter_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kd_parameter">
		<div class="text-muted" >
		{$tooltip mne_evaluasi_pelaksanaan kd_parameter }		</div>
	</div>
</div>


{END kd_parameter_fieldblock}
											
{BEGIN nilai_harkat_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nilai_harkat}  r-horizontal-field form-horizontal" 
	data-signal-error-for="nilai_harkat{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="nilai_harkat" data-fieldname="nilai_harkat" >

	<label class="r-edit-label control-label" for="{$labelfor_nilai_harkat}">
		{BEGIN nilai_harkat_label}{$label mne_evaluasi_pelaksanaan nilai_harkat }{END nilai_harkat_label}
	</label>
	<div class="r-edit-field">
		{$nilai_harkat_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="nilai_harkat">
		<div class="text-muted" >
		{$tooltip mne_evaluasi_pelaksanaan nilai_harkat }		</div>
	</div>
</div>


{END nilai_harkat_fieldblock}
											
{BEGIN dokumen_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dokumen}  r-horizontal-field form-horizontal" 
	data-signal-error-for="dokumen{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="dokumen" data-fieldname="dokumen" >

	<label class="r-edit-label control-label" for="{$labelfor_dokumen}">
		{BEGIN dokumen_label}{$label mne_evaluasi_pelaksanaan dokumen }{END dokumen_label}
	</label>
	<div class="r-edit-field">
		{$dokumen_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="dokumen">
		<div class="text-muted" >
		{$tooltip mne_evaluasi_pelaksanaan dokumen }		</div>
	</div>
</div>


{END dokumen_fieldblock}
											
{BEGIN keterangan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan}  r-horizontal-field form-horizontal" 
	data-signal-error-for="keterangan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="keterangan" data-fieldname="keterangan" >

	<label class="r-edit-label control-label" for="{$labelfor_keterangan}">
		{BEGIN keterangan_label}{$label mne_evaluasi_pelaksanaan keterangan }{END keterangan_label}
	</label>
	<div class="r-edit-field">
		{$keterangan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="keterangan">
		<div class="text-muted" >
		{$tooltip mne_evaluasi_pelaksanaan keterangan }		</div>
	</div>
</div>


{END keterangan_fieldblock}
											
{BEGIN diperbarui_tanggal_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_diperbarui_tanggal}  r-horizontal-field form-horizontal" 
	data-signal-error-for="diperbarui_tanggal{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="diperbarui_tanggal" data-fieldname="diperbarui_tanggal" >

	<label class="r-edit-label control-label" for="{$labelfor_diperbarui_tanggal}">
		{BEGIN diperbarui_tanggal_label}{$label mne_evaluasi_pelaksanaan diperbarui_tanggal }{END diperbarui_tanggal_label}
	</label>
	<div class="r-edit-field">
		{$diperbarui_tanggal_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="diperbarui_tanggal">
		<div class="text-muted" >
		{$tooltip mne_evaluasi_pelaksanaan diperbarui_tanggal }		</div>
	</div>
</div>


{END diperbarui_tanggal_fieldblock}
											
{BEGIN diperbarui_oleh_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_diperbarui_oleh}  r-horizontal-field form-horizontal" 
	data-signal-error-for="diperbarui_oleh{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="diperbarui_oleh" data-fieldname="diperbarui_oleh" >

	<label class="r-edit-label control-label" for="{$labelfor_diperbarui_oleh}">
		{BEGIN diperbarui_oleh_label}{$label mne_evaluasi_pelaksanaan diperbarui_oleh }{END diperbarui_oleh_label}
	</label>
	<div class="r-edit-field">
		{$diperbarui_oleh_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="diperbarui_oleh">
		<div class="text-muted" >
		{$tooltip mne_evaluasi_pelaksanaan diperbarui_oleh }		</div>
	</div>
</div>


{END diperbarui_oleh_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Simpan			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Batal			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Tata ulang		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="mne_evaluasi_pelaksanaan_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		Lihat		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
