<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel san_spm_stbm_ver edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Balik ke daftar</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="san_spm_stbm_ver_view.php?{$editlink}" {$view_page_button_attrs}>Lihat</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN provinsi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_provinsi}  r-vertical-field" 
	data-signal-error-for="provinsi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="provinsi" data-fieldname="provinsi" >

	<label class="r-edit-label control-label" for="{$labelfor_provinsi}">
		{BEGIN provinsi_label}{$label san_spm_stbm_ver provinsi }{END provinsi_label}
	</label>
	<div class="r-edit-field">
		{$provinsi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="provinsi">
		<div class="text-muted" >
		{$tooltip san_spm_stbm_ver provinsi }		</div>
	</div>
</div>


{END provinsi_fieldblock}
											
{BEGIN kabupaten_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kabupaten}  r-vertical-field" 
	data-signal-error-for="kabupaten{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="kabupaten" data-fieldname="kabupaten" >

	<label class="r-edit-label control-label" for="{$labelfor_kabupaten}">
		{BEGIN kabupaten_label}{$label san_spm_stbm_ver kabupaten }{END kabupaten_label}
	</label>
	<div class="r-edit-field">
		{$kabupaten_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kabupaten">
		<div class="text-muted" >
		{$tooltip san_spm_stbm_ver kabupaten }		</div>
	</div>
</div>


{END kabupaten_fieldblock}
											
{BEGIN kecamatan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kecamatan}  r-vertical-field" 
	data-signal-error-for="kecamatan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="kecamatan" data-fieldname="kecamatan" >

	<label class="r-edit-label control-label" for="{$labelfor_kecamatan}">
		{BEGIN kecamatan_label}{$label san_spm_stbm_ver kecamatan }{END kecamatan_label}
	</label>
	<div class="r-edit-field">
		{$kecamatan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kecamatan">
		<div class="text-muted" >
		{$tooltip san_spm_stbm_ver kecamatan }		</div>
	</div>
</div>


{END kecamatan_fieldblock}
											
{BEGIN desa_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_desa}  r-vertical-field" 
	data-signal-error-for="desa{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="desa" data-fieldname="desa" >

	<label class="r-edit-label control-label" for="{$labelfor_desa}">
		{BEGIN desa_label}{$label san_spm_stbm_ver desa }{END desa_label}
	</label>
	<div class="r-edit-field">
		{$desa_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="desa">
		<div class="text-muted" >
		{$tooltip san_spm_stbm_ver desa }		</div>
	</div>
</div>


{END desa_fieldblock}
											
{BEGIN jml_kk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jml_kk}  r-vertical-field" 
	data-signal-error-for="jml_kk{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="jml_kk" data-fieldname="jml_kk" >

	<label class="r-edit-label control-label" for="{$labelfor_jml_kk}">
		{BEGIN jml_kk_label}{$label san_spm_stbm_ver jml_kk }{END jml_kk_label}
	</label>
	<div class="r-edit-field">
		{$jml_kk_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jml_kk">
		<div class="text-muted" >
		{$tooltip san_spm_stbm_ver jml_kk }		</div>
	</div>
</div>


{END jml_kk_fieldblock}
											
{BEGIN jsp_baseline_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jsp_baseline}  r-vertical-field" 
	data-signal-error-for="jsp_baseline{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="jsp_baseline" data-fieldname="jsp_baseline" >

	<label class="r-edit-label control-label" for="{$labelfor_jsp_baseline}">
		{BEGIN jsp_baseline_label}{$label san_spm_stbm_ver jsp_baseline }{END jsp_baseline_label}
	</label>
	<div class="r-edit-field">
		{$jsp_baseline_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jsp_baseline">
		<div class="text-muted" >
		{$tooltip san_spm_stbm_ver jsp_baseline }		</div>
	</div>
</div>


{END jsp_baseline_fieldblock}
											
{BEGIN jssp_baseline_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jssp_baseline}  r-vertical-field" 
	data-signal-error-for="jssp_baseline{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="jssp_baseline" data-fieldname="jssp_baseline" >

	<label class="r-edit-label control-label" for="{$labelfor_jssp_baseline}">
		{BEGIN jssp_baseline_label}{$label san_spm_stbm_ver jssp_baseline }{END jssp_baseline_label}
	</label>
	<div class="r-edit-field">
		{$jssp_baseline_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jssp_baseline">
		<div class="text-muted" >
		{$tooltip san_spm_stbm_ver jssp_baseline }		</div>
	</div>
</div>


{END jssp_baseline_fieldblock}
											
{BEGIN sharing_baseline_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sharing_baseline}  r-vertical-field" 
	data-signal-error-for="sharing_baseline{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="sharing_baseline" data-fieldname="sharing_baseline" >

	<label class="r-edit-label control-label" for="{$labelfor_sharing_baseline}">
		{BEGIN sharing_baseline_label}{$label san_spm_stbm_ver sharing_baseline }{END sharing_baseline_label}
	</label>
	<div class="r-edit-field">
		{$sharing_baseline_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sharing_baseline">
		<div class="text-muted" >
		{$tooltip san_spm_stbm_ver sharing_baseline }		</div>
	</div>
</div>


{END sharing_baseline_fieldblock}
											
{BEGIN babs_kk_baseline_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_babs_kk_baseline}  r-vertical-field" 
	data-signal-error-for="babs_kk_baseline{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="babs_kk_baseline" data-fieldname="babs_kk_baseline" >

	<label class="r-edit-label control-label" for="{$labelfor_babs_kk_baseline}">
		{BEGIN babs_kk_baseline_label}{$label san_spm_stbm_ver babs_kk_baseline }{END babs_kk_baseline_label}
	</label>
	<div class="r-edit-field">
		{$babs_kk_baseline_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="babs_kk_baseline">
		<div class="text-muted" >
		{$tooltip san_spm_stbm_ver babs_kk_baseline }		</div>
	</div>
</div>


{END babs_kk_baseline_fieldblock}
											
{BEGIN akses_jamban_baseline_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_akses_jamban_baseline}  r-vertical-field" 
	data-signal-error-for="akses_jamban_baseline{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="akses_jamban_baseline" data-fieldname="akses_jamban_baseline" >

	<label class="r-edit-label control-label" for="{$labelfor_akses_jamban_baseline}">
		{BEGIN akses_jamban_baseline_label}{$label san_spm_stbm_ver akses_jamban_baseline }{END akses_jamban_baseline_label}
	</label>
	<div class="r-edit-field">
		{$akses_jamban_baseline_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="akses_jamban_baseline">
		<div class="text-muted" >
		{$tooltip san_spm_stbm_ver akses_jamban_baseline }		</div>
	</div>
</div>


{END akses_jamban_baseline_fieldblock}
											
{BEGIN jsp_kemajuan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jsp_kemajuan}  r-vertical-field" 
	data-signal-error-for="jsp_kemajuan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="jsp_kemajuan" data-fieldname="jsp_kemajuan" >

	<label class="r-edit-label control-label" for="{$labelfor_jsp_kemajuan}">
		{BEGIN jsp_kemajuan_label}{$label san_spm_stbm_ver jsp_kemajuan }{END jsp_kemajuan_label}
	</label>
	<div class="r-edit-field">
		{$jsp_kemajuan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jsp_kemajuan">
		<div class="text-muted" >
		{$tooltip san_spm_stbm_ver jsp_kemajuan }		</div>
	</div>
</div>


{END jsp_kemajuan_fieldblock}
											
{BEGIN jssp_kemajuan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jssp_kemajuan}  r-vertical-field" 
	data-signal-error-for="jssp_kemajuan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="jssp_kemajuan" data-fieldname="jssp_kemajuan" >

	<label class="r-edit-label control-label" for="{$labelfor_jssp_kemajuan}">
		{BEGIN jssp_kemajuan_label}{$label san_spm_stbm_ver jssp_kemajuan }{END jssp_kemajuan_label}
	</label>
	<div class="r-edit-field">
		{$jssp_kemajuan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jssp_kemajuan">
		<div class="text-muted" >
		{$tooltip san_spm_stbm_ver jssp_kemajuan }		</div>
	</div>
</div>


{END jssp_kemajuan_fieldblock}
											
{BEGIN sharing_kemajuan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sharing_kemajuan}  r-vertical-field" 
	data-signal-error-for="sharing_kemajuan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="sharing_kemajuan" data-fieldname="sharing_kemajuan" >

	<label class="r-edit-label control-label" for="{$labelfor_sharing_kemajuan}">
		{BEGIN sharing_kemajuan_label}{$label san_spm_stbm_ver sharing_kemajuan }{END sharing_kemajuan_label}
	</label>
	<div class="r-edit-field">
		{$sharing_kemajuan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sharing_kemajuan">
		<div class="text-muted" >
		{$tooltip san_spm_stbm_ver sharing_kemajuan }		</div>
	</div>
</div>


{END sharing_kemajuan_fieldblock}
											
{BEGIN babs_kemajuan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_babs_kemajuan}  r-vertical-field" 
	data-signal-error-for="babs_kemajuan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="babs_kemajuan" data-fieldname="babs_kemajuan" >

	<label class="r-edit-label control-label" for="{$labelfor_babs_kemajuan}">
		{BEGIN babs_kemajuan_label}{$label san_spm_stbm_ver babs_kemajuan }{END babs_kemajuan_label}
	</label>
	<div class="r-edit-field">
		{$babs_kemajuan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="babs_kemajuan">
		<div class="text-muted" >
		{$tooltip san_spm_stbm_ver babs_kemajuan }		</div>
	</div>
</div>


{END babs_kemajuan_fieldblock}
											
{BEGIN akses_jamban_kemajuan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_akses_jamban_kemajuan}  r-vertical-field" 
	data-signal-error-for="akses_jamban_kemajuan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="akses_jamban_kemajuan" data-fieldname="akses_jamban_kemajuan" >

	<label class="r-edit-label control-label" for="{$labelfor_akses_jamban_kemajuan}">
		{BEGIN akses_jamban_kemajuan_label}{$label san_spm_stbm_ver akses_jamban_kemajuan }{END akses_jamban_kemajuan_label}
	</label>
	<div class="r-edit-field">
		{$akses_jamban_kemajuan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="akses_jamban_kemajuan">
		<div class="text-muted" >
		{$tooltip san_spm_stbm_ver akses_jamban_kemajuan }		</div>
	</div>
</div>


{END akses_jamban_kemajuan_fieldblock}
											
{BEGIN verifikasi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_verifikasi}  r-vertical-field" 
	data-signal-error-for="verifikasi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="verifikasi" data-fieldname="verifikasi" >

	<label class="r-edit-label control-label" for="{$labelfor_verifikasi}">
		{BEGIN verifikasi_label}{$label san_spm_stbm_ver verifikasi }{END verifikasi_label}
	</label>
	<div class="r-edit-field">
		{$verifikasi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="verifikasi">
		<div class="text-muted" >
		{$tooltip san_spm_stbm_ver verifikasi }		</div>
	</div>
</div>


{END verifikasi_fieldblock}
											
{BEGIN keterangan_verifikasi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_verifikasi}  r-vertical-field" 
	data-signal-error-for="keterangan_verifikasi{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="keterangan_verifikasi" data-fieldname="keterangan_verifikasi" >

	<label class="r-edit-label control-label" for="{$labelfor_keterangan_verifikasi}">
		{BEGIN keterangan_verifikasi_label}{$label san_spm_stbm_ver keterangan_verifikasi }{END keterangan_verifikasi_label}
	</label>
	<div class="r-edit-field">
		{$keterangan_verifikasi_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="keterangan_verifikasi">
		<div class="text-muted" >
		{$tooltip san_spm_stbm_ver keterangan_verifikasi }		</div>
	</div>
</div>


{END keterangan_verifikasi_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Simpan			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Batal			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Tata ulang		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="san_spm_stbm_ver_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		Lihat		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
