<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel san_spm_stbm_ver search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_stbm_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_stbm}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_stbm{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_stbm" data-fieldname="id_stbm" >


	<label class="r-search-label control-label" for="{$labelfor_id_stbm}">
		{$label san_spm_stbm_ver id_stbm }	</label>
	<div class="r-search-option">
		{$searchtype_id_stbm}
	</div>
	<div class="r-search-field">
		{$id_stbm_editcontrol}	</div>
	<div class="r-search-field">
		{$id_stbm_editcontrol1}
	</div>
	
</div>

{END id_stbm_fieldblock}
											
{BEGIN provinsi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_provinsi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="provinsi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="provinsi" data-fieldname="provinsi" >


	<label class="r-search-label control-label" for="{$labelfor_provinsi}">
		{$label san_spm_stbm_ver provinsi }	</label>
	<div class="r-search-option">
		{$searchtype_provinsi}
	</div>
	<div class="r-search-field">
		{$provinsi_editcontrol}	</div>
	<div class="r-search-field">
		{$provinsi_editcontrol1}
	</div>
	
</div>

{END provinsi_fieldblock}
											
{BEGIN kabupaten_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kabupaten}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kabupaten{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="kabupaten" data-fieldname="kabupaten" >


	<label class="r-search-label control-label" for="{$labelfor_kabupaten}">
		{$label san_spm_stbm_ver kabupaten }	</label>
	<div class="r-search-option">
		{$searchtype_kabupaten}
	</div>
	<div class="r-search-field">
		{$kabupaten_editcontrol}	</div>
	<div class="r-search-field">
		{$kabupaten_editcontrol1}
	</div>
	
</div>

{END kabupaten_fieldblock}
											
{BEGIN kecamatan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kecamatan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kecamatan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="kecamatan" data-fieldname="kecamatan" >


	<label class="r-search-label control-label" for="{$labelfor_kecamatan}">
		{$label san_spm_stbm_ver kecamatan }	</label>
	<div class="r-search-option">
		{$searchtype_kecamatan}
	</div>
	<div class="r-search-field">
		{$kecamatan_editcontrol}	</div>
	<div class="r-search-field">
		{$kecamatan_editcontrol1}
	</div>
	
</div>

{END kecamatan_fieldblock}
											
{BEGIN desa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_desa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="desa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="desa" data-fieldname="desa" >


	<label class="r-search-label control-label" for="{$labelfor_desa}">
		{$label san_spm_stbm_ver desa }	</label>
	<div class="r-search-option">
		{$searchtype_desa}
	</div>
	<div class="r-search-field">
		{$desa_editcontrol}	</div>
	<div class="r-search-field">
		{$desa_editcontrol1}
	</div>
	
</div>

{END desa_fieldblock}
											
{BEGIN jml_kk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jml_kk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jml_kk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="jml_kk" data-fieldname="jml_kk" >


	<label class="r-search-label control-label" for="{$labelfor_jml_kk}">
		{$label san_spm_stbm_ver jml_kk }	</label>
	<div class="r-search-option">
		{$searchtype_jml_kk}
	</div>
	<div class="r-search-field">
		{$jml_kk_editcontrol}	</div>
	<div class="r-search-field">
		{$jml_kk_editcontrol1}
	</div>
	
</div>

{END jml_kk_fieldblock}
											
{BEGIN jsp_baseline_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jsp_baseline}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jsp_baseline{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="jsp_baseline" data-fieldname="jsp_baseline" >


	<label class="r-search-label control-label" for="{$labelfor_jsp_baseline}">
		{$label san_spm_stbm_ver jsp_baseline }	</label>
	<div class="r-search-option">
		{$searchtype_jsp_baseline}
	</div>
	<div class="r-search-field">
		{$jsp_baseline_editcontrol}	</div>
	<div class="r-search-field">
		{$jsp_baseline_editcontrol1}
	</div>
	
</div>

{END jsp_baseline_fieldblock}
											
{BEGIN jssp_baseline_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jssp_baseline}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jssp_baseline{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="jssp_baseline" data-fieldname="jssp_baseline" >


	<label class="r-search-label control-label" for="{$labelfor_jssp_baseline}">
		{$label san_spm_stbm_ver jssp_baseline }	</label>
	<div class="r-search-option">
		{$searchtype_jssp_baseline}
	</div>
	<div class="r-search-field">
		{$jssp_baseline_editcontrol}	</div>
	<div class="r-search-field">
		{$jssp_baseline_editcontrol1}
	</div>
	
</div>

{END jssp_baseline_fieldblock}
											
{BEGIN sharing_baseline_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sharing_baseline}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sharing_baseline{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="sharing_baseline" data-fieldname="sharing_baseline" >


	<label class="r-search-label control-label" for="{$labelfor_sharing_baseline}">
		{$label san_spm_stbm_ver sharing_baseline }	</label>
	<div class="r-search-option">
		{$searchtype_sharing_baseline}
	</div>
	<div class="r-search-field">
		{$sharing_baseline_editcontrol}	</div>
	<div class="r-search-field">
		{$sharing_baseline_editcontrol1}
	</div>
	
</div>

{END sharing_baseline_fieldblock}
											
{BEGIN babs_kk_baseline_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_babs_kk_baseline}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="babs_kk_baseline{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="babs_kk_baseline" data-fieldname="babs_kk_baseline" >


	<label class="r-search-label control-label" for="{$labelfor_babs_kk_baseline}">
		{$label san_spm_stbm_ver babs_kk_baseline }	</label>
	<div class="r-search-option">
		{$searchtype_babs_kk_baseline}
	</div>
	<div class="r-search-field">
		{$babs_kk_baseline_editcontrol}	</div>
	<div class="r-search-field">
		{$babs_kk_baseline_editcontrol1}
	</div>
	
</div>

{END babs_kk_baseline_fieldblock}
											
{BEGIN akses_jamban_baseline_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_akses_jamban_baseline}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="akses_jamban_baseline{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="akses_jamban_baseline" data-fieldname="akses_jamban_baseline" >


	<label class="r-search-label control-label" for="{$labelfor_akses_jamban_baseline}">
		{$label san_spm_stbm_ver akses_jamban_baseline }	</label>
	<div class="r-search-option">
		{$searchtype_akses_jamban_baseline}
	</div>
	<div class="r-search-field">
		{$akses_jamban_baseline_editcontrol}	</div>
	<div class="r-search-field">
		{$akses_jamban_baseline_editcontrol1}
	</div>
	
</div>

{END akses_jamban_baseline_fieldblock}
											
{BEGIN jsp_kemajuan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jsp_kemajuan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jsp_kemajuan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="jsp_kemajuan" data-fieldname="jsp_kemajuan" >


	<label class="r-search-label control-label" for="{$labelfor_jsp_kemajuan}">
		{$label san_spm_stbm_ver jsp_kemajuan }	</label>
	<div class="r-search-option">
		{$searchtype_jsp_kemajuan}
	</div>
	<div class="r-search-field">
		{$jsp_kemajuan_editcontrol}	</div>
	<div class="r-search-field">
		{$jsp_kemajuan_editcontrol1}
	</div>
	
</div>

{END jsp_kemajuan_fieldblock}
											
{BEGIN jssp_kemajuan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jssp_kemajuan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jssp_kemajuan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="jssp_kemajuan" data-fieldname="jssp_kemajuan" >


	<label class="r-search-label control-label" for="{$labelfor_jssp_kemajuan}">
		{$label san_spm_stbm_ver jssp_kemajuan }	</label>
	<div class="r-search-option">
		{$searchtype_jssp_kemajuan}
	</div>
	<div class="r-search-field">
		{$jssp_kemajuan_editcontrol}	</div>
	<div class="r-search-field">
		{$jssp_kemajuan_editcontrol1}
	</div>
	
</div>

{END jssp_kemajuan_fieldblock}
											
{BEGIN sharing_kemajuan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sharing_kemajuan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sharing_kemajuan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="sharing_kemajuan" data-fieldname="sharing_kemajuan" >


	<label class="r-search-label control-label" for="{$labelfor_sharing_kemajuan}">
		{$label san_spm_stbm_ver sharing_kemajuan }	</label>
	<div class="r-search-option">
		{$searchtype_sharing_kemajuan}
	</div>
	<div class="r-search-field">
		{$sharing_kemajuan_editcontrol}	</div>
	<div class="r-search-field">
		{$sharing_kemajuan_editcontrol1}
	</div>
	
</div>

{END sharing_kemajuan_fieldblock}
											
{BEGIN babs_kemajuan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_babs_kemajuan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="babs_kemajuan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="babs_kemajuan" data-fieldname="babs_kemajuan" >


	<label class="r-search-label control-label" for="{$labelfor_babs_kemajuan}">
		{$label san_spm_stbm_ver babs_kemajuan }	</label>
	<div class="r-search-option">
		{$searchtype_babs_kemajuan}
	</div>
	<div class="r-search-field">
		{$babs_kemajuan_editcontrol}	</div>
	<div class="r-search-field">
		{$babs_kemajuan_editcontrol1}
	</div>
	
</div>

{END babs_kemajuan_fieldblock}
											
{BEGIN akses_jamban_kemajuan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_akses_jamban_kemajuan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="akses_jamban_kemajuan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="akses_jamban_kemajuan" data-fieldname="akses_jamban_kemajuan" >


	<label class="r-search-label control-label" for="{$labelfor_akses_jamban_kemajuan}">
		{$label san_spm_stbm_ver akses_jamban_kemajuan }	</label>
	<div class="r-search-option">
		{$searchtype_akses_jamban_kemajuan}
	</div>
	<div class="r-search-field">
		{$akses_jamban_kemajuan_editcontrol}	</div>
	<div class="r-search-field">
		{$akses_jamban_kemajuan_editcontrol1}
	</div>
	
</div>

{END akses_jamban_kemajuan_fieldblock}
											
{BEGIN verifikasi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_verifikasi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="verifikasi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="verifikasi" data-fieldname="verifikasi" >


	<label class="r-search-label control-label" for="{$labelfor_verifikasi}">
		{$label san_spm_stbm_ver verifikasi }	</label>
	<div class="r-search-option">
		{$searchtype_verifikasi}
	</div>
	<div class="r-search-field">
		{$verifikasi_editcontrol}	</div>
	<div class="r-search-field">
		{$verifikasi_editcontrol1}
	</div>
	
</div>

{END verifikasi_fieldblock}
											
{BEGIN keterangan_verifikasi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan_verifikasi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="keterangan_verifikasi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="keterangan_verifikasi" data-fieldname="keterangan_verifikasi" >


	<label class="r-search-label control-label" for="{$labelfor_keterangan_verifikasi}">
		{$label san_spm_stbm_ver keterangan_verifikasi }	</label>
	<div class="r-search-option">
		{$searchtype_keterangan_verifikasi}
	</div>
	<div class="r-search-field">
		{$keterangan_verifikasi_editcontrol}	</div>
	<div class="r-search-field">
		{$keterangan_verifikasi_editcontrol1}
	</div>
	
</div>

{END keterangan_verifikasi_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Cari			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Tata ulang			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Batal			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
