<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel san_profil search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label san_profil id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN propinsiid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_propinsiid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="propinsiid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="propinsiid" data-fieldname="propinsiid" >


	<label class="r-search-label control-label" for="{$labelfor_propinsiid}">
		{$label san_profil propinsiid }	</label>
	<div class="r-search-option">
		{$searchtype_propinsiid}
	</div>
	<div class="r-search-field">
		{$propinsiid_editcontrol}	</div>
	<div class="r-search-field">
		{$propinsiid_editcontrol1}
	</div>
	
</div>

{END propinsiid_fieldblock}
											
{BEGIN kabupatenkotaid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kabupatenkotaid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kabupatenkotaid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="kabupatenkotaid" data-fieldname="kabupatenkotaid" >


	<label class="r-search-label control-label" for="{$labelfor_kabupatenkotaid}">
		{$label san_profil kabupatenkotaid }	</label>
	<div class="r-search-option">
		{$searchtype_kabupatenkotaid}
	</div>
	<div class="r-search-field">
		{$kabupatenkotaid_editcontrol}	</div>
	<div class="r-search-field">
		{$kabupatenkotaid_editcontrol1}
	</div>
	
</div>

{END kabupatenkotaid_fieldblock}
											
{BEGIN jumlahpendudukadmin_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlahpendudukadmin}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlahpendudukadmin{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="jumlahpendudukadmin" data-fieldname="jumlahpendudukadmin" >


	<label class="r-search-label control-label" for="{$labelfor_jumlahpendudukadmin}">
		{$label san_profil jumlahpendudukadmin }	</label>
	<div class="r-search-option">
		{$searchtype_jumlahpendudukadmin}
	</div>
	<div class="r-search-field">
		{$jumlahpendudukadmin_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlahpendudukadmin_editcontrol1}
	</div>
	
</div>

{END jumlahpendudukadmin_fieldblock}
											
{BEGIN jumlahrumah_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlahrumah}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlahrumah{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="jumlahrumah" data-fieldname="jumlahrumah" >


	<label class="r-search-label control-label" for="{$labelfor_jumlahrumah}">
		{$label san_profil jumlahrumah }	</label>
	<div class="r-search-option">
		{$searchtype_jumlahrumah}
	</div>
	<div class="r-search-field">
		{$jumlahrumah_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlahrumah_editcontrol1}
	</div>
	
</div>

{END jumlahrumah_fieldblock}
											
{BEGIN jumlahpendudukkota_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlahpendudukkota}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlahpendudukkota{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="jumlahpendudukkota" data-fieldname="jumlahpendudukkota" >


	<label class="r-search-label control-label" for="{$labelfor_jumlahpendudukkota}">
		{$label san_profil jumlahpendudukkota }	</label>
	<div class="r-search-option">
		{$searchtype_jumlahpendudukkota}
	</div>
	<div class="r-search-field">
		{$jumlahpendudukkota_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlahpendudukkota_editcontrol1}
	</div>
	
</div>

{END jumlahpendudukkota_fieldblock}
											
{BEGIN jumlahpendudukdesa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlahpendudukdesa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlahpendudukdesa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="jumlahpendudukdesa" data-fieldname="jumlahpendudukdesa" >


	<label class="r-search-label control-label" for="{$labelfor_jumlahpendudukdesa}">
		{$label san_profil jumlahpendudukdesa }	</label>
	<div class="r-search-option">
		{$searchtype_jumlahpendudukdesa}
	</div>
	<div class="r-search-field">
		{$jumlahpendudukdesa_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlahpendudukdesa_editcontrol1}
	</div>
	
</div>

{END jumlahpendudukdesa_fieldblock}
											
{BEGIN jumlahjiwa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlahjiwa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlahjiwa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="jumlahjiwa" data-fieldname="jumlahjiwa" >


	<label class="r-search-label control-label" for="{$labelfor_jumlahjiwa}">
		{$label san_profil jumlahjiwa }	</label>
	<div class="r-search-option">
		{$searchtype_jumlahjiwa}
	</div>
	<div class="r-search-field">
		{$jumlahjiwa_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlahjiwa_editcontrol1}
	</div>
	
</div>

{END jumlahjiwa_fieldblock}
											
{BEGIN kepadatanpenduduk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kepadatanpenduduk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kepadatanpenduduk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="kepadatanpenduduk" data-fieldname="kepadatanpenduduk" >


	<label class="r-search-label control-label" for="{$labelfor_kepadatanpenduduk}">
		{$label san_profil kepadatanpenduduk }	</label>
	<div class="r-search-option">
		{$searchtype_kepadatanpenduduk}
	</div>
	<div class="r-search-field">
		{$kepadatanpenduduk_editcontrol}	</div>
	<div class="r-search-field">
		{$kepadatanpenduduk_editcontrol1}
	</div>
	
</div>

{END kepadatanpenduduk_fieldblock}
											
{BEGIN lajupertumbuhanpenduduk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lajupertumbuhanpenduduk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lajupertumbuhanpenduduk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="lajupertumbuhanpenduduk" data-fieldname="lajupertumbuhanpenduduk" >


	<label class="r-search-label control-label" for="{$labelfor_lajupertumbuhanpenduduk}">
		{$label san_profil lajupertumbuhanpenduduk }	</label>
	<div class="r-search-option">
		{$searchtype_lajupertumbuhanpenduduk}
	</div>
	<div class="r-search-field">
		{$lajupertumbuhanpenduduk_editcontrol}	</div>
	<div class="r-search-field">
		{$lajupertumbuhanpenduduk_editcontrol1}
	</div>
	
</div>

{END lajupertumbuhanpenduduk_fieldblock}
											
{BEGIN indexfiskal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_indexfiskal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="indexfiskal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="indexfiskal" data-fieldname="indexfiskal" >


	<label class="r-search-label control-label" for="{$labelfor_indexfiskal}">
		{$label san_profil indexfiskal }	</label>
	<div class="r-search-option">
		{$searchtype_indexfiskal}
	</div>
	<div class="r-search-field">
		{$indexfiskal_editcontrol}	</div>
	<div class="r-search-field">
		{$indexfiskal_editcontrol1}
	</div>
	
</div>

{END indexfiskal_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Cari			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Tata ulang			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Batal			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
