<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel sigdrainase_bangunan_terjun view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN kd_saluran_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_saluran}  r-vertical-field" data-fieldname="kd_saluran" data-signal-error-for="kd_saluran{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="kd_saluran" data-fieldname="kd_saluran" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_kd_saluran}">
		
		{BEGIN kd_saluran_label}{$label sigdrainase_bangunan_terjun kd_saluran }{END kd_saluran_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$kd_saluran_value}	</div>

		
</div>


{END kd_saluran_fieldblock}
											
{BEGIN kd_bangunan_terjun_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_bangunan_terjun}  r-vertical-field" data-fieldname="kd_bangunan_terjun" data-signal-error-for="kd_bangunan_terjun{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="kd_bangunan_terjun" data-fieldname="kd_bangunan_terjun" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_kd_bangunan_terjun}">
		
		{BEGIN kd_bangunan_terjun_label}{$label sigdrainase_bangunan_terjun kd_bangunan_terjun }{END kd_bangunan_terjun_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$kd_bangunan_terjun_value}	</div>

		
</div>


{END kd_bangunan_terjun_fieldblock}
											
{BEGIN jmlUnit_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlUnit}  r-vertical-field" data-fieldname="jmlUnit" data-signal-error-for="jmlUnit{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="jmlUnit" data-fieldname="jmlUnit" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_jmlUnit}">
		
		{BEGIN jmlUnit_label}{$label sigdrainase_bangunan_terjun jmlUnit }{END jmlUnit_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$jmlUnit_value}	</div>

		
</div>


{END jmlUnit_fieldblock}
											
{BEGIN kd_bahan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_bahan}  r-vertical-field" data-fieldname="kd_bahan" data-signal-error-for="kd_bahan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="kd_bahan" data-fieldname="kd_bahan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_kd_bahan}">
		
		{BEGIN kd_bahan_label}{$label sigdrainase_bangunan_terjun kd_bahan }{END kd_bahan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$kd_bahan_value}	</div>

		
</div>


{END kd_bahan_fieldblock}
											
{BEGIN tipikalBangunan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tipikalBangunan}  r-vertical-field" data-fieldname="tipikalBangunan" data-signal-error-for="tipikalBangunan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="tipikalBangunan" data-fieldname="tipikalBangunan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_tipikalBangunan}">
		
		{BEGIN tipikalBangunan_label}{$label sigdrainase_bangunan_terjun tipikalBangunan }{END tipikalBangunan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$tipikalBangunan_value}	</div>

		
</div>


{END tipikalBangunan_fieldblock}
											
{BEGIN lebarMin_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lebarMin}  r-vertical-field" data-fieldname="lebarMin" data-signal-error-for="lebarMin{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="lebarMin" data-fieldname="lebarMin" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_lebarMin}">
		
		{BEGIN lebarMin_label}{$label sigdrainase_bangunan_terjun lebarMin }{END lebarMin_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$lebarMin_value}	</div>

		
</div>


{END lebarMin_fieldblock}
											
{BEGIN lebarMax_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lebarMax}  r-vertical-field" data-fieldname="lebarMax" data-signal-error-for="lebarMax{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="lebarMax" data-fieldname="lebarMax" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_lebarMax}">
		
		{BEGIN lebarMax_label}{$label sigdrainase_bangunan_terjun lebarMax }{END lebarMax_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$lebarMax_value}	</div>

		
</div>


{END lebarMax_fieldblock}
											
{BEGIN tinggiMin_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tinggiMin}  r-vertical-field" data-fieldname="tinggiMin" data-signal-error-for="tinggiMin{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="tinggiMin" data-fieldname="tinggiMin" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_tinggiMin}">
		
		{BEGIN tinggiMin_label}{$label sigdrainase_bangunan_terjun tinggiMin }{END tinggiMin_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$tinggiMin_value}	</div>

		
</div>


{END tinggiMin_fieldblock}
											
{BEGIN tinggiMax_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tinggiMax}  r-vertical-field" data-fieldname="tinggiMax" data-signal-error-for="tinggiMax{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="tinggiMax" data-fieldname="tinggiMax" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_tinggiMax}">
		
		{BEGIN tinggiMax_label}{$label sigdrainase_bangunan_terjun tinggiMax }{END tinggiMax_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$tinggiMax_value}	</div>

		
</div>


{END tinggiMax_fieldblock}
											
{BEGIN tahun_data_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tahun_data}  r-vertical-field" data-fieldname="tahun_data" data-signal-error-for="tahun_data{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="tahun_data" data-fieldname="tahun_data" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_tahun_data}">
		
		{BEGIN tahun_data_label}{$label sigdrainase_bangunan_terjun tahun_data }{END tahun_data_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$tahun_data_value}	</div>

		
</div>


{END tahun_data_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Tutup jendela			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="sigdrainase_bangunan_terjun_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Edit		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
