<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel sigdrainase_kontruksi_drainase search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN kd_konstruksi_drainase_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_konstruksi_drainase}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kd_konstruksi_drainase{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="kd_konstruksi_drainase" data-fieldname="kd_konstruksi_drainase" >


	<label class="r-search-label control-label" for="{$labelfor_kd_konstruksi_drainase}">
		{$label sigdrainase_kontruksi_drainase kd_konstruksi_drainase }	</label>
	<div class="r-search-option">
		{$searchtype_kd_konstruksi_drainase}
	</div>
	<div class="r-search-field">
		{$kd_konstruksi_drainase_editcontrol}	</div>
	<div class="r-search-field">
		{$kd_konstruksi_drainase_editcontrol1}
	</div>
	
</div>

{END kd_konstruksi_drainase_fieldblock}
											
{BEGIN panjangSaluran_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_panjangSaluran}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="panjangSaluran{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="panjangSaluran" data-fieldname="panjangSaluran" >


	<label class="r-search-label control-label" for="{$labelfor_panjangSaluran}">
		{$label sigdrainase_kontruksi_drainase panjangSaluran }	</label>
	<div class="r-search-option">
		{$searchtype_panjangSaluran}
	</div>
	<div class="r-search-field">
		{$panjangSaluran_editcontrol}	</div>
	<div class="r-search-field">
		{$panjangSaluran_editcontrol1}
	</div>
	
</div>

{END panjangSaluran_fieldblock}
											
{BEGIN kd_bentuk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_bentuk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kd_bentuk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="kd_bentuk" data-fieldname="kd_bentuk" >


	<label class="r-search-label control-label" for="{$labelfor_kd_bentuk}">
		{$label sigdrainase_kontruksi_drainase kd_bentuk }	</label>
	<div class="r-search-option">
		{$searchtype_kd_bentuk}
	</div>
	<div class="r-search-field">
		{$kd_bentuk_editcontrol}	</div>
	<div class="r-search-field">
		{$kd_bentuk_editcontrol1}
	</div>
	
</div>

{END kd_bentuk_fieldblock}
											
{BEGIN lebarMin_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lebarMin}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lebarMin{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="lebarMin" data-fieldname="lebarMin" >


	<label class="r-search-label control-label" for="{$labelfor_lebarMin}">
		{$label sigdrainase_kontruksi_drainase lebarMin }	</label>
	<div class="r-search-option">
		{$searchtype_lebarMin}
	</div>
	<div class="r-search-field">
		{$lebarMin_editcontrol}	</div>
	<div class="r-search-field">
		{$lebarMin_editcontrol1}
	</div>
	
</div>

{END lebarMin_fieldblock}
											
{BEGIN lebarMax_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lebarMax}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lebarMax{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="lebarMax" data-fieldname="lebarMax" >


	<label class="r-search-label control-label" for="{$labelfor_lebarMax}">
		{$label sigdrainase_kontruksi_drainase lebarMax }	</label>
	<div class="r-search-option">
		{$searchtype_lebarMax}
	</div>
	<div class="r-search-field">
		{$lebarMax_editcontrol}	</div>
	<div class="r-search-field">
		{$lebarMax_editcontrol1}
	</div>
	
</div>

{END lebarMax_fieldblock}
											
{BEGIN lebarBawahMin_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lebarBawahMin}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lebarBawahMin{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="lebarBawahMin" data-fieldname="lebarBawahMin" >


	<label class="r-search-label control-label" for="{$labelfor_lebarBawahMin}">
		{$label sigdrainase_kontruksi_drainase lebarBawahMin }	</label>
	<div class="r-search-option">
		{$searchtype_lebarBawahMin}
	</div>
	<div class="r-search-field">
		{$lebarBawahMin_editcontrol}	</div>
	<div class="r-search-field">
		{$lebarBawahMin_editcontrol1}
	</div>
	
</div>

{END lebarBawahMin_fieldblock}
											
{BEGIN lebarBawahMax_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lebarBawahMax}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lebarBawahMax{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="lebarBawahMax" data-fieldname="lebarBawahMax" >


	<label class="r-search-label control-label" for="{$labelfor_lebarBawahMax}">
		{$label sigdrainase_kontruksi_drainase lebarBawahMax }	</label>
	<div class="r-search-option">
		{$searchtype_lebarBawahMax}
	</div>
	<div class="r-search-field">
		{$lebarBawahMax_editcontrol}	</div>
	<div class="r-search-field">
		{$lebarBawahMax_editcontrol1}
	</div>
	
</div>

{END lebarBawahMax_fieldblock}
											
{BEGIN lebarAtasMin_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lebarAtasMin}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lebarAtasMin{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="lebarAtasMin" data-fieldname="lebarAtasMin" >


	<label class="r-search-label control-label" for="{$labelfor_lebarAtasMin}">
		{$label sigdrainase_kontruksi_drainase lebarAtasMin }	</label>
	<div class="r-search-option">
		{$searchtype_lebarAtasMin}
	</div>
	<div class="r-search-field">
		{$lebarAtasMin_editcontrol}	</div>
	<div class="r-search-field">
		{$lebarAtasMin_editcontrol1}
	</div>
	
</div>

{END lebarAtasMin_fieldblock}
											
{BEGIN lebarAtasMax_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lebarAtasMax}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lebarAtasMax{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="lebarAtasMax" data-fieldname="lebarAtasMax" >


	<label class="r-search-label control-label" for="{$labelfor_lebarAtasMax}">
		{$label sigdrainase_kontruksi_drainase lebarAtasMax }	</label>
	<div class="r-search-option">
		{$searchtype_lebarAtasMax}
	</div>
	<div class="r-search-field">
		{$lebarAtasMax_editcontrol}	</div>
	<div class="r-search-field">
		{$lebarAtasMax_editcontrol1}
	</div>
	
</div>

{END lebarAtasMax_fieldblock}
											
{BEGIN tinggiMin_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tinggiMin}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tinggiMin{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="tinggiMin" data-fieldname="tinggiMin" >


	<label class="r-search-label control-label" for="{$labelfor_tinggiMin}">
		{$label sigdrainase_kontruksi_drainase tinggiMin }	</label>
	<div class="r-search-option">
		{$searchtype_tinggiMin}
	</div>
	<div class="r-search-field">
		{$tinggiMin_editcontrol}	</div>
	<div class="r-search-field">
		{$tinggiMin_editcontrol1}
	</div>
	
</div>

{END tinggiMin_fieldblock}
											
{BEGIN tinggiMax_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tinggiMax}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tinggiMax{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="tinggiMax" data-fieldname="tinggiMax" >


	<label class="r-search-label control-label" for="{$labelfor_tinggiMax}">
		{$label sigdrainase_kontruksi_drainase tinggiMax }	</label>
	<div class="r-search-option">
		{$searchtype_tinggiMax}
	</div>
	<div class="r-search-field">
		{$tinggiMax_editcontrol}	</div>
	<div class="r-search-field">
		{$tinggiMax_editcontrol1}
	</div>
	
</div>

{END tinggiMax_fieldblock}
											
{BEGIN tahun_data_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tahun_data}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tahun_data{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="tahun_data" data-fieldname="tahun_data" >


	<label class="r-search-label control-label" for="{$labelfor_tahun_data}">
		{$label sigdrainase_kontruksi_drainase tahun_data }	</label>
	<div class="r-search-option">
		{$searchtype_tahun_data}
	</div>
	<div class="r-search-field">
		{$tahun_data_editcontrol}	</div>
	<div class="r-search-field">
		{$tahun_data_editcontrol1}
	</div>
	
</div>

{END tahun_data_fieldblock}
											
{BEGIN kd_saluran_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kd_saluran}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kd_saluran{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="kd_saluran" data-fieldname="kd_saluran" >


	<label class="r-search-label control-label" for="{$labelfor_kd_saluran}">
		{$label sigdrainase_kontruksi_drainase kd_saluran }	</label>
	<div class="r-search-option">
		{$searchtype_kd_saluran}
	</div>
	<div class="r-search-field">
		{$kd_saluran_editcontrol}	</div>
	<div class="r-search-field">
		{$kd_saluran_editcontrol1}
	</div>
	
</div>

{END kd_saluran_fieldblock}
											
{BEGIN foto_sebelum_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_foto_sebelum}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="foto_sebelum{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="foto_sebelum" data-fieldname="foto_sebelum" >


	<label class="r-search-label control-label" for="{$labelfor_foto_sebelum}">
		{$label sigdrainase_kontruksi_drainase foto_sebelum }	</label>
	<div class="r-search-option">
		{$searchtype_foto_sebelum}
	</div>
	<div class="r-search-field">
		{$foto_sebelum_editcontrol}	</div>
	<div class="r-search-field">
		{$foto_sebelum_editcontrol1}
	</div>
	
</div>

{END foto_sebelum_fieldblock}
											
{BEGIN foto_sesudah_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_foto_sesudah}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="foto_sesudah{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="foto_sesudah" data-fieldname="foto_sesudah" >


	<label class="r-search-label control-label" for="{$labelfor_foto_sesudah}">
		{$label sigdrainase_kontruksi_drainase foto_sesudah }	</label>
	<div class="r-search-option">
		{$searchtype_foto_sesudah}
	</div>
	<div class="r-search-field">
		{$foto_sesudah_editcontrol}	</div>
	<div class="r-search-field">
		{$foto_sesudah_editcontrol1}
	</div>
	
</div>

{END foto_sesudah_fieldblock}
											
{BEGIN jumlah_penduduk_penerima_manfaat_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_penduduk_penerima_manfaat}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlah_penduduk_penerima_manfaat{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="jumlah_penduduk_penerima_manfaat" data-fieldname="jumlah_penduduk_penerima_manfaat" >


	<label class="r-search-label control-label" for="{$labelfor_jumlah_penduduk_penerima_manfaat}">
		{$label sigdrainase_kontruksi_drainase jumlah_penduduk_penerima_manfaat }	</label>
	<div class="r-search-option">
		{$searchtype_jumlah_penduduk_penerima_manfaat}
	</div>
	<div class="r-search-field">
		{$jumlah_penduduk_penerima_manfaat_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlah_penduduk_penerima_manfaat_editcontrol1}
	</div>
	
</div>

{END jumlah_penduduk_penerima_manfaat_fieldblock}
											
{BEGIN rasio_penerima_manfaat_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_rasio_penerima_manfaat}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="rasio_penerima_manfaat{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="rasio_penerima_manfaat" data-fieldname="rasio_penerima_manfaat" >


	<label class="r-search-label control-label" for="{$labelfor_rasio_penerima_manfaat}">
		{$label sigdrainase_kontruksi_drainase rasio_penerima_manfaat }	</label>
	<div class="r-search-option">
		{$searchtype_rasio_penerima_manfaat}
	</div>
	<div class="r-search-field">
		{$rasio_penerima_manfaat_editcontrol}	</div>
	<div class="r-search-field">
		{$rasio_penerima_manfaat_editcontrol1}
	</div>
	
</div>

{END rasio_penerima_manfaat_fieldblock}
											
{BEGIN koordinat_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_koordinat}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="koordinat{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="koordinat" data-fieldname="koordinat" >


	<label class="r-search-label control-label" for="{$labelfor_koordinat}">
		{$label sigdrainase_kontruksi_drainase koordinat }	</label>
	<div class="r-search-option">
		{$searchtype_koordinat}
	</div>
	<div class="r-search-field">
		{$koordinat_editcontrol}	</div>
	<div class="r-search-field">
		{$koordinat_editcontrol1}
	</div>
	
</div>

{END koordinat_fieldblock}
											
{BEGIN nama_sistem_drainase_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nama_sistem_drainase}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nama_sistem_drainase{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="nama_sistem_drainase" data-fieldname="nama_sistem_drainase" >


	<label class="r-search-label control-label" for="{$labelfor_nama_sistem_drainase}">
		{$label sigdrainase_kontruksi_drainase nama_sistem_drainase }	</label>
	<div class="r-search-option">
		{$searchtype_nama_sistem_drainase}
	</div>
	<div class="r-search-field">
		{$nama_sistem_drainase_editcontrol}	</div>
	<div class="r-search-field">
		{$nama_sistem_drainase_editcontrol1}
	</div>
	
</div>

{END nama_sistem_drainase_fieldblock}
											
{BEGIN keterangan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_keterangan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="keterangan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="keterangan" data-fieldname="keterangan" >


	<label class="r-search-label control-label" for="{$labelfor_keterangan}">
		{$label sigdrainase_kontruksi_drainase keterangan }	</label>
	<div class="r-search-option">
		{$searchtype_keterangan}
	</div>
	<div class="r-search-field">
		{$keterangan_editcontrol}	</div>
	<div class="r-search-field">
		{$keterangan_editcontrol1}
	</div>
	
</div>

{END keterangan_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Cari			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Tata ulang			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Batal			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
