<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel simdak_v_rekap_ipal_mck search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN propinsi_nama_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_propinsi_nama}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="propinsi_nama{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="propinsi_nama" data-fieldname="propinsi_nama" >


	<label class="r-search-label control-label" for="{$labelfor_propinsi_nama}">
		{$label simdak_v_rekap_ipal_mck propinsi_nama }	</label>
	<div class="r-search-option">
		{$searchtype_propinsi_nama}
	</div>
	<div class="r-search-field">
		{$propinsi_nama_editcontrol}	</div>
	<div class="r-search-field">
		{$propinsi_nama_editcontrol1}
	</div>
	
</div>

{END propinsi_nama_fieldblock}
											
{BEGIN jmlkeg2015_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlkeg2015}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlkeg2015{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="jmlkeg2015" data-fieldname="jmlkeg2015" >


	<label class="r-search-label control-label" for="{$labelfor_jmlkeg2015}">
		{$label simdak_v_rekap_ipal_mck jmlkeg2015 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlkeg2015}
	</div>
	<div class="r-search-field">
		{$jmlkeg2015_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlkeg2015_editcontrol1}
	</div>
	
</div>

{END jmlkeg2015_fieldblock}
											
{BEGIN jmlunit2015_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlunit2015}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlunit2015{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="jmlunit2015" data-fieldname="jmlunit2015" >


	<label class="r-search-label control-label" for="{$labelfor_jmlunit2015}">
		{$label simdak_v_rekap_ipal_mck jmlunit2015 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlunit2015}
	</div>
	<div class="r-search-field">
		{$jmlunit2015_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlunit2015_editcontrol1}
	</div>
	
</div>

{END jmlunit2015_fieldblock}
											
{BEGIN jmlsr2015_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlsr2015}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlsr2015{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="jmlsr2015" data-fieldname="jmlsr2015" >


	<label class="r-search-label control-label" for="{$labelfor_jmlsr2015}">
		{$label simdak_v_rekap_ipal_mck jmlsr2015 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlsr2015}
	</div>
	<div class="r-search-field">
		{$jmlsr2015_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlsr2015_editcontrol1}
	</div>
	
</div>

{END jmlsr2015_fieldblock}
											
{BEGIN jmljiwa2015_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmljiwa2015}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmljiwa2015{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="jmljiwa2015" data-fieldname="jmljiwa2015" >


	<label class="r-search-label control-label" for="{$labelfor_jmljiwa2015}">
		{$label simdak_v_rekap_ipal_mck jmljiwa2015 }	</label>
	<div class="r-search-option">
		{$searchtype_jmljiwa2015}
	</div>
	<div class="r-search-field">
		{$jmljiwa2015_editcontrol}	</div>
	<div class="r-search-field">
		{$jmljiwa2015_editcontrol1}
	</div>
	
</div>

{END jmljiwa2015_fieldblock}
											
{BEGIN jmlkeg2016_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlkeg2016}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlkeg2016{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="jmlkeg2016" data-fieldname="jmlkeg2016" >


	<label class="r-search-label control-label" for="{$labelfor_jmlkeg2016}">
		{$label simdak_v_rekap_ipal_mck jmlkeg2016 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlkeg2016}
	</div>
	<div class="r-search-field">
		{$jmlkeg2016_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlkeg2016_editcontrol1}
	</div>
	
</div>

{END jmlkeg2016_fieldblock}
											
{BEGIN jmlunit2016_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlunit2016}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlunit2016{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="jmlunit2016" data-fieldname="jmlunit2016" >


	<label class="r-search-label control-label" for="{$labelfor_jmlunit2016}">
		{$label simdak_v_rekap_ipal_mck jmlunit2016 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlunit2016}
	</div>
	<div class="r-search-field">
		{$jmlunit2016_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlunit2016_editcontrol1}
	</div>
	
</div>

{END jmlunit2016_fieldblock}
											
{BEGIN jmlsr2016_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlsr2016}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlsr2016{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="jmlsr2016" data-fieldname="jmlsr2016" >


	<label class="r-search-label control-label" for="{$labelfor_jmlsr2016}">
		{$label simdak_v_rekap_ipal_mck jmlsr2016 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlsr2016}
	</div>
	<div class="r-search-field">
		{$jmlsr2016_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlsr2016_editcontrol1}
	</div>
	
</div>

{END jmlsr2016_fieldblock}
											
{BEGIN jmljiwa2016_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmljiwa2016}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmljiwa2016{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="jmljiwa2016" data-fieldname="jmljiwa2016" >


	<label class="r-search-label control-label" for="{$labelfor_jmljiwa2016}">
		{$label simdak_v_rekap_ipal_mck jmljiwa2016 }	</label>
	<div class="r-search-option">
		{$searchtype_jmljiwa2016}
	</div>
	<div class="r-search-field">
		{$jmljiwa2016_editcontrol}	</div>
	<div class="r-search-field">
		{$jmljiwa2016_editcontrol1}
	</div>
	
</div>

{END jmljiwa2016_fieldblock}
											
{BEGIN jmlkeg2017_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlkeg2017}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlkeg2017{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="jmlkeg2017" data-fieldname="jmlkeg2017" >


	<label class="r-search-label control-label" for="{$labelfor_jmlkeg2017}">
		{$label simdak_v_rekap_ipal_mck jmlkeg2017 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlkeg2017}
	</div>
	<div class="r-search-field">
		{$jmlkeg2017_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlkeg2017_editcontrol1}
	</div>
	
</div>

{END jmlkeg2017_fieldblock}
											
{BEGIN jmlunit2017_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlunit2017}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlunit2017{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="jmlunit2017" data-fieldname="jmlunit2017" >


	<label class="r-search-label control-label" for="{$labelfor_jmlunit2017}">
		{$label simdak_v_rekap_ipal_mck jmlunit2017 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlunit2017}
	</div>
	<div class="r-search-field">
		{$jmlunit2017_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlunit2017_editcontrol1}
	</div>
	
</div>

{END jmlunit2017_fieldblock}
											
{BEGIN jmlsr2017_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlsr2017}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlsr2017{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="jmlsr2017" data-fieldname="jmlsr2017" >


	<label class="r-search-label control-label" for="{$labelfor_jmlsr2017}">
		{$label simdak_v_rekap_ipal_mck jmlsr2017 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlsr2017}
	</div>
	<div class="r-search-field">
		{$jmlsr2017_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlsr2017_editcontrol1}
	</div>
	
</div>

{END jmlsr2017_fieldblock}
											
{BEGIN jmljiwa2017_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmljiwa2017}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmljiwa2017{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="jmljiwa2017" data-fieldname="jmljiwa2017" >


	<label class="r-search-label control-label" for="{$labelfor_jmljiwa2017}">
		{$label simdak_v_rekap_ipal_mck jmljiwa2017 }	</label>
	<div class="r-search-option">
		{$searchtype_jmljiwa2017}
	</div>
	<div class="r-search-field">
		{$jmljiwa2017_editcontrol}	</div>
	<div class="r-search-field">
		{$jmljiwa2017_editcontrol1}
	</div>
	
</div>

{END jmljiwa2017_fieldblock}
											
{BEGIN jmlkeg2018_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlkeg2018}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlkeg2018{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="jmlkeg2018" data-fieldname="jmlkeg2018" >


	<label class="r-search-label control-label" for="{$labelfor_jmlkeg2018}">
		{$label simdak_v_rekap_ipal_mck jmlkeg2018 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlkeg2018}
	</div>
	<div class="r-search-field">
		{$jmlkeg2018_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlkeg2018_editcontrol1}
	</div>
	
</div>

{END jmlkeg2018_fieldblock}
											
{BEGIN jmlunit2018_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlunit2018}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlunit2018{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="jmlunit2018" data-fieldname="jmlunit2018" >


	<label class="r-search-label control-label" for="{$labelfor_jmlunit2018}">
		{$label simdak_v_rekap_ipal_mck jmlunit2018 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlunit2018}
	</div>
	<div class="r-search-field">
		{$jmlunit2018_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlunit2018_editcontrol1}
	</div>
	
</div>

{END jmlunit2018_fieldblock}
											
{BEGIN jmlsr2018_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlsr2018}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlsr2018{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="jmlsr2018" data-fieldname="jmlsr2018" >


	<label class="r-search-label control-label" for="{$labelfor_jmlsr2018}">
		{$label simdak_v_rekap_ipal_mck jmlsr2018 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlsr2018}
	</div>
	<div class="r-search-field">
		{$jmlsr2018_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlsr2018_editcontrol1}
	</div>
	
</div>

{END jmlsr2018_fieldblock}
											
{BEGIN jmljiwa2018_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmljiwa2018}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmljiwa2018{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="jmljiwa2018" data-fieldname="jmljiwa2018" >


	<label class="r-search-label control-label" for="{$labelfor_jmljiwa2018}">
		{$label simdak_v_rekap_ipal_mck jmljiwa2018 }	</label>
	<div class="r-search-option">
		{$searchtype_jmljiwa2018}
	</div>
	<div class="r-search-field">
		{$jmljiwa2018_editcontrol}	</div>
	<div class="r-search-field">
		{$jmljiwa2018_editcontrol1}
	</div>
	
</div>

{END jmljiwa2018_fieldblock}
											
{BEGIN jmlkeg2019_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlkeg2019}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlkeg2019{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="jmlkeg2019" data-fieldname="jmlkeg2019" >


	<label class="r-search-label control-label" for="{$labelfor_jmlkeg2019}">
		{$label simdak_v_rekap_ipal_mck jmlkeg2019 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlkeg2019}
	</div>
	<div class="r-search-field">
		{$jmlkeg2019_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlkeg2019_editcontrol1}
	</div>
	
</div>

{END jmlkeg2019_fieldblock}
											
{BEGIN jmlunit2019_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlunit2019}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlunit2019{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="jmlunit2019" data-fieldname="jmlunit2019" >


	<label class="r-search-label control-label" for="{$labelfor_jmlunit2019}">
		{$label simdak_v_rekap_ipal_mck jmlunit2019 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlunit2019}
	</div>
	<div class="r-search-field">
		{$jmlunit2019_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlunit2019_editcontrol1}
	</div>
	
</div>

{END jmlunit2019_fieldblock}
											
{BEGIN jmlsr2019_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlsr2019}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlsr2019{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="jmlsr2019" data-fieldname="jmlsr2019" >


	<label class="r-search-label control-label" for="{$labelfor_jmlsr2019}">
		{$label simdak_v_rekap_ipal_mck jmlsr2019 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlsr2019}
	</div>
	<div class="r-search-field">
		{$jmlsr2019_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlsr2019_editcontrol1}
	</div>
	
</div>

{END jmlsr2019_fieldblock}
											
{BEGIN jmljiwa2019_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmljiwa2019}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmljiwa2019{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="jmljiwa2019" data-fieldname="jmljiwa2019" >


	<label class="r-search-label control-label" for="{$labelfor_jmljiwa2019}">
		{$label simdak_v_rekap_ipal_mck jmljiwa2019 }	</label>
	<div class="r-search-option">
		{$searchtype_jmljiwa2019}
	</div>
	<div class="r-search-field">
		{$jmljiwa2019_editcontrol}	</div>
	<div class="r-search-field">
		{$jmljiwa2019_editcontrol1}
	</div>
	
</div>

{END jmljiwa2019_fieldblock}
											
{BEGIN jmlkeg2020_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlkeg2020}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlkeg2020{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="jmlkeg2020" data-fieldname="jmlkeg2020" >


	<label class="r-search-label control-label" for="{$labelfor_jmlkeg2020}">
		{$label simdak_v_rekap_ipal_mck jmlkeg2020 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlkeg2020}
	</div>
	<div class="r-search-field">
		{$jmlkeg2020_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlkeg2020_editcontrol1}
	</div>
	
</div>

{END jmlkeg2020_fieldblock}
											
{BEGIN jmlunit2020_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlunit2020}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlunit2020{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="jmlunit2020" data-fieldname="jmlunit2020" >


	<label class="r-search-label control-label" for="{$labelfor_jmlunit2020}">
		{$label simdak_v_rekap_ipal_mck jmlunit2020 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlunit2020}
	</div>
	<div class="r-search-field">
		{$jmlunit2020_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlunit2020_editcontrol1}
	</div>
	
</div>

{END jmlunit2020_fieldblock}
											
{BEGIN jmlsr2020_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlsr2020}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlsr2020{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="jmlsr2020" data-fieldname="jmlsr2020" >


	<label class="r-search-label control-label" for="{$labelfor_jmlsr2020}">
		{$label simdak_v_rekap_ipal_mck jmlsr2020 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlsr2020}
	</div>
	<div class="r-search-field">
		{$jmlsr2020_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlsr2020_editcontrol1}
	</div>
	
</div>

{END jmlsr2020_fieldblock}
											
{BEGIN jmljiwa2020_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmljiwa2020}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmljiwa2020{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="jmljiwa2020" data-fieldname="jmljiwa2020" >


	<label class="r-search-label control-label" for="{$labelfor_jmljiwa2020}">
		{$label simdak_v_rekap_ipal_mck jmljiwa2020 }	</label>
	<div class="r-search-option">
		{$searchtype_jmljiwa2020}
	</div>
	<div class="r-search-field">
		{$jmljiwa2020_editcontrol}	</div>
	<div class="r-search-field">
		{$jmljiwa2020_editcontrol1}
	</div>
	
</div>

{END jmljiwa2020_fieldblock}
											
{BEGIN jmlkeg2021_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlkeg2021}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlkeg2021{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="jmlkeg2021" data-fieldname="jmlkeg2021" >


	<label class="r-search-label control-label" for="{$labelfor_jmlkeg2021}">
		{$label simdak_v_rekap_ipal_mck jmlkeg2021 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlkeg2021}
	</div>
	<div class="r-search-field">
		{$jmlkeg2021_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlkeg2021_editcontrol1}
	</div>
	
</div>

{END jmlkeg2021_fieldblock}
											
{BEGIN jmlunit2021_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlunit2021}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlunit2021{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="jmlunit2021" data-fieldname="jmlunit2021" >


	<label class="r-search-label control-label" for="{$labelfor_jmlunit2021}">
		{$label simdak_v_rekap_ipal_mck jmlunit2021 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlunit2021}
	</div>
	<div class="r-search-field">
		{$jmlunit2021_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlunit2021_editcontrol1}
	</div>
	
</div>

{END jmlunit2021_fieldblock}
											
{BEGIN jmlsr2021_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmlsr2021}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmlsr2021{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="jmlsr2021" data-fieldname="jmlsr2021" >


	<label class="r-search-label control-label" for="{$labelfor_jmlsr2021}">
		{$label simdak_v_rekap_ipal_mck jmlsr2021 }	</label>
	<div class="r-search-option">
		{$searchtype_jmlsr2021}
	</div>
	<div class="r-search-field">
		{$jmlsr2021_editcontrol}	</div>
	<div class="r-search-field">
		{$jmlsr2021_editcontrol1}
	</div>
	
</div>

{END jmlsr2021_fieldblock}
											
{BEGIN jmljiwa2021_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jmljiwa2021}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jmljiwa2021{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="jmljiwa2021" data-fieldname="jmljiwa2021" >


	<label class="r-search-label control-label" for="{$labelfor_jmljiwa2021}">
		{$label simdak_v_rekap_ipal_mck jmljiwa2021 }	</label>
	<div class="r-search-option">
		{$searchtype_jmljiwa2021}
	</div>
	<div class="r-search-field">
		{$jmljiwa2021_editcontrol}	</div>
	<div class="r-search-field">
		{$jmljiwa2021_editcontrol1}
	</div>
	
</div>

{END jmljiwa2021_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Cari			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Tata ulang			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Batal			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
