<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel sp_pengolahan_admin add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Balik ke daftar</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Lihat</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN propinsiid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_propinsiid}  r-vertical-field" 
	data-signal-error-for="propinsiid{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="propinsiid" data-fieldname="propinsiid" >

	<label class="r-edit-label control-label" for="{$labelfor_propinsiid}">
		{BEGIN propinsiid_label}{$label sp_pengolahan_admin propinsiid }{END propinsiid_label}
	</label>
	<div class="r-edit-field">
		{$propinsiid_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="propinsiid">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin propinsiid }		</div>
	</div>
</div>


{END propinsiid_fieldblock}
											
{BEGIN kabupatenkotaid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kabupatenkotaid}  r-vertical-field" 
	data-signal-error-for="kabupatenkotaid{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="kabupatenkotaid" data-fieldname="kabupatenkotaid" >

	<label class="r-edit-label control-label" for="{$labelfor_kabupatenkotaid}">
		{BEGIN kabupatenkotaid_label}{$label sp_pengolahan_admin kabupatenkotaid }{END kabupatenkotaid_label}
	</label>
	<div class="r-edit-field">
		{$kabupatenkotaid_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kabupatenkotaid">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin kabupatenkotaid }		</div>
	</div>
</div>


{END kabupatenkotaid_fieldblock}
											
{BEGIN namafasilitas_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_namafasilitas}  r-vertical-field" 
	data-signal-error-for="namafasilitas{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="namafasilitas" data-fieldname="namafasilitas" >

	<label class="r-edit-label control-label" for="{$labelfor_namafasilitas}">
		{BEGIN namafasilitas_label}{$label sp_pengolahan_admin namafasilitas }{END namafasilitas_label}
	</label>
	<div class="r-edit-field">
		{$namafasilitas_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="namafasilitas">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin namafasilitas }		</div>
	</div>
</div>


{END namafasilitas_fieldblock}
											
{BEGIN jenisfasilitas_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jenisfasilitas}  r-vertical-field" 
	data-signal-error-for="jenisfasilitas{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="jenisfasilitas" data-fieldname="jenisfasilitas" >

	<label class="r-edit-label control-label" for="{$labelfor_jenisfasilitas}">
		{BEGIN jenisfasilitas_label}{$label sp_pengolahan_admin jenisfasilitas }{END jenisfasilitas_label}
	</label>
	<div class="r-edit-field">
		{$jenisfasilitas_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jenisfasilitas">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin jenisfasilitas }		</div>
	</div>
</div>


{END jenisfasilitas_fieldblock}
											
{BEGIN kondisifasilitas_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kondisifasilitas}  r-vertical-field" 
	data-signal-error-for="kondisifasilitas{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="kondisifasilitas" data-fieldname="kondisifasilitas" >

	<label class="r-edit-label control-label" for="{$labelfor_kondisifasilitas}">
		{BEGIN kondisifasilitas_label}{$label sp_pengolahan_admin kondisifasilitas }{END kondisifasilitas_label}
	</label>
	<div class="r-edit-field">
		{$kondisifasilitas_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kondisifasilitas">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin kondisifasilitas }		</div>
	</div>
</div>


{END kondisifasilitas_fieldblock}
											
{BEGIN kategoripelayanan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kategoripelayanan}  r-vertical-field" 
	data-signal-error-for="kategoripelayanan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="kategoripelayanan" data-fieldname="kategoripelayanan" >

	<label class="r-edit-label control-label" for="{$labelfor_kategoripelayanan}">
		{BEGIN kategoripelayanan_label}{$label sp_pengolahan_admin kategoripelayanan }{END kategoripelayanan_label}
	</label>
	<div class="r-edit-field">
		{$kategoripelayanan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kategoripelayanan">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin kategoripelayanan }		</div>
	</div>
</div>


{END kategoripelayanan_fieldblock}
											
{BEGIN kecamatandistrik_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kecamatandistrik}  r-vertical-field" 
	data-signal-error-for="kecamatandistrik{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="kecamatandistrik" data-fieldname="kecamatandistrik" >

	<label class="r-edit-label control-label" for="{$labelfor_kecamatandistrik}">
		{BEGIN kecamatandistrik_label}{$label sp_pengolahan_admin kecamatandistrik }{END kecamatandistrik_label}
	</label>
	<div class="r-edit-field">
		{$kecamatandistrik_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kecamatandistrik">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin kecamatandistrik }		</div>
	</div>
</div>


{END kecamatandistrik_fieldblock}
											
{BEGIN desakelurahan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_desakelurahan}  r-vertical-field" 
	data-signal-error-for="desakelurahan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="desakelurahan" data-fieldname="desakelurahan" >

	<label class="r-edit-label control-label" for="{$labelfor_desakelurahan}">
		{BEGIN desakelurahan_label}{$label sp_pengolahan_admin desakelurahan }{END desakelurahan_label}
	</label>
	<div class="r-edit-field">
		{$desakelurahan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="desakelurahan">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin desakelurahan }		</div>
	</div>
</div>


{END desakelurahan_fieldblock}
											
{BEGIN pengelola_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pengelola}  r-vertical-field" 
	data-signal-error-for="pengelola{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="pengelola" data-fieldname="pengelola" >

	<label class="r-edit-label control-label" for="{$labelfor_pengelola}">
		{BEGIN pengelola_label}{$label sp_pengolahan_admin pengelola }{END pengelola_label}
	</label>
	<div class="r-edit-field">
		{$pengelola_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="pengelola">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin pengelola }		</div>
	</div>
</div>


{END pengelola_fieldblock}
											
{BEGIN jenispengelola_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jenispengelola}  r-vertical-field" 
	data-signal-error-for="jenispengelola{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="jenispengelola" data-fieldname="jenispengelola" >

	<label class="r-edit-label control-label" for="{$labelfor_jenispengelola}">
		{BEGIN jenispengelola_label}{$label sp_pengolahan_admin jenispengelola }{END jenispengelola_label}
	</label>
	<div class="r-edit-field">
		{$jenispengelola_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jenispengelola">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin jenispengelola }		</div>
	</div>
</div>


{END jenispengelola_fieldblock}
											
{BEGIN namakepalafasilitas_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_namakepalafasilitas}  r-vertical-field" 
	data-signal-error-for="namakepalafasilitas{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="namakepalafasilitas" data-fieldname="namakepalafasilitas" >

	<label class="r-edit-label control-label" for="{$labelfor_namakepalafasilitas}">
		{BEGIN namakepalafasilitas_label}{$label sp_pengolahan_admin namakepalafasilitas }{END namakepalafasilitas_label}
	</label>
	<div class="r-edit-field">
		{$namakepalafasilitas_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="namakepalafasilitas">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin namakepalafasilitas }		</div>
	</div>
</div>


{END namakepalafasilitas_fieldblock}
											
{BEGIN alamatfasilitas_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_alamatfasilitas}  r-vertical-field" 
	data-signal-error-for="alamatfasilitas{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="alamatfasilitas" data-fieldname="alamatfasilitas" >

	<label class="r-edit-label control-label" for="{$labelfor_alamatfasilitas}">
		{BEGIN alamatfasilitas_label}{$label sp_pengolahan_admin alamatfasilitas }{END alamatfasilitas_label}
	</label>
	<div class="r-edit-field">
		{$alamatfasilitas_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="alamatfasilitas">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin alamatfasilitas }		</div>
	</div>
</div>


{END alamatfasilitas_fieldblock}
											
{BEGIN phonefasilitas_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_phonefasilitas}  r-vertical-field" 
	data-signal-error-for="phonefasilitas{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="phonefasilitas" data-fieldname="phonefasilitas" >

	<label class="r-edit-label control-label" for="{$labelfor_phonefasilitas}">
		{BEGIN phonefasilitas_label}{$label sp_pengolahan_admin phonefasilitas }{END phonefasilitas_label}
	</label>
	<div class="r-edit-field">
		{$phonefasilitas_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="phonefasilitas">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin phonefasilitas }		</div>
	</div>
</div>


{END phonefasilitas_fieldblock}
											
{BEGIN emailfasilitas_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_emailfasilitas}  r-vertical-field" 
	data-signal-error-for="emailfasilitas{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="emailfasilitas" data-fieldname="emailfasilitas" >

	<label class="r-edit-label control-label" for="{$labelfor_emailfasilitas}">
		{BEGIN emailfasilitas_label}{$label sp_pengolahan_admin emailfasilitas }{END emailfasilitas_label}
	</label>
	<div class="r-edit-field">
		{$emailfasilitas_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="emailfasilitas">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin emailfasilitas }		</div>
	</div>
</div>


{END emailfasilitas_fieldblock}
											
{BEGIN tahunpembangunan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tahunpembangunan}  r-vertical-field" 
	data-signal-error-for="tahunpembangunan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="tahunpembangunan" data-fieldname="tahunpembangunan" >

	<label class="r-edit-label control-label" for="{$labelfor_tahunpembangunan}">
		{BEGIN tahunpembangunan_label}{$label sp_pengolahan_admin tahunpembangunan }{END tahunpembangunan_label}
	</label>
	<div class="r-edit-field">
		{$tahunpembangunan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="tahunpembangunan">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin tahunpembangunan }		</div>
	</div>
</div>


{END tahunpembangunan_fieldblock}
											
{BEGIN sumberdanapembangunan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sumberdanapembangunan}  r-vertical-field" 
	data-signal-error-for="sumberdanapembangunan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="sumberdanapembangunan" data-fieldname="sumberdanapembangunan" >

	<label class="r-edit-label control-label" for="{$labelfor_sumberdanapembangunan}">
		{BEGIN sumberdanapembangunan_label}{$label sp_pengolahan_admin sumberdanapembangunan }{END sumberdanapembangunan_label}
	</label>
	<div class="r-edit-field">
		{$sumberdanapembangunan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sumberdanapembangunan">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin sumberdanapembangunan }		</div>
	</div>
</div>


{END sumberdanapembangunan_fieldblock}
											
{BEGIN biayapembangunan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_biayapembangunan}  r-vertical-field" 
	data-signal-error-for="biayapembangunan{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="biayapembangunan" data-fieldname="biayapembangunan" >

	<label class="r-edit-label control-label" for="{$labelfor_biayapembangunan}">
		{BEGIN biayapembangunan_label}{$label sp_pengolahan_admin biayapembangunan }{END biayapembangunan_label}
	</label>
	<div class="r-edit-field">
		{$biayapembangunan_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="biayapembangunan">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin biayapembangunan }		</div>
	</div>
</div>


{END biayapembangunan_fieldblock}
											
{BEGIN sumberdana2_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sumberdana2}  r-vertical-field" 
	data-signal-error-for="sumberdana2{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="sumberdana2" data-fieldname="sumberdana2" >

	<label class="r-edit-label control-label" for="{$labelfor_sumberdana2}">
		{BEGIN sumberdana2_label}{$label sp_pengolahan_admin sumberdana2 }{END sumberdana2_label}
	</label>
	<div class="r-edit-field">
		{$sumberdana2_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sumberdana2">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin sumberdana2 }		</div>
	</div>
</div>


{END sumberdana2_fieldblock}
											
{BEGIN biayadana2_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_biayadana2}  r-vertical-field" 
	data-signal-error-for="biayadana2{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="biayadana2" data-fieldname="biayadana2" >

	<label class="r-edit-label control-label" for="{$labelfor_biayadana2}">
		{BEGIN biayadana2_label}{$label sp_pengolahan_admin biayadana2 }{END biayadana2_label}
	</label>
	<div class="r-edit-field">
		{$biayadana2_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="biayadana2">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin biayadana2 }		</div>
	</div>
</div>


{END biayadana2_fieldblock}
											
{BEGIN kapasitassampahmasuk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kapasitassampahmasuk}  r-vertical-field" 
	data-signal-error-for="kapasitassampahmasuk{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="kapasitassampahmasuk" data-fieldname="kapasitassampahmasuk" >

	<label class="r-edit-label control-label" for="{$labelfor_kapasitassampahmasuk}">
		{BEGIN kapasitassampahmasuk_label}{$label sp_pengolahan_admin kapasitassampahmasuk }{END kapasitassampahmasuk_label}
	</label>
	<div class="r-edit-field">
		{$kapasitassampahmasuk_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kapasitassampahmasuk">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin kapasitassampahmasuk }		</div>
	</div>
</div>


{END kapasitassampahmasuk_fieldblock}
											
{BEGIN jumlahpendudukterlayani_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlahpendudukterlayani}  r-vertical-field" 
	data-signal-error-for="jumlahpendudukterlayani{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field35" {$item_integrated_edit_field35} data-pageid="{$pageid}" data-field="jumlahpendudukterlayani" data-fieldname="jumlahpendudukterlayani" >

	<label class="r-edit-label control-label" for="{$labelfor_jumlahpendudukterlayani}">
		{BEGIN jumlahpendudukterlayani_label}{$label sp_pengolahan_admin jumlahpendudukterlayani }{END jumlahpendudukterlayani_label}
	</label>
	<div class="r-edit-field">
		{$jumlahpendudukterlayani_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jumlahpendudukterlayani">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin jumlahpendudukterlayani }		</div>
	</div>
</div>


{END jumlahpendudukterlayani_fieldblock}
											
{BEGIN status_keberfungsian_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_status_keberfungsian}  r-vertical-field" 
	data-signal-error-for="status_keberfungsian{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="status_keberfungsian" data-fieldname="status_keberfungsian" >

	<label class="r-edit-label control-label" for="{$labelfor_status_keberfungsian}">
		{BEGIN status_keberfungsian_label}{$label sp_pengolahan_admin status_keberfungsian }{END status_keberfungsian_label}
	</label>
	<div class="r-edit-field">
		{$status_keberfungsian_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="status_keberfungsian">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin status_keberfungsian }		</div>
	</div>
</div>


{END status_keberfungsian_fieldblock}
											
{BEGIN kualitas_keberfungsian_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_kualitas_keberfungsian}  r-vertical-field" 
	data-signal-error-for="kualitas_keberfungsian{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="kualitas_keberfungsian" data-fieldname="kualitas_keberfungsian" >

	<label class="r-edit-label control-label" for="{$labelfor_kualitas_keberfungsian}">
		{BEGIN kualitas_keberfungsian_label}{$label sp_pengolahan_admin kualitas_keberfungsian }{END kualitas_keberfungsian_label}
	</label>
	<div class="r-edit-field">
		{$kualitas_keberfungsian_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="kualitas_keberfungsian">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin kualitas_keberfungsian }		</div>
	</div>
</div>


{END kualitas_keberfungsian_fieldblock}
											
{BEGIN latitude_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_latitude}  r-vertical-field" 
	data-signal-error-for="latitude{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="latitude" data-fieldname="latitude" >

	<label class="r-edit-label control-label" for="{$labelfor_latitude}">
		{BEGIN latitude_label}{$label sp_pengolahan_admin latitude }{END latitude_label}
	</label>
	<div class="r-edit-field">
		{$latitude_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="latitude">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin latitude }		</div>
	</div>
</div>


{END latitude_fieldblock}
											
{BEGIN longitude_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_longitude}  r-vertical-field" 
	data-signal-error-for="longitude{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="longitude" data-fieldname="longitude" >

	<label class="r-edit-label control-label" for="{$labelfor_longitude}">
		{BEGIN longitude_label}{$label sp_pengolahan_admin longitude }{END longitude_label}
	</label>
	<div class="r-edit-field">
		{$longitude_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="longitude">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin longitude }		</div>
	</div>
</div>


{END longitude_fieldblock}
											
{BEGIN jumlah_pemanfaat_KK_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_pemanfaat_KK}  r-vertical-field" 
	data-signal-error-for="jumlah_pemanfaat_KK{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="jumlah_pemanfaat_KK" data-fieldname="jumlah_pemanfaat_KK" >

	<label class="r-edit-label control-label" for="{$labelfor_jumlah_pemanfaat_KK}">
		{BEGIN jumlah_pemanfaat_KK_label}{$label sp_pengolahan_admin jumlah_pemanfaat_KK }{END jumlah_pemanfaat_KK_label}
	</label>
	<div class="r-edit-field">
		{$jumlah_pemanfaat_KK_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="jumlah_pemanfaat_KK">
		<div class="text-muted" >
		{$tooltip sp_pengolahan_admin jumlah_pemanfaat_KK }		</div>
	</div>
</div>


{END jumlah_pemanfaat_KK_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Simpan			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Batal			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
