<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel v_mne_keterisian_perencanaan_prov search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN jumlah_record_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_record}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlah_record{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="jumlah_record" data-fieldname="jumlah_record" >


	<label class="r-search-label control-label" for="{$labelfor_jumlah_record}">
		{$label v_mne_keterisian_perencanaan_prov jumlah_record }	</label>
	<div class="r-search-option">
		{$searchtype_jumlah_record}
	</div>
	<div class="r-search-field">
		{$jumlah_record_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlah_record_editcontrol1}
	</div>
	
</div>

{END jumlah_record_fieldblock}
											
{BEGIN provinsiid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_provinsiid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="provinsiid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="provinsiid" data-fieldname="provinsiid" >


	<label class="r-search-label control-label" for="{$labelfor_provinsiid}">
		{$label v_mne_keterisian_perencanaan_prov provinsiid }	</label>
	<div class="r-search-option">
		{$searchtype_provinsiid}
	</div>
	<div class="r-search-field">
		{$provinsiid_editcontrol}	</div>
	<div class="r-search-field">
		{$provinsiid_editcontrol1}
	</div>
	
</div>

{END provinsiid_fieldblock}
											
{BEGIN tahun_data_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tahun_data}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tahun_data{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="tahun_data" data-fieldname="tahun_data" >


	<label class="r-search-label control-label" for="{$labelfor_tahun_data}">
		{$label v_mne_keterisian_perencanaan_prov tahun_data }	</label>
	<div class="r-search-option">
		{$searchtype_tahun_data}
	</div>
	<div class="r-search-field">
		{$tahun_data_editcontrol}	</div>
	<div class="r-search-field">
		{$tahun_data_editcontrol1}
	</div>
	
</div>

{END tahun_data_fieldblock}
											
{BEGIN nama_kegiatan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nama_kegiatan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nama_kegiatan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="nama_kegiatan" data-fieldname="nama_kegiatan" >


	<label class="r-search-label control-label" for="{$labelfor_nama_kegiatan}">
		{$label v_mne_keterisian_perencanaan_prov nama_kegiatan }	</label>
	<div class="r-search-option">
		{$searchtype_nama_kegiatan}
	</div>
	<div class="r-search-field">
		{$nama_kegiatan_editcontrol}	</div>
	<div class="r-search-field">
		{$nama_kegiatan_editcontrol1}
	</div>
	
</div>

{END nama_kegiatan_fieldblock}
											
{BEGIN jenis_infrastruktur_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jenis_infrastruktur}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jenis_infrastruktur{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="jenis_infrastruktur" data-fieldname="jenis_infrastruktur" >


	<label class="r-search-label control-label" for="{$labelfor_jenis_infrastruktur}">
		{$label v_mne_keterisian_perencanaan_prov jenis_infrastruktur }	</label>
	<div class="r-search-option">
		{$searchtype_jenis_infrastruktur}
	</div>
	<div class="r-search-field">
		{$jenis_infrastruktur_editcontrol}	</div>
	<div class="r-search-field">
		{$jenis_infrastruktur_editcontrol1}
	</div>
	
</div>

{END jenis_infrastruktur_fieldblock}
											
{BEGIN pagu_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pagu}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pagu{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="pagu" data-fieldname="pagu" >


	<label class="r-search-label control-label" for="{$labelfor_pagu}">
		{$label v_mne_keterisian_perencanaan_prov pagu }	</label>
	<div class="r-search-option">
		{$searchtype_pagu}
	</div>
	<div class="r-search-field">
		{$pagu_editcontrol}	</div>
	<div class="r-search-field">
		{$pagu_editcontrol1}
	</div>
	
</div>

{END pagu_fieldblock}
											
{BEGIN sumber_dana_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sumber_dana}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sumber_dana{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="sumber_dana" data-fieldname="sumber_dana" >


	<label class="r-search-label control-label" for="{$labelfor_sumber_dana}">
		{$label v_mne_keterisian_perencanaan_prov sumber_dana }	</label>
	<div class="r-search-option">
		{$searchtype_sumber_dana}
	</div>
	<div class="r-search-field">
		{$sumber_dana_editcontrol}	</div>
	<div class="r-search-field">
		{$sumber_dana_editcontrol1}
	</div>
	
</div>

{END sumber_dana_fieldblock}
											
{BEGIN status_usulan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_usulan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_usulan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="status_usulan" data-fieldname="status_usulan" >


	<label class="r-search-label control-label" for="{$labelfor_status_usulan}">
		{$label v_mne_keterisian_perencanaan_prov status_usulan }	</label>
	<div class="r-search-option">
		{$searchtype_status_usulan}
	</div>
	<div class="r-search-field">
		{$status_usulan_editcontrol}	</div>
	<div class="r-search-field">
		{$status_usulan_editcontrol1}
	</div>
	
</div>

{END status_usulan_fieldblock}
											
{BEGIN lokasi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lokasi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lokasi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="lokasi" data-fieldname="lokasi" >


	<label class="r-search-label control-label" for="{$labelfor_lokasi}">
		{$label v_mne_keterisian_perencanaan_prov lokasi }	</label>
	<div class="r-search-option">
		{$searchtype_lokasi}
	</div>
	<div class="r-search-field">
		{$lokasi_editcontrol}	</div>
	<div class="r-search-field">
		{$lokasi_editcontrol1}
	</div>
	
</div>

{END lokasi_fieldblock}
											
{BEGIN kategori_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kategori}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kategori{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="kategori" data-fieldname="kategori" >


	<label class="r-search-label control-label" for="{$labelfor_kategori}">
		{$label v_mne_keterisian_perencanaan_prov kategori }	</label>
	<div class="r-search-option">
		{$searchtype_kategori}
	</div>
	<div class="r-search-field">
		{$kategori_editcontrol}	</div>
	<div class="r-search-field">
		{$kategori_editcontrol1}
	</div>
	
</div>

{END kategori_fieldblock}
											
{BEGIN deskripsi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_deskripsi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="deskripsi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="deskripsi" data-fieldname="deskripsi" >


	<label class="r-search-label control-label" for="{$labelfor_deskripsi}">
		{$label v_mne_keterisian_perencanaan_prov deskripsi }	</label>
	<div class="r-search-option">
		{$searchtype_deskripsi}
	</div>
	<div class="r-search-field">
		{$deskripsi_editcontrol}	</div>
	<div class="r-search-field">
		{$deskripsi_editcontrol1}
	</div>
	
</div>

{END deskripsi_fieldblock}
											
{BEGIN ruang_lingkup_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ruang_lingkup}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ruang_lingkup{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="ruang_lingkup" data-fieldname="ruang_lingkup" >


	<label class="r-search-label control-label" for="{$labelfor_ruang_lingkup}">
		{$label v_mne_keterisian_perencanaan_prov ruang_lingkup }	</label>
	<div class="r-search-option">
		{$searchtype_ruang_lingkup}
	</div>
	<div class="r-search-field">
		{$ruang_lingkup_editcontrol}	</div>
	<div class="r-search-field">
		{$ruang_lingkup_editcontrol1}
	</div>
	
</div>

{END ruang_lingkup_fieldblock}
											
{BEGIN kapasitas_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kapasitas}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kapasitas{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="kapasitas" data-fieldname="kapasitas" >


	<label class="r-search-label control-label" for="{$labelfor_kapasitas}">
		{$label v_mne_keterisian_perencanaan_prov kapasitas }	</label>
	<div class="r-search-option">
		{$searchtype_kapasitas}
	</div>
	<div class="r-search-field">
		{$kapasitas_editcontrol}	</div>
	<div class="r-search-field">
		{$kapasitas_editcontrol1}
	</div>
	
</div>

{END kapasitas_fieldblock}
											
{BEGIN penerima_manfaat_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_penerima_manfaat}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="penerima_manfaat{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="penerima_manfaat" data-fieldname="penerima_manfaat" >


	<label class="r-search-label control-label" for="{$labelfor_penerima_manfaat}">
		{$label v_mne_keterisian_perencanaan_prov penerima_manfaat }	</label>
	<div class="r-search-option">
		{$searchtype_penerima_manfaat}
	</div>
	<div class="r-search-field">
		{$penerima_manfaat_editcontrol}	</div>
	<div class="r-search-field">
		{$penerima_manfaat_editcontrol1}
	</div>
	
</div>

{END penerima_manfaat_fieldblock}
											
{BEGIN provinsiname_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_provinsiname}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="provinsiname{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="provinsiname" data-fieldname="provinsiname" >


	<label class="r-search-label control-label" for="{$labelfor_provinsiname}">
		{$label v_mne_keterisian_perencanaan_prov provinsiname }	</label>
	<div class="r-search-option">
		{$searchtype_provinsiname}
	</div>
	<div class="r-search-field">
		{$provinsiname_editcontrol}	</div>
	<div class="r-search-field">
		{$provinsiname_editcontrol1}
	</div>
	
</div>

{END provinsiname_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Cari			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Tata ulang			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Batal			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
