<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel v_mne_keterisian_pelaksanaan_prov search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN provinsiid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_provinsiid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="provinsiid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="provinsiid" data-fieldname="provinsiid" >


	<label class="r-search-label control-label" for="{$labelfor_provinsiid}">
		{$label v_mne_keterisian_pelaksanaan_prov provinsiid }	</label>
	<div class="r-search-option">
		{$searchtype_provinsiid}
	</div>
	<div class="r-search-field">
		{$provinsiid_editcontrol}	</div>
	<div class="r-search-field">
		{$provinsiid_editcontrol1}
	</div>
	
</div>

{END provinsiid_fieldblock}
											
{BEGIN jumlah_record_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_record}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlah_record{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="jumlah_record" data-fieldname="jumlah_record" >


	<label class="r-search-label control-label" for="{$labelfor_jumlah_record}">
		{$label v_mne_keterisian_pelaksanaan_prov jumlah_record }	</label>
	<div class="r-search-option">
		{$searchtype_jumlah_record}
	</div>
	<div class="r-search-field">
		{$jumlah_record_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlah_record_editcontrol1}
	</div>
	
</div>

{END jumlah_record_fieldblock}
											
{BEGIN lokasi_pelaksanaan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_lokasi_pelaksanaan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="lokasi_pelaksanaan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="lokasi_pelaksanaan" data-fieldname="lokasi_pelaksanaan" >


	<label class="r-search-label control-label" for="{$labelfor_lokasi_pelaksanaan}">
		{$label v_mne_keterisian_pelaksanaan_prov lokasi_pelaksanaan }	</label>
	<div class="r-search-option">
		{$searchtype_lokasi_pelaksanaan}
	</div>
	<div class="r-search-field">
		{$lokasi_pelaksanaan_editcontrol}	</div>
	<div class="r-search-field">
		{$lokasi_pelaksanaan_editcontrol1}
	</div>
	
</div>

{END lokasi_pelaksanaan_fieldblock}
											
{BEGIN longitude_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_longitude}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="longitude{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="longitude" data-fieldname="longitude" >


	<label class="r-search-label control-label" for="{$labelfor_longitude}">
		{$label v_mne_keterisian_pelaksanaan_prov longitude }	</label>
	<div class="r-search-option">
		{$searchtype_longitude}
	</div>
	<div class="r-search-field">
		{$longitude_editcontrol}	</div>
	<div class="r-search-field">
		{$longitude_editcontrol1}
	</div>
	
</div>

{END longitude_fieldblock}
											
{BEGIN latitude_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_latitude}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="latitude{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="latitude" data-fieldname="latitude" >


	<label class="r-search-label control-label" for="{$labelfor_latitude}">
		{$label v_mne_keterisian_pelaksanaan_prov latitude }	</label>
	<div class="r-search-option">
		{$searchtype_latitude}
	</div>
	<div class="r-search-field">
		{$latitude_editcontrol}	</div>
	<div class="r-search-field">
		{$latitude_editcontrol1}
	</div>
	
</div>

{END latitude_fieldblock}
											
{BEGIN nilai_kontrak_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nilai_kontrak}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nilai_kontrak{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="nilai_kontrak" data-fieldname="nilai_kontrak" >


	<label class="r-search-label control-label" for="{$labelfor_nilai_kontrak}">
		{$label v_mne_keterisian_pelaksanaan_prov nilai_kontrak }	</label>
	<div class="r-search-option">
		{$searchtype_nilai_kontrak}
	</div>
	<div class="r-search-field">
		{$nilai_kontrak_editcontrol}	</div>
	<div class="r-search-field">
		{$nilai_kontrak_editcontrol1}
	</div>
	
</div>

{END nilai_kontrak_fieldblock}
											
{BEGIN nama_satker_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nama_satker}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nama_satker{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="nama_satker" data-fieldname="nama_satker" >


	<label class="r-search-label control-label" for="{$labelfor_nama_satker}">
		{$label v_mne_keterisian_pelaksanaan_prov nama_satker }	</label>
	<div class="r-search-option">
		{$searchtype_nama_satker}
	</div>
	<div class="r-search-field">
		{$nama_satker_editcontrol}	</div>
	<div class="r-search-field">
		{$nama_satker_editcontrol1}
	</div>
	
</div>

{END nama_satker_fieldblock}
											
{BEGIN jenis_kontrak_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jenis_kontrak}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jenis_kontrak{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="jenis_kontrak" data-fieldname="jenis_kontrak" >


	<label class="r-search-label control-label" for="{$labelfor_jenis_kontrak}">
		{$label v_mne_keterisian_pelaksanaan_prov jenis_kontrak }	</label>
	<div class="r-search-option">
		{$searchtype_jenis_kontrak}
	</div>
	<div class="r-search-field">
		{$jenis_kontrak_editcontrol}	</div>
	<div class="r-search-field">
		{$jenis_kontrak_editcontrol1}
	</div>
	
</div>

{END jenis_kontrak_fieldblock}
											
{BEGIN tanggal_kontrak_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tanggal_kontrak}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tanggal_kontrak{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="tanggal_kontrak" data-fieldname="tanggal_kontrak" >


	<label class="r-search-label control-label" for="{$labelfor_tanggal_kontrak}">
		{$label v_mne_keterisian_pelaksanaan_prov tanggal_kontrak }	</label>
	<div class="r-search-option">
		{$searchtype_tanggal_kontrak}
	</div>
	<div class="r-search-field">
		{$tanggal_kontrak_editcontrol}	</div>
	<div class="r-search-field">
		{$tanggal_kontrak_editcontrol1}
	</div>
	
</div>

{END tanggal_kontrak_fieldblock}
											
{BEGIN dokumen_kontrak_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dokumen_kontrak}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dokumen_kontrak{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="dokumen_kontrak" data-fieldname="dokumen_kontrak" >


	<label class="r-search-label control-label" for="{$labelfor_dokumen_kontrak}">
		{$label v_mne_keterisian_pelaksanaan_prov dokumen_kontrak }	</label>
	<div class="r-search-option">
		{$searchtype_dokumen_kontrak}
	</div>
	<div class="r-search-field">
		{$dokumen_kontrak_editcontrol}	</div>
	<div class="r-search-field">
		{$dokumen_kontrak_editcontrol1}
	</div>
	
</div>

{END dokumen_kontrak_fieldblock}
											
{BEGIN pagu_pelaksanaan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pagu_pelaksanaan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pagu_pelaksanaan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="pagu_pelaksanaan" data-fieldname="pagu_pelaksanaan" >


	<label class="r-search-label control-label" for="{$labelfor_pagu_pelaksanaan}">
		{$label v_mne_keterisian_pelaksanaan_prov pagu_pelaksanaan }	</label>
	<div class="r-search-option">
		{$searchtype_pagu_pelaksanaan}
	</div>
	<div class="r-search-field">
		{$pagu_pelaksanaan_editcontrol}	</div>
	<div class="r-search-field">
		{$pagu_pelaksanaan_editcontrol1}
	</div>
	
</div>

{END pagu_pelaksanaan_fieldblock}
											
{BEGIN nilai_adendum1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nilai_adendum1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nilai_adendum1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="nilai_adendum1" data-fieldname="nilai_adendum1" >


	<label class="r-search-label control-label" for="{$labelfor_nilai_adendum1}">
		{$label v_mne_keterisian_pelaksanaan_prov nilai_adendum1 }	</label>
	<div class="r-search-option">
		{$searchtype_nilai_adendum1}
	</div>
	<div class="r-search-field">
		{$nilai_adendum1_editcontrol}	</div>
	<div class="r-search-field">
		{$nilai_adendum1_editcontrol1}
	</div>
	
</div>

{END nilai_adendum1_fieldblock}
											
{BEGIN tanggal_adendum1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tanggal_adendum1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tanggal_adendum1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="tanggal_adendum1" data-fieldname="tanggal_adendum1" >


	<label class="r-search-label control-label" for="{$labelfor_tanggal_adendum1}">
		{$label v_mne_keterisian_pelaksanaan_prov tanggal_adendum1 }	</label>
	<div class="r-search-option">
		{$searchtype_tanggal_adendum1}
	</div>
	<div class="r-search-field">
		{$tanggal_adendum1_editcontrol}	</div>
	<div class="r-search-field">
		{$tanggal_adendum1_editcontrol1}
	</div>
	
</div>

{END tanggal_adendum1_fieldblock}
											
{BEGIN waktu_adendum1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_waktu_adendum1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="waktu_adendum1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="waktu_adendum1" data-fieldname="waktu_adendum1" >


	<label class="r-search-label control-label" for="{$labelfor_waktu_adendum1}">
		{$label v_mne_keterisian_pelaksanaan_prov waktu_adendum1 }	</label>
	<div class="r-search-option">
		{$searchtype_waktu_adendum1}
	</div>
	<div class="r-search-field">
		{$waktu_adendum1_editcontrol}	</div>
	<div class="r-search-field">
		{$waktu_adendum1_editcontrol1}
	</div>
	
</div>

{END waktu_adendum1_fieldblock}
											
{BEGIN dokumen_adendum1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dokumen_adendum1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dokumen_adendum1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="dokumen_adendum1" data-fieldname="dokumen_adendum1" >


	<label class="r-search-label control-label" for="{$labelfor_dokumen_adendum1}">
		{$label v_mne_keterisian_pelaksanaan_prov dokumen_adendum1 }	</label>
	<div class="r-search-option">
		{$searchtype_dokumen_adendum1}
	</div>
	<div class="r-search-field">
		{$dokumen_adendum1_editcontrol}	</div>
	<div class="r-search-field">
		{$dokumen_adendum1_editcontrol1}
	</div>
	
</div>

{END dokumen_adendum1_fieldblock}
											
{BEGIN nilai_adendum2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nilai_adendum2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nilai_adendum2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="nilai_adendum2" data-fieldname="nilai_adendum2" >


	<label class="r-search-label control-label" for="{$labelfor_nilai_adendum2}">
		{$label v_mne_keterisian_pelaksanaan_prov nilai_adendum2 }	</label>
	<div class="r-search-option">
		{$searchtype_nilai_adendum2}
	</div>
	<div class="r-search-field">
		{$nilai_adendum2_editcontrol}	</div>
	<div class="r-search-field">
		{$nilai_adendum2_editcontrol1}
	</div>
	
</div>

{END nilai_adendum2_fieldblock}
											
{BEGIN tanggal_adendum2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tanggal_adendum2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tanggal_adendum2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="tanggal_adendum2" data-fieldname="tanggal_adendum2" >


	<label class="r-search-label control-label" for="{$labelfor_tanggal_adendum2}">
		{$label v_mne_keterisian_pelaksanaan_prov tanggal_adendum2 }	</label>
	<div class="r-search-option">
		{$searchtype_tanggal_adendum2}
	</div>
	<div class="r-search-field">
		{$tanggal_adendum2_editcontrol}	</div>
	<div class="r-search-field">
		{$tanggal_adendum2_editcontrol1}
	</div>
	
</div>

{END tanggal_adendum2_fieldblock}
											
{BEGIN waktu_adendum2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_waktu_adendum2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="waktu_adendum2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="waktu_adendum2" data-fieldname="waktu_adendum2" >


	<label class="r-search-label control-label" for="{$labelfor_waktu_adendum2}">
		{$label v_mne_keterisian_pelaksanaan_prov waktu_adendum2 }	</label>
	<div class="r-search-option">
		{$searchtype_waktu_adendum2}
	</div>
	<div class="r-search-field">
		{$waktu_adendum2_editcontrol}	</div>
	<div class="r-search-field">
		{$waktu_adendum2_editcontrol1}
	</div>
	
</div>

{END waktu_adendum2_fieldblock}
											
{BEGIN dokumen_adendum2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dokumen_adendum2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dokumen_adendum2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="dokumen_adendum2" data-fieldname="dokumen_adendum2" >


	<label class="r-search-label control-label" for="{$labelfor_dokumen_adendum2}">
		{$label v_mne_keterisian_pelaksanaan_prov dokumen_adendum2 }	</label>
	<div class="r-search-option">
		{$searchtype_dokumen_adendum2}
	</div>
	<div class="r-search-field">
		{$dokumen_adendum2_editcontrol}	</div>
	<div class="r-search-field">
		{$dokumen_adendum2_editcontrol1}
	</div>
	
</div>

{END dokumen_adendum2_fieldblock}
											
{BEGIN nilai_adendum3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nilai_adendum3}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nilai_adendum3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="nilai_adendum3" data-fieldname="nilai_adendum3" >


	<label class="r-search-label control-label" for="{$labelfor_nilai_adendum3}">
		{$label v_mne_keterisian_pelaksanaan_prov nilai_adendum3 }	</label>
	<div class="r-search-option">
		{$searchtype_nilai_adendum3}
	</div>
	<div class="r-search-field">
		{$nilai_adendum3_editcontrol}	</div>
	<div class="r-search-field">
		{$nilai_adendum3_editcontrol1}
	</div>
	
</div>

{END nilai_adendum3_fieldblock}
											
{BEGIN tanggal_adendum3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tanggal_adendum3}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tanggal_adendum3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="tanggal_adendum3" data-fieldname="tanggal_adendum3" >


	<label class="r-search-label control-label" for="{$labelfor_tanggal_adendum3}">
		{$label v_mne_keterisian_pelaksanaan_prov tanggal_adendum3 }	</label>
	<div class="r-search-option">
		{$searchtype_tanggal_adendum3}
	</div>
	<div class="r-search-field">
		{$tanggal_adendum3_editcontrol}	</div>
	<div class="r-search-field">
		{$tanggal_adendum3_editcontrol1}
	</div>
	
</div>

{END tanggal_adendum3_fieldblock}
											
{BEGIN waktu_adendum3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_waktu_adendum3}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="waktu_adendum3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="waktu_adendum3" data-fieldname="waktu_adendum3" >


	<label class="r-search-label control-label" for="{$labelfor_waktu_adendum3}">
		{$label v_mne_keterisian_pelaksanaan_prov waktu_adendum3 }	</label>
	<div class="r-search-option">
		{$searchtype_waktu_adendum3}
	</div>
	<div class="r-search-field">
		{$waktu_adendum3_editcontrol}	</div>
	<div class="r-search-field">
		{$waktu_adendum3_editcontrol1}
	</div>
	
</div>

{END waktu_adendum3_fieldblock}
											
{BEGIN dokumen_adendum3_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_dokumen_adendum3}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="dokumen_adendum3{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="dokumen_adendum3" data-fieldname="dokumen_adendum3" >


	<label class="r-search-label control-label" for="{$labelfor_dokumen_adendum3}">
		{$label v_mne_keterisian_pelaksanaan_prov dokumen_adendum3 }	</label>
	<div class="r-search-option">
		{$searchtype_dokumen_adendum3}
	</div>
	<div class="r-search-field">
		{$dokumen_adendum3_editcontrol}	</div>
	<div class="r-search-field">
		{$dokumen_adendum3_editcontrol1}
	</div>
	
</div>

{END dokumen_adendum3_fieldblock}
											
{BEGIN foto_kegiatan_pelaksanaan1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_foto_kegiatan_pelaksanaan1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="foto_kegiatan_pelaksanaan1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="foto_kegiatan_pelaksanaan1" data-fieldname="foto_kegiatan_pelaksanaan1" >


	<label class="r-search-label control-label" for="{$labelfor_foto_kegiatan_pelaksanaan1}">
		{$label v_mne_keterisian_pelaksanaan_prov foto_kegiatan_pelaksanaan1 }	</label>
	<div class="r-search-option">
		{$searchtype_foto_kegiatan_pelaksanaan1}
	</div>
	<div class="r-search-field">
		{$foto_kegiatan_pelaksanaan1_editcontrol}	</div>
	<div class="r-search-field">
		{$foto_kegiatan_pelaksanaan1_editcontrol1}
	</div>
	
</div>

{END foto_kegiatan_pelaksanaan1_fieldblock}
											
{BEGIN foto_kegiatan_pelaksanaan2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_foto_kegiatan_pelaksanaan2}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="foto_kegiatan_pelaksanaan2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="foto_kegiatan_pelaksanaan2" data-fieldname="foto_kegiatan_pelaksanaan2" >


	<label class="r-search-label control-label" for="{$labelfor_foto_kegiatan_pelaksanaan2}">
		{$label v_mne_keterisian_pelaksanaan_prov foto_kegiatan_pelaksanaan2 }	</label>
	<div class="r-search-option">
		{$searchtype_foto_kegiatan_pelaksanaan2}
	</div>
	<div class="r-search-field">
		{$foto_kegiatan_pelaksanaan2_editcontrol}	</div>
	<div class="r-search-field">
		{$foto_kegiatan_pelaksanaan2_editcontrol1}
	</div>
	
</div>

{END foto_kegiatan_pelaksanaan2_fieldblock}
											
{BEGIN kesimpulan_pelaksanaan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kesimpulan_pelaksanaan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kesimpulan_pelaksanaan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="kesimpulan_pelaksanaan" data-fieldname="kesimpulan_pelaksanaan" >


	<label class="r-search-label control-label" for="{$labelfor_kesimpulan_pelaksanaan}">
		{$label v_mne_keterisian_pelaksanaan_prov kesimpulan_pelaksanaan }	</label>
	<div class="r-search-option">
		{$searchtype_kesimpulan_pelaksanaan}
	</div>
	<div class="r-search-field">
		{$kesimpulan_pelaksanaan_editcontrol}	</div>
	<div class="r-search-field">
		{$kesimpulan_pelaksanaan_editcontrol1}
	</div>
	
</div>

{END kesimpulan_pelaksanaan_fieldblock}
											
{BEGIN catatan_pelaksanaan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_catatan_pelaksanaan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="catatan_pelaksanaan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="catatan_pelaksanaan" data-fieldname="catatan_pelaksanaan" >


	<label class="r-search-label control-label" for="{$labelfor_catatan_pelaksanaan}">
		{$label v_mne_keterisian_pelaksanaan_prov catatan_pelaksanaan }	</label>
	<div class="r-search-option">
		{$searchtype_catatan_pelaksanaan}
	</div>
	<div class="r-search-field">
		{$catatan_pelaksanaan_editcontrol}	</div>
	<div class="r-search-field">
		{$catatan_pelaksanaan_editcontrol1}
	</div>
	
</div>

{END catatan_pelaksanaan_fieldblock}
											
{BEGIN tindak_lanjut_pelaksanaan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tindak_lanjut_pelaksanaan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tindak_lanjut_pelaksanaan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="tindak_lanjut_pelaksanaan" data-fieldname="tindak_lanjut_pelaksanaan" >


	<label class="r-search-label control-label" for="{$labelfor_tindak_lanjut_pelaksanaan}">
		{$label v_mne_keterisian_pelaksanaan_prov tindak_lanjut_pelaksanaan }	</label>
	<div class="r-search-option">
		{$searchtype_tindak_lanjut_pelaksanaan}
	</div>
	<div class="r-search-field">
		{$tindak_lanjut_pelaksanaan_editcontrol}	</div>
	<div class="r-search-field">
		{$tindak_lanjut_pelaksanaan_editcontrol1}
	</div>
	
</div>

{END tindak_lanjut_pelaksanaan_fieldblock}
											
{BEGIN provinsiname_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_provinsiname}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="provinsiname{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="provinsiname" data-fieldname="provinsiname" >


	<label class="r-search-label control-label" for="{$labelfor_provinsiname}">
		{$label v_mne_keterisian_pelaksanaan_prov provinsiname }	</label>
	<div class="r-search-option">
		{$searchtype_provinsiname}
	</div>
	<div class="r-search-field">
		{$provinsiname_editcontrol}	</div>
	<div class="r-search-field">
		{$provinsiname_editcontrol1}
	</div>
	
</div>

{END provinsiname_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Cari			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Tata ulang			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Batal			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
