<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-list" >
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="250px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Memperluas" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Menyembunyikan" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Tampilkan menu" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
				<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Perlihatkan semua">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}

	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="v_mne_keterisian_pasca_prov_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Pencarian canggih		
		</a>
	</li>
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		Profil pengguna		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Rubah password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-6
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$mlp_push}{$mlparam first var first_shown}{$mlparam last var last_shown}{$mlparam total var records_found}{mlang_message DISPLAYING}{$mlp_pop}</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>		</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="provinsiname"]:before {
		content: "{$label v_mne_keterisian_pasca_prov provinsiname}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="jumlah_record"]:before {
		content: "{$label v_mne_keterisian_pasca_prov jumlah_record}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="kapasitas_terbangun"]:before {
		content: "{$label v_mne_keterisian_pasca_prov kapasitas_terbangun}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="tanggal_mulai_commissioning"]:before {
		content: "{$label v_mne_keterisian_pasca_prov tanggal_mulai_commissioning}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="tanggal_selesai_commissioning"]:before {
		content: "{$label v_mne_keterisian_pasca_prov tanggal_selesai_commissioning}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="berita_acara_commissioning"]:before {
		content: "{$label v_mne_keterisian_pasca_prov berita_acara_commissioning}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="foto_commissioning1"]:before {
		content: "{$label v_mne_keterisian_pasca_prov foto_commissioning1}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="foto_commissioning2"]:before {
		content: "{$label v_mne_keterisian_pasca_prov foto_commissioning2}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="status_BAST"]:before {
		content: "{$label v_mne_keterisian_pasca_prov status_BAST}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="tanggal_BAST"]:before {
		content: "{$label v_mne_keterisian_pasca_prov tanggal_BAST}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="file_BAST"]:before {
		content: "{$label v_mne_keterisian_pasca_prov file_BAST}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="foto_kegiatan_pasca1"]:before {
		content: "{$label v_mne_keterisian_pasca_prov foto_kegiatan_pasca1}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="foto_kegiatan_pasca2"]:before {
		content: "{$label v_mne_keterisian_pasca_prov foto_kegiatan_pasca2}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="kesimpulan_pasca"]:before {
		content: "{$label v_mne_keterisian_pasca_prov kesimpulan_pasca}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="catatan_pasca"]:before {
		content: "{$label v_mne_keterisian_pasca_prov catatan_pasca}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="tindak_lanjut_pasca"]:before {
		content: "{$label v_mne_keterisian_pasca_prov tindak_lanjut_pasca}";
	}
	}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes} r-horizontal-grid  r-flexgrid rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_checkbox}
	<th
	
	{$cell_grid_headcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="v_mne_keterisian_pasca_prov_list"	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox_head" data-itemid="grid_checkbox_head" {$item_grid_checkbox_head} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkboxheader_attrs}>
</span>
{END checkbox_column}
	
	</th>
	{END cellblock_grid_headcell_checkbox}
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$provinsiname_class}
			"

			data-field="provinsiname"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN provinsiname_fieldheadercolumn}
	{BEGIN provinsiname_fieldheader}
	<SPAN {$provinsiname_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="provinsiname" data-fieldname="provinsiname">
	{$label v_mne_keterisian_pasca_prov provinsiname }	{$arrow_icon_provinsiname}
	</SPAN>
	{END provinsiname_fieldheader}
{END provinsiname_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$jumlah_record_class}
			"

			data-field="jumlah_record"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN jumlah_record_fieldheadercolumn}
	{BEGIN jumlah_record_fieldheader}
	<SPAN {$jumlah_record_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="jumlah_record" data-fieldname="jumlah_record">
	{$label v_mne_keterisian_pasca_prov jumlah_record }	{$arrow_icon_jumlah_record}
	</SPAN>
	{END jumlah_record_fieldheader}
{END jumlah_record_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$kapasitas_terbangun_class}
			"

			data-field="kapasitas_terbangun"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN kapasitas_terbangun_fieldheadercolumn}
	{BEGIN kapasitas_terbangun_fieldheader}
	<SPAN {$kapasitas_terbangun_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="kapasitas_terbangun" data-fieldname="kapasitas_terbangun">
	{$label v_mne_keterisian_pasca_prov kapasitas_terbangun }	{$arrow_icon_kapasitas_terbangun}
	</SPAN>
	{END kapasitas_terbangun_fieldheader}
{END kapasitas_terbangun_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$tanggal_mulai_commissioning_class}
			"

			data-field="tanggal_mulai_commissioning"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN tanggal_mulai_commissioning_fieldheadercolumn}
	{BEGIN tanggal_mulai_commissioning_fieldheader}
	<SPAN {$tanggal_mulai_commissioning_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="tanggal_mulai_commissioning" data-fieldname="tanggal_mulai_commissioning">
	{$label v_mne_keterisian_pasca_prov tanggal_mulai_commissioning }	{$arrow_icon_tanggal_mulai_commissioning}
	</SPAN>
	{END tanggal_mulai_commissioning_fieldheader}
{END tanggal_mulai_commissioning_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$tanggal_selesai_commissioning_class}
			"

			data-field="tanggal_selesai_commissioning"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN tanggal_selesai_commissioning_fieldheadercolumn}
	{BEGIN tanggal_selesai_commissioning_fieldheader}
	<SPAN {$tanggal_selesai_commissioning_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="tanggal_selesai_commissioning" data-fieldname="tanggal_selesai_commissioning">
	{$label v_mne_keterisian_pasca_prov tanggal_selesai_commissioning }	{$arrow_icon_tanggal_selesai_commissioning}
	</SPAN>
	{END tanggal_selesai_commissioning_fieldheader}
{END tanggal_selesai_commissioning_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
				 
					{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$berita_acara_commissioning_class}
			"

			data-field="berita_acara_commissioning"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN berita_acara_commissioning_fieldheadercolumn}
	{BEGIN berita_acara_commissioning_fieldheader}
	<SPAN {$berita_acara_commissioning_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="berita_acara_commissioning" data-fieldname="berita_acara_commissioning">
	{$label v_mne_keterisian_pasca_prov berita_acara_commissioning }	{$arrow_icon_berita_acara_commissioning}
	</SPAN>
	{END berita_acara_commissioning_fieldheader}
{END berita_acara_commissioning_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
				 
					{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$foto_commissioning1_class}
			"

			data-field="foto_commissioning1"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN foto_commissioning1_fieldheadercolumn}
	{BEGIN foto_commissioning1_fieldheader}
	<SPAN {$foto_commissioning1_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="foto_commissioning1" data-fieldname="foto_commissioning1">
	{$label v_mne_keterisian_pasca_prov foto_commissioning1 }	{$arrow_icon_foto_commissioning1}
	</SPAN>
	{END foto_commissioning1_fieldheader}
{END foto_commissioning1_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
				 
					{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$foto_commissioning2_class}
			"

			data-field="foto_commissioning2"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN foto_commissioning2_fieldheadercolumn}
	{BEGIN foto_commissioning2_fieldheader}
	<SPAN {$foto_commissioning2_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="foto_commissioning2" data-fieldname="foto_commissioning2">
	{$label v_mne_keterisian_pasca_prov foto_commissioning2 }	{$arrow_icon_foto_commissioning2}
	</SPAN>
	{END foto_commissioning2_fieldheader}
{END foto_commissioning2_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
				 
					{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$status_BAST_class}
			"

			data-field="status_BAST"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN status_BAST_fieldheadercolumn}
	{BEGIN status_BAST_fieldheader}
	<SPAN {$status_BAST_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field24" {$item_simple_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="status_BAST" data-fieldname="status_BAST">
	{$label v_mne_keterisian_pasca_prov status_BAST }	{$arrow_icon_status_BAST}
	</SPAN>
	{END status_BAST_fieldheader}
{END status_BAST_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
				 
					{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$tanggal_BAST_class}
			"

			data-field="tanggal_BAST"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN tanggal_BAST_fieldheadercolumn}
	{BEGIN tanggal_BAST_fieldheader}
	<SPAN {$tanggal_BAST_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field25" {$item_simple_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="tanggal_BAST" data-fieldname="tanggal_BAST">
	{$label v_mne_keterisian_pasca_prov tanggal_BAST }	{$arrow_icon_tanggal_BAST}
	</SPAN>
	{END tanggal_BAST_fieldheader}
{END tanggal_BAST_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
				 
					{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$file_BAST_class}
			"

			data-field="file_BAST"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN file_BAST_fieldheadercolumn}
	{BEGIN file_BAST_fieldheader}
	<SPAN {$file_BAST_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field26" {$item_simple_grid_field26} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="file_BAST" data-fieldname="file_BAST">
	{$label v_mne_keterisian_pasca_prov file_BAST }	{$arrow_icon_file_BAST}
	</SPAN>
	{END file_BAST_fieldheader}
{END file_BAST_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
				 
					{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$foto_kegiatan_pasca1_class}
			"

			data-field="foto_kegiatan_pasca1"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN foto_kegiatan_pasca1_fieldheadercolumn}
	{BEGIN foto_kegiatan_pasca1_fieldheader}
	<SPAN {$foto_kegiatan_pasca1_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field27" {$item_simple_grid_field27} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="foto_kegiatan_pasca1" data-fieldname="foto_kegiatan_pasca1">
	{$label v_mne_keterisian_pasca_prov foto_kegiatan_pasca1 }	{$arrow_icon_foto_kegiatan_pasca1}
	</SPAN>
	{END foto_kegiatan_pasca1_fieldheader}
{END foto_kegiatan_pasca1_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
				 
					{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert				{$foto_kegiatan_pasca2_class}
			"

			data-field="foto_kegiatan_pasca2"
	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN foto_kegiatan_pasca2_fieldheadercolumn}
	{BEGIN foto_kegiatan_pasca2_fieldheader}
	<SPAN {$foto_kegiatan_pasca2_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field28" {$item_simple_grid_field28} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="foto_kegiatan_pasca2" data-fieldname="foto_kegiatan_pasca2">
	{$label v_mne_keterisian_pasca_prov foto_kegiatan_pasca2 }	{$arrow_icon_foto_kegiatan_pasca2}
	</SPAN>
	{END foto_kegiatan_pasca2_fieldheader}
{END foto_kegiatan_pasca2_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field12}
				 
					{BEGIN cellblock_grid_headcell_field13}
	<th
	
	{$cell_grid_headcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert				{$kesimpulan_pasca_class}
			"

			data-field="kesimpulan_pasca"
	
	data-cellId="grid_headcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN kesimpulan_pasca_fieldheadercolumn}
	{BEGIN kesimpulan_pasca_fieldheader}
	<SPAN {$kesimpulan_pasca_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field29" {$item_simple_grid_field29} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="kesimpulan_pasca" data-fieldname="kesimpulan_pasca">
	{$label v_mne_keterisian_pasca_prov kesimpulan_pasca }	{$arrow_icon_kesimpulan_pasca}
	</SPAN>
	{END kesimpulan_pasca_fieldheader}
{END kesimpulan_pasca_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field13}
				 
					{BEGIN cellblock_grid_headcell_field14}
	<th
	
	{$cell_grid_headcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert				{$catatan_pasca_class}
			"

			data-field="catatan_pasca"
	
	data-cellId="grid_headcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN catatan_pasca_fieldheadercolumn}
	{BEGIN catatan_pasca_fieldheader}
	<SPAN {$catatan_pasca_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field30" {$item_simple_grid_field30} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="catatan_pasca" data-fieldname="catatan_pasca">
	{$label v_mne_keterisian_pasca_prov catatan_pasca }	{$arrow_icon_catatan_pasca}
	</SPAN>
	{END catatan_pasca_fieldheader}
{END catatan_pasca_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field14}
				 
					{BEGIN cellblock_grid_headcell_field15}
	<th
	
	{$cell_grid_headcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert				{$tindak_lanjut_pasca_class}
			"

			data-field="tindak_lanjut_pasca"
	
	data-cellId="grid_headcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN tindak_lanjut_pasca_fieldheadercolumn}
	{BEGIN tindak_lanjut_pasca_fieldheader}
	<SPAN {$tindak_lanjut_pasca_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field31" {$item_simple_grid_field31} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="tindak_lanjut_pasca" data-fieldname="tindak_lanjut_pasca">
	{$label v_mne_keterisian_pasca_prov tindak_lanjut_pasca }	{$arrow_icon_tindak_lanjut_pasca}
	</SPAN>
	{END tindak_lanjut_pasca_fieldheader}
{END tindak_lanjut_pasca_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field15}
							</tr>
					 
					 
					
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_checkbox}
	<td
	
	{$cell_grid_cell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}
		>
</span>	
{END checkbox_column}
	
	</td>
	{END cellblock_grid_cell_checkbox}
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$provinsiname_class}
			"

			data-field="provinsiname"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN provinsiname_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="provinsiname" data-fieldname="provinsiname" data-default-width >
{$provinsiname_value}
</span>
{END provinsiname_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$jumlah_record_class}
			"

			data-field="jumlah_record"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN jumlah_record_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="jumlah_record" data-fieldname="jumlah_record" data-default-width >
{$jumlah_record_value}
</span>
{END jumlah_record_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$kapasitas_terbangun_class}
			"

			data-field="kapasitas_terbangun"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN kapasitas_terbangun_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="kapasitas_terbangun" data-fieldname="kapasitas_terbangun" data-default-width >
{$kapasitas_terbangun_value}
</span>
{END kapasitas_terbangun_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$tanggal_mulai_commissioning_class}
			"

			data-field="tanggal_mulai_commissioning"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN tanggal_mulai_commissioning_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="tanggal_mulai_commissioning" data-fieldname="tanggal_mulai_commissioning" data-default-width >
{$tanggal_mulai_commissioning_value}
</span>
{END tanggal_mulai_commissioning_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$tanggal_selesai_commissioning_class}
			"

			data-field="tanggal_selesai_commissioning"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN tanggal_selesai_commissioning_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="tanggal_selesai_commissioning" data-fieldname="tanggal_selesai_commissioning" data-default-width >
{$tanggal_selesai_commissioning_value}
</span>
{END tanggal_selesai_commissioning_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
				 
					{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$berita_acara_commissioning_class}
			"

			data-field="berita_acara_commissioning"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN berita_acara_commissioning_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="berita_acara_commissioning" data-fieldname="berita_acara_commissioning" data-default-width >
{$berita_acara_commissioning_value}
</span>
{END berita_acara_commissioning_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
				 
					{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$foto_commissioning1_class}
			"

			data-field="foto_commissioning1"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN foto_commissioning1_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="foto_commissioning1" data-fieldname="foto_commissioning1" data-default-width >
{$foto_commissioning1_value}
</span>
{END foto_commissioning1_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
				 
					{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$foto_commissioning2_class}
			"

			data-field="foto_commissioning2"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN foto_commissioning2_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="foto_commissioning2" data-fieldname="foto_commissioning2" data-default-width >
{$foto_commissioning2_value}
</span>
{END foto_commissioning2_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
				 
					{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$status_BAST_class}
			"

			data-field="status_BAST"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN status_BAST_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="status_BAST" data-fieldname="status_BAST" data-default-width >
{$status_BAST_value}
</span>
{END status_BAST_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
				 
					{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$tanggal_BAST_class}
			"

			data-field="tanggal_BAST"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN tanggal_BAST_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="tanggal_BAST" data-fieldname="tanggal_BAST" data-default-width >
{$tanggal_BAST_value}
</span>
{END tanggal_BAST_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
				 
					{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$file_BAST_class}
			"

			data-field="file_BAST"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN file_BAST_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="file_BAST" data-fieldname="file_BAST" data-default-width >
{$file_BAST_value}
</span>
{END file_BAST_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
				 
					{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$foto_kegiatan_pasca1_class}
			"

			data-field="foto_kegiatan_pasca1"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN foto_kegiatan_pasca1_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="foto_kegiatan_pasca1" data-fieldname="foto_kegiatan_pasca1" data-default-width >
{$foto_kegiatan_pasca1_value}
</span>
{END foto_kegiatan_pasca1_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
				 
					{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert				{$foto_kegiatan_pasca2_class}
			"

			data-field="foto_kegiatan_pasca2"
	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN foto_kegiatan_pasca2_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="foto_kegiatan_pasca2" data-fieldname="foto_kegiatan_pasca2" data-default-width >
{$foto_kegiatan_pasca2_value}
</span>
{END foto_kegiatan_pasca2_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field12}
				 
					{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert				{$kesimpulan_pasca_class}
			"

			data-field="kesimpulan_pasca"
	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN kesimpulan_pasca_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="kesimpulan_pasca" data-fieldname="kesimpulan_pasca" data-default-width >
{$kesimpulan_pasca_value}
</span>
{END kesimpulan_pasca_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field13}
				 
					{BEGIN cellblock_grid_cell_field14}
	<td
	
	{$cell_grid_cell_field14}
	{$recordattrs}
	class="
		 r-ori-vert				{$catatan_pasca_class}
			"

			data-field="catatan_pasca"
	
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN catatan_pasca_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="catatan_pasca" data-fieldname="catatan_pasca" data-default-width >
{$catatan_pasca_value}
</span>
{END catatan_pasca_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field14}
				 
					{BEGIN cellblock_grid_cell_field15}
	<td
	
	{$cell_grid_cell_field15}
	{$recordattrs}
	class="
		 r-ori-vert				{$tindak_lanjut_pasca_class}
			"

			data-field="tindak_lanjut_pasca"
	
	data-cellId="grid_cell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN tindak_lanjut_pasca_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="tindak_lanjut_pasca" data-fieldname="tindak_lanjut_pasca" data-default-width >
{$tindak_lanjut_pasca_value}
</span>
{END tindak_lanjut_pasca_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field15}
							</tr>
					 
					
											{END grid_row}
					</tbody>
													<tfoot>
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_checkbox}
	<td
	
	{$cell_grid_footcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_checkbox}
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="v_mne_keterisian_pasca_prov_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="v_mne_keterisian_pasca_prov_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="v_mne_keterisian_pasca_prov_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="v_mne_keterisian_pasca_prov_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="v_mne_keterisian_pasca_prov_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="v_mne_keterisian_pasca_prov_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
				 
					{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="v_mne_keterisian_pasca_prov_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
				 
					{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="v_mne_keterisian_pasca_prov_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
				 
					{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="v_mne_keterisian_pasca_prov_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
				 
					{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="v_mne_keterisian_pasca_prov_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
				 
					{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="v_mne_keterisian_pasca_prov_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
				 
					{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="v_mne_keterisian_pasca_prov_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
				 
					{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="v_mne_keterisian_pasca_prov_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field12}
				 
					{BEGIN cellblock_grid_footcell_field13}
	<td
	
	{$cell_grid_footcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="v_mne_keterisian_pasca_prov_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field13}
				 
					{BEGIN cellblock_grid_footcell_field14}
	<td
	
	{$cell_grid_footcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="v_mne_keterisian_pasca_prov_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field14}
				 
					{BEGIN cellblock_grid_footcell_field15}
	<td
	
	{$cell_grid_footcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="v_mne_keterisian_pasca_prov_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field15}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
