<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-report" >
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="250px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Memperluas" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel" >
				<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}" >

	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle btn-sm )" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Search in			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Show options</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>all conditions</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>any condition</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>hide</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_NamaPropinsi}


		<div class="form-group srchPanelRow {$filterRow_class_NamaPropinsi}" {$filterRow_attrs_NamaPropinsi}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report NamaPropinsi }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_NamaPropinsi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_NamaPropinsi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_NamaPropinsi}</span>
						</div>
		{END searchCtrlBlock_NamaPropinsi}
																{BEGIN searchCtrlBlock_latitude}


		<div class="form-group srchPanelRow {$filterRow_class_latitude}" {$filterRow_attrs_latitude}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report latitude }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_latitude}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_latitude}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_latitude}</span>
						</div>
		{END searchCtrlBlock_latitude}
																{BEGIN searchCtrlBlock_longitude}


		<div class="form-group srchPanelRow {$filterRow_class_longitude}" {$filterRow_attrs_longitude}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report longitude }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_longitude}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_longitude}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_longitude}</span>
						</div>
		{END searchCtrlBlock_longitude}
																{BEGIN searchCtrlBlock_status_verifikasi}


		<div class="form-group srchPanelRow {$filterRow_class_status_verifikasi}" {$filterRow_attrs_status_verifikasi}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report status_verifikasi }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_status_verifikasi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_status_verifikasi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_status_verifikasi}</span>
						</div>
		{END searchCtrlBlock_status_verifikasi}
																{BEGIN searchCtrlBlock_unit_pengolahan_air_lindi}


		<div class="form-group srchPanelRow {$filterRow_class_unit_pengolahan_air_lindi}" {$filterRow_attrs_unit_pengolahan_air_lindi}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report unit_pengolahan_air_lindi }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_unit_pengolahan_air_lindi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_unit_pengolahan_air_lindi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_unit_pengolahan_air_lindi}</span>
						</div>
		{END searchCtrlBlock_unit_pengolahan_air_lindi}
																{BEGIN searchCtrlBlock_umur_TPA}


		<div class="form-group srchPanelRow {$filterRow_class_umur_TPA}" {$filterRow_attrs_umur_TPA}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report umur_TPA }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_umur_TPA}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_umur_TPA}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_umur_TPA}</span>
						</div>
		{END searchCtrlBlock_umur_TPA}
																{BEGIN searchCtrlBlock_telepon}


		<div class="form-group srchPanelRow {$filterRow_class_telepon}" {$filterRow_attrs_telepon}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report telepon }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_telepon}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_telepon}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_telepon}</span>
						</div>
		{END searchCtrlBlock_telepon}
																{BEGIN searchCtrlBlock_tahun_pembangunan}


		<div class="form-group srchPanelRow {$filterRow_class_tahun_pembangunan}" {$filterRow_attrs_tahun_pembangunan}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report tahun_pembangunan }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_tahun_pembangunan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_tahun_pembangunan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_tahun_pembangunan}</span>
						</div>
		{END searchCtrlBlock_tahun_pembangunan}
																{BEGIN searchCtrlBlock_tahun_mulai_operasi}


		<div class="form-group srchPanelRow {$filterRow_class_tahun_mulai_operasi}" {$filterRow_attrs_tahun_mulai_operasi}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report tahun_mulai_operasi }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_tahun_mulai_operasi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_tahun_mulai_operasi}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_tahun_mulai_operasi}</span>
						</div>
		{END searchCtrlBlock_tahun_mulai_operasi}
																{BEGIN searchCtrlBlock_sumber_dana_pembangunan}


		<div class="form-group srchPanelRow {$filterRow_class_sumber_dana_pembangunan}" {$filterRow_attrs_sumber_dana_pembangunan}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report sumber_dana_pembangunan }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_sumber_dana_pembangunan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_sumber_dana_pembangunan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_sumber_dana_pembangunan}</span>
						</div>
		{END searchCtrlBlock_sumber_dana_pembangunan}
																{BEGIN searchCtrlBlock_status_keberfungsian}


		<div class="form-group srchPanelRow {$filterRow_class_status_keberfungsian}" {$filterRow_attrs_status_keberfungsian}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report status_keberfungsian }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_status_keberfungsian}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_status_keberfungsian}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_status_keberfungsian}</span>
						</div>
		{END searchCtrlBlock_status_keberfungsian}
																{BEGIN searchCtrlBlock_potensi_emisi_gas}


		<div class="form-group srchPanelRow {$filterRow_class_potensi_emisi_gas}" {$filterRow_attrs_potensi_emisi_gas}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report potensi_emisi_gas }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_potensi_emisi_gas}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_potensi_emisi_gas}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_potensi_emisi_gas}</span>
						</div>
		{END searchCtrlBlock_potensi_emisi_gas}
																{BEGIN searchCtrlBlock_pengelola}


		<div class="form-group srchPanelRow {$filterRow_class_pengelola}" {$filterRow_attrs_pengelola}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report pengelola }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_pengelola}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_pengelola}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_pengelola}</span>
						</div>
		{END searchCtrlBlock_pengelola}
																{BEGIN searchCtrlBlock_pemanfaatan_gas_methane}


		<div class="form-group srchPanelRow {$filterRow_class_pemanfaatan_gas_methane}" {$filterRow_attrs_pemanfaatan_gas_methane}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report pemanfaatan_gas_methane }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_pemanfaatan_gas_methane}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_pemanfaatan_gas_methane}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_pemanfaatan_gas_methane}</span>
						</div>
		{END searchCtrlBlock_pemanfaatan_gas_methane}
																{BEGIN searchCtrlBlock_nama_kepala_fasilitas}


		<div class="form-group srchPanelRow {$filterRow_class_nama_kepala_fasilitas}" {$filterRow_attrs_nama_kepala_fasilitas}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report nama_kepala_fasilitas }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_nama_kepala_fasilitas}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_nama_kepala_fasilitas}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_nama_kepala_fasilitas}</span>
						</div>
		{END searchCtrlBlock_nama_kepala_fasilitas}
																{BEGIN searchCtrlBlock_metode_lahan_urug}


		<div class="form-group srchPanelRow {$filterRow_class_metode_lahan_urug}" {$filterRow_attrs_metode_lahan_urug}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report metode_lahan_urug }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_metode_lahan_urug}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_metode_lahan_urug}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_metode_lahan_urug}</span>
						</div>
		{END searchCtrlBlock_metode_lahan_urug}
																{BEGIN searchCtrlBlock_luas_unit_pengolahan_sampah}


		<div class="form-group srchPanelRow {$filterRow_class_luas_unit_pengolahan_sampah}" {$filterRow_attrs_luas_unit_pengolahan_sampah}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report luas_unit_pengolahan_sampah }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_luas_unit_pengolahan_sampah}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_luas_unit_pengolahan_sampah}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_luas_unit_pengolahan_sampah}</span>
						</div>
		{END searchCtrlBlock_luas_unit_pengolahan_sampah}
																{BEGIN searchCtrlBlock_luas_total_TPA}


		<div class="form-group srchPanelRow {$filterRow_class_luas_total_TPA}" {$filterRow_attrs_luas_total_TPA}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report luas_total_TPA }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_luas_total_TPA}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_luas_total_TPA}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_luas_total_TPA}</span>
						</div>
		{END searchCtrlBlock_luas_total_TPA}
																{BEGIN searchCtrlBlock_kualitas_keberfungsian}


		<div class="form-group srchPanelRow {$filterRow_class_kualitas_keberfungsian}" {$filterRow_attrs_kualitas_keberfungsian}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report kualitas_keberfungsian }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_kualitas_keberfungsian}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_kualitas_keberfungsian}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_kualitas_keberfungsian}</span>
						</div>
		{END searchCtrlBlock_kualitas_keberfungsian}
																{BEGIN searchCtrlBlock_kondisifasilitas}


		<div class="form-group srchPanelRow {$filterRow_class_kondisifasilitas}" {$filterRow_attrs_kondisifasilitas}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report kondisifasilitas }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_kondisifasilitas}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_kondisifasilitas}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_kondisifasilitas}</span>
						</div>
		{END searchCtrlBlock_kondisifasilitas}
																{BEGIN searchCtrlBlock_kategori_pelayanan}


		<div class="form-group srchPanelRow {$filterRow_class_kategori_pelayanan}" {$filterRow_attrs_kategori_pelayanan}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report kategori_pelayanan }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_kategori_pelayanan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_kategori_pelayanan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_kategori_pelayanan}</span>
						</div>
		{END searchCtrlBlock_kategori_pelayanan}
																{BEGIN searchCtrlBlock_kapasitas_sampah_terolah}


		<div class="form-group srchPanelRow {$filterRow_class_kapasitas_sampah_terolah}" {$filterRow_attrs_kapasitas_sampah_terolah}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report kapasitas_sampah_terolah }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_kapasitas_sampah_terolah}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_kapasitas_sampah_terolah}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_kapasitas_sampah_terolah}</span>
						</div>
		{END searchCtrlBlock_kapasitas_sampah_terolah}
																{BEGIN searchCtrlBlock_kapasitas_sampah_masuk}


		<div class="form-group srchPanelRow {$filterRow_class_kapasitas_sampah_masuk}" {$filterRow_attrs_kapasitas_sampah_masuk}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report kapasitas_sampah_masuk }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_kapasitas_sampah_masuk}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_kapasitas_sampah_masuk}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_kapasitas_sampah_masuk}</span>
						</div>
		{END searchCtrlBlock_kapasitas_sampah_masuk}
																{BEGIN searchCtrlBlock_kabupatenkotaname}


		<div class="form-group srchPanelRow {$filterRow_class_kabupatenkotaname}" {$filterRow_attrs_kabupatenkotaname}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report kabupatenkotaname }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_kabupatenkotaname}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_kabupatenkotaname}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_kabupatenkotaname}</span>
						</div>
		{END searchCtrlBlock_kabupatenkotaname}
																{BEGIN searchCtrlBlock_jumlah_record}


		<div class="form-group srchPanelRow {$filterRow_class_jumlah_record}" {$filterRow_attrs_jumlah_record}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report jumlah_record }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_jumlah_record}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_jumlah_record}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_jumlah_record}</span>
						</div>
		{END searchCtrlBlock_jumlah_record}
																{BEGIN searchCtrlBlock_jenis_pengelola}


		<div class="form-group srchPanelRow {$filterRow_class_jenis_pengelola}" {$filterRow_attrs_jenis_pengelola}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report jenis_pengelola }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_jenis_pengelola}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_jenis_pengelola}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_jenis_pengelola}</span>
						</div>
		{END searchCtrlBlock_jenis_pengelola}
																{BEGIN searchCtrlBlock_jarak_perumahan}


		<div class="form-group srchPanelRow {$filterRow_class_jarak_perumahan}" {$filterRow_attrs_jarak_perumahan}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report jarak_perumahan }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_jarak_perumahan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_jarak_perumahan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_jarak_perumahan}</span>
						</div>
		{END searchCtrlBlock_jarak_perumahan}
																{BEGIN searchCtrlBlock_jarak_badan_air}


		<div class="form-group srchPanelRow {$filterRow_class_jarak_badan_air}" {$filterRow_attrs_jarak_badan_air}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report jarak_badan_air }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_jarak_badan_air}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_jarak_badan_air}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_jarak_badan_air}</span>
						</div>
		{END searchCtrlBlock_jarak_badan_air}
																{BEGIN searchCtrlBlock_email}


		<div class="form-group srchPanelRow {$filterRow_class_email}" {$filterRow_attrs_email}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report email }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_email}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_email}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_email}</span>
						</div>
		{END searchCtrlBlock_email}
																{BEGIN searchCtrlBlock_biaya_pembangunan}


		<div class="form-group srchPanelRow {$filterRow_class_biaya_pembangunan}" {$filterRow_attrs_biaya_pembangunan}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report biaya_pembangunan }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_biaya_pembangunan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_biaya_pembangunan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_biaya_pembangunan}</span>
						</div>
		{END searchCtrlBlock_biaya_pembangunan}
																{BEGIN searchCtrlBlock_biaya_operasional}


		<div class="form-group srchPanelRow {$filterRow_class_biaya_operasional}" {$filterRow_attrs_biaya_operasional}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report biaya_operasional }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_biaya_operasional}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_biaya_operasional}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_biaya_operasional}</span>
						</div>
		{END searchCtrlBlock_biaya_operasional}
																{BEGIN searchCtrlBlock_bentuk_pemanfaatan_gas_metan}


		<div class="form-group srchPanelRow {$filterRow_class_bentuk_pemanfaatan_gas_metan}" {$filterRow_attrs_bentuk_pemanfaatan_gas_metan}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report bentuk_pemanfaatan_gas_metan }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_bentuk_pemanfaatan_gas_metan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_bentuk_pemanfaatan_gas_metan}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_bentuk_pemanfaatan_gas_metan}</span>
						</div>
		{END searchCtrlBlock_bentuk_pemanfaatan_gas_metan}
																{BEGIN searchCtrlBlock_alamat}


		<div class="form-group srchPanelRow {$filterRow_class_alamat}" {$filterRow_attrs_alamat}>
			<label>{$label v_sp_pemrosesan_keterisian_kabkota_Report alamat }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_alamat}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_alamat}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_alamat}</span>
						</div>
		{END searchCtrlBlock_alamat}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary btn-sm" id="searchButton{$id}" {$searchbutton_attrs}>Cari</button>

				<button class="btn btn-default btn-sm" {$showAllCont_attrs} {$showallbutton_attrs}>Perlihatkan semua</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Menyembunyikan" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Tampilkan menu" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
				<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Perlihatkan semua">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}

	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="v_sp_pemrosesan_keterisian_kabkota_report_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Pencarian canggih		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Show search panel		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Hide search panel		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export_report_excel" data-itemid="export_report_excel" {$item_export_report_excel} data-pageid="{$pageid}" data-small >
				<a  href="v_sp_pemrosesan_keterisian_kabkota_report_print.php?all=1&amp;format=excel{$stateLink}" {$excellink_attrs}  title="" >
				
		Export to Excel		
		</a>
	</li>
{END export_link}
							{BEGIN export_link}
	<li data-itemtype="export_report_word" data-itemid="export_report_word" {$item_export_report_word} data-pageid="{$pageid}" data-small >
				<a  href="v_sp_pemrosesan_keterisian_kabkota_report_print.php?all=1&amp;format=word{$stateLink}" {$wordlink_attrs}  title="" >
				
		Export to Word		
		</a>
	</li>
{END export_link}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		Profil pengguna		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Rubah password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-6
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$mlp_push}{$mlparam first var first_shown}{$mlparam last var last_shown}{$mlparam total var records_found}{mlang_message DISPLAYING}{$mlp_pop}</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$grpsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Print-friendly page" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Scope:		</div>

			 
		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="v_sp_pemrosesan_keterisian_kabkota_report_print.php?all=1&amp;{$crosstable_attrs}" name="printScope" >
									Print whole report							</label>
		</div>
		{END print_friendly_all}
		</div>
		<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="v_sp_pemrosesan_keterisian_kabkota_report_print.php?{$crosstable_attrs}">
				Print this page			</label>
		</div>
	</div>
		
	</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					Grup-grup per halaman							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Print			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {
		background-color: #ffffbb;
	}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color: #ffe0b0;
	}
	.rnr-report {
		width: 100%;
	}
	td {
		padding: 2px; 4px;
	}
			td.group_1{
			background-color: #FFFFFF;
		}
		td.nbgroup_1{
			background-color: #FFFFFF;
		}
		td.header_1 {
			background-color: #FFFFFF; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
		td.blackshade {
		font-size: 120%;
	}
	.summaryrow > * {
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}
		.fieldnamesrow > * 
	{
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}
	</style>

<div class="rnr-cw-grid rnr-s-2 asbuttons {$pageStyleName}" data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" >
					


<table class="table table-striped table-bordered rnr-b-grid rnr-gridtable" cellpadding="0" >
	<tbody>			
{BEGIN grid_row}
				<!--  group headers -->
	 
		{BEGIN NamaPropinsi_newgroup}							
		<tr class="group-spliter-1"  >
			<td class="header_1" colspan="32">
				{$label v_sp_pemrosesan_keterisian_kabkota_Report NamaPropinsi }:&nbsp;
				{$xNamaPropinsi_grval}
								<span data-itemtype="grid_field" data-field="NamaPropinsi" data-itemid="grid_field2" data-pageid={$pageid} data-record-id="{$recId}">
{$NamaPropinsi_grval}
</span>			</td>
		</tr>
		
				<tr class="fieldnamesrow group-headers">
																	<td class="blackshade {$fieldclass_kabupatenkotaname}">{$label v_sp_pemrosesan_keterisian_kabkota_Report kabupatenkotaname }</td>
														<td class="blackshade {$fieldclass_jumlah_record}">{$label v_sp_pemrosesan_keterisian_kabkota_Report jumlah_record }</td>
														<td class="blackshade {$fieldclass_kondisifasilitas}">{$label v_sp_pemrosesan_keterisian_kabkota_Report kondisifasilitas }</td>
														<td class="blackshade {$fieldclass_kategori_pelayanan}">{$label v_sp_pemrosesan_keterisian_kabkota_Report kategori_pelayanan }</td>
														<td class="blackshade {$fieldclass_pengelola}">{$label v_sp_pemrosesan_keterisian_kabkota_Report pengelola }</td>
														<td class="blackshade {$fieldclass_jenis_pengelola}">{$label v_sp_pemrosesan_keterisian_kabkota_Report jenis_pengelola }</td>
														<td class="blackshade {$fieldclass_nama_kepala_fasilitas}">{$label v_sp_pemrosesan_keterisian_kabkota_Report nama_kepala_fasilitas }</td>
														<td class="blackshade {$fieldclass_alamat}">{$label v_sp_pemrosesan_keterisian_kabkota_Report alamat }</td>
														<td class="blackshade {$fieldclass_longitude}">{$label v_sp_pemrosesan_keterisian_kabkota_Report longitude }</td>
														<td class="blackshade {$fieldclass_latitude}">{$label v_sp_pemrosesan_keterisian_kabkota_Report latitude }</td>
														<td class="blackshade {$fieldclass_telepon}">{$label v_sp_pemrosesan_keterisian_kabkota_Report telepon }</td>
														<td class="blackshade {$fieldclass_email}">{$label v_sp_pemrosesan_keterisian_kabkota_Report email }</td>
														<td class="blackshade {$fieldclass_tahun_pembangunan}">{$label v_sp_pemrosesan_keterisian_kabkota_Report tahun_pembangunan }</td>
														<td class="blackshade {$fieldclass_tahun_mulai_operasi}">{$label v_sp_pemrosesan_keterisian_kabkota_Report tahun_mulai_operasi }</td>
														<td class="blackshade {$fieldclass_jarak_perumahan}">{$label v_sp_pemrosesan_keterisian_kabkota_Report jarak_perumahan }</td>
														<td class="blackshade {$fieldclass_jarak_badan_air}">{$label v_sp_pemrosesan_keterisian_kabkota_Report jarak_badan_air }</td>
														<td class="blackshade {$fieldclass_sumber_dana_pembangunan}">{$label v_sp_pemrosesan_keterisian_kabkota_Report sumber_dana_pembangunan }</td>
														<td class="blackshade {$fieldclass_biaya_pembangunan}">{$label v_sp_pemrosesan_keterisian_kabkota_Report biaya_pembangunan }</td>
														<td class="blackshade {$fieldclass_luas_total_TPA}">{$label v_sp_pemrosesan_keterisian_kabkota_Report luas_total_TPA }</td>
														<td class="blackshade {$fieldclass_luas_unit_pengolahan_sampah}">{$label v_sp_pemrosesan_keterisian_kabkota_Report luas_unit_pengolahan_sampah }</td>
														<td class="blackshade {$fieldclass_status_keberfungsian}">{$label v_sp_pemrosesan_keterisian_kabkota_Report status_keberfungsian }</td>
														<td class="blackshade {$fieldclass_kualitas_keberfungsian}">{$label v_sp_pemrosesan_keterisian_kabkota_Report kualitas_keberfungsian }</td>
														<td class="blackshade {$fieldclass_metode_lahan_urug}">{$label v_sp_pemrosesan_keterisian_kabkota_Report metode_lahan_urug }</td>
														<td class="blackshade {$fieldclass_kapasitas_sampah_masuk}">{$label v_sp_pemrosesan_keterisian_kabkota_Report kapasitas_sampah_masuk }</td>
														<td class="blackshade {$fieldclass_kapasitas_sampah_terolah}">{$label v_sp_pemrosesan_keterisian_kabkota_Report kapasitas_sampah_terolah }</td>
														<td class="blackshade {$fieldclass_unit_pengolahan_air_lindi}">{$label v_sp_pemrosesan_keterisian_kabkota_Report unit_pengolahan_air_lindi }</td>
														<td class="blackshade {$fieldclass_umur_TPA}">{$label v_sp_pemrosesan_keterisian_kabkota_Report umur_TPA }</td>
														<td class="blackshade {$fieldclass_pemanfaatan_gas_methane}">{$label v_sp_pemrosesan_keterisian_kabkota_Report pemanfaatan_gas_methane }</td>
														<td class="blackshade {$fieldclass_potensi_emisi_gas}">{$label v_sp_pemrosesan_keterisian_kabkota_Report potensi_emisi_gas }</td>
														<td class="blackshade {$fieldclass_bentuk_pemanfaatan_gas_metan}">{$label v_sp_pemrosesan_keterisian_kabkota_Report bentuk_pemanfaatan_gas_metan }</td>
														<td class="blackshade {$fieldclass_biaya_operasional}">{$label v_sp_pemrosesan_keterisian_kabkota_Report biaya_operasional }</td>
														<td class="blackshade {$fieldclass_status_verifikasi}">{$label v_sp_pemrosesan_keterisian_kabkota_Report status_verifikasi }</td>
									</tr>
				{END NamaPropinsi_newgroup}
		

			<!--  data-->
		{BEGIN row_data}
		<tr >
																	<td class="data {$fieldclass_kabupatenkotaname}">
			{$xkabupatenkotaname_value}
						<span data-itemtype="grid_field" data-field="kabupatenkotaname" data-itemid="grid_field3" data-pageid={$pageid} data-record-id="{$recId}">
{$kabupatenkotaname_value}
</span>			</td>
														<td class="data {$fieldclass_jumlah_record}">
			{$xjumlah_record_value}
						<span data-itemtype="grid_field" data-field="jumlah_record" data-itemid="grid_field4" data-pageid={$pageid} data-record-id="{$recId}">
{$jumlah_record_value}
</span>			</td>
														<td class="data {$fieldclass_kondisifasilitas}">
			{$xkondisifasilitas_value}
						<span data-itemtype="grid_field" data-field="kondisifasilitas" data-itemid="grid_field5" data-pageid={$pageid} data-record-id="{$recId}">
{$kondisifasilitas_value}
</span>			</td>
														<td class="data {$fieldclass_kategori_pelayanan}">
			{$xkategori_pelayanan_value}
						<span data-itemtype="grid_field" data-field="kategori_pelayanan" data-itemid="grid_field6" data-pageid={$pageid} data-record-id="{$recId}">
{$kategori_pelayanan_value}
</span>			</td>
														<td class="data {$fieldclass_pengelola}">
			{$xpengelola_value}
						<span data-itemtype="grid_field" data-field="pengelola" data-itemid="grid_field7" data-pageid={$pageid} data-record-id="{$recId}">
{$pengelola_value}
</span>			</td>
														<td class="data {$fieldclass_jenis_pengelola}">
			{$xjenis_pengelola_value}
						<span data-itemtype="grid_field" data-field="jenis_pengelola" data-itemid="grid_field8" data-pageid={$pageid} data-record-id="{$recId}">
{$jenis_pengelola_value}
</span>			</td>
														<td class="data {$fieldclass_nama_kepala_fasilitas}">
			{$xnama_kepala_fasilitas_value}
						<span data-itemtype="grid_field" data-field="nama_kepala_fasilitas" data-itemid="grid_field9" data-pageid={$pageid} data-record-id="{$recId}">
{$nama_kepala_fasilitas_value}
</span>			</td>
														<td class="data {$fieldclass_alamat}">
			{$xalamat_value}
						<span data-itemtype="grid_field" data-field="alamat" data-itemid="grid_field10" data-pageid={$pageid} data-record-id="{$recId}">
{$alamat_value}
</span>			</td>
														<td class="data {$fieldclass_longitude}">
			{$xlongitude_value}
						<span data-itemtype="grid_field" data-field="longitude" data-itemid="grid_field11" data-pageid={$pageid} data-record-id="{$recId}">
{$longitude_value}
</span>			</td>
														<td class="data {$fieldclass_latitude}">
			{$xlatitude_value}
						<span data-itemtype="grid_field" data-field="latitude" data-itemid="grid_field12" data-pageid={$pageid} data-record-id="{$recId}">
{$latitude_value}
</span>			</td>
														<td class="data {$fieldclass_telepon}">
			{$xtelepon_value}
						<span data-itemtype="grid_field" data-field="telepon" data-itemid="grid_field13" data-pageid={$pageid} data-record-id="{$recId}">
{$telepon_value}
</span>			</td>
														<td class="data {$fieldclass_email}">
			{$xemail_value}
						<span data-itemtype="grid_field" data-field="email" data-itemid="grid_field14" data-pageid={$pageid} data-record-id="{$recId}">
{$email_value}
</span>			</td>
														<td class="data {$fieldclass_tahun_pembangunan}">
			{$xtahun_pembangunan_value}
						<span data-itemtype="grid_field" data-field="tahun_pembangunan" data-itemid="grid_field15" data-pageid={$pageid} data-record-id="{$recId}">
{$tahun_pembangunan_value}
</span>			</td>
														<td class="data {$fieldclass_tahun_mulai_operasi}">
			{$xtahun_mulai_operasi_value}
						<span data-itemtype="grid_field" data-field="tahun_mulai_operasi" data-itemid="grid_field16" data-pageid={$pageid} data-record-id="{$recId}">
{$tahun_mulai_operasi_value}
</span>			</td>
														<td class="data {$fieldclass_jarak_perumahan}">
			{$xjarak_perumahan_value}
						<span data-itemtype="grid_field" data-field="jarak_perumahan" data-itemid="grid_field17" data-pageid={$pageid} data-record-id="{$recId}">
{$jarak_perumahan_value}
</span>			</td>
														<td class="data {$fieldclass_jarak_badan_air}">
			{$xjarak_badan_air_value}
						<span data-itemtype="grid_field" data-field="jarak_badan_air" data-itemid="grid_field18" data-pageid={$pageid} data-record-id="{$recId}">
{$jarak_badan_air_value}
</span>			</td>
														<td class="data {$fieldclass_sumber_dana_pembangunan}">
			{$xsumber_dana_pembangunan_value}
						<span data-itemtype="grid_field" data-field="sumber_dana_pembangunan" data-itemid="grid_field19" data-pageid={$pageid} data-record-id="{$recId}">
{$sumber_dana_pembangunan_value}
</span>			</td>
														<td class="data {$fieldclass_biaya_pembangunan}">
			{$xbiaya_pembangunan_value}
						<span data-itemtype="grid_field" data-field="biaya_pembangunan" data-itemid="grid_field20" data-pageid={$pageid} data-record-id="{$recId}">
{$biaya_pembangunan_value}
</span>			</td>
														<td class="data {$fieldclass_luas_total_TPA}">
			{$xluas_total_TPA_value}
						<span data-itemtype="grid_field" data-field="luas_total_TPA" data-itemid="grid_field21" data-pageid={$pageid} data-record-id="{$recId}">
{$luas_total_TPA_value}
</span>			</td>
														<td class="data {$fieldclass_luas_unit_pengolahan_sampah}">
			{$xluas_unit_pengolahan_sampah_value}
						<span data-itemtype="grid_field" data-field="luas_unit_pengolahan_sampah" data-itemid="grid_field22" data-pageid={$pageid} data-record-id="{$recId}">
{$luas_unit_pengolahan_sampah_value}
</span>			</td>
														<td class="data {$fieldclass_status_keberfungsian}">
			{$xstatus_keberfungsian_value}
						<span data-itemtype="grid_field" data-field="status_keberfungsian" data-itemid="grid_field23" data-pageid={$pageid} data-record-id="{$recId}">
{$status_keberfungsian_value}
</span>			</td>
														<td class="data {$fieldclass_kualitas_keberfungsian}">
			{$xkualitas_keberfungsian_value}
						<span data-itemtype="grid_field" data-field="kualitas_keberfungsian" data-itemid="grid_field24" data-pageid={$pageid} data-record-id="{$recId}">
{$kualitas_keberfungsian_value}
</span>			</td>
														<td class="data {$fieldclass_metode_lahan_urug}">
			{$xmetode_lahan_urug_value}
						<span data-itemtype="grid_field" data-field="metode_lahan_urug" data-itemid="grid_field25" data-pageid={$pageid} data-record-id="{$recId}">
{$metode_lahan_urug_value}
</span>			</td>
														<td class="data {$fieldclass_kapasitas_sampah_masuk}">
			{$xkapasitas_sampah_masuk_value}
						<span data-itemtype="grid_field" data-field="kapasitas_sampah_masuk" data-itemid="grid_field26" data-pageid={$pageid} data-record-id="{$recId}">
{$kapasitas_sampah_masuk_value}
</span>			</td>
														<td class="data {$fieldclass_kapasitas_sampah_terolah}">
			{$xkapasitas_sampah_terolah_value}
						<span data-itemtype="grid_field" data-field="kapasitas_sampah_terolah" data-itemid="grid_field27" data-pageid={$pageid} data-record-id="{$recId}">
{$kapasitas_sampah_terolah_value}
</span>			</td>
														<td class="data {$fieldclass_unit_pengolahan_air_lindi}">
			{$xunit_pengolahan_air_lindi_value}
						<span data-itemtype="grid_field" data-field="unit_pengolahan_air_lindi" data-itemid="grid_field28" data-pageid={$pageid} data-record-id="{$recId}">
{$unit_pengolahan_air_lindi_value}
</span>			</td>
														<td class="data {$fieldclass_umur_TPA}">
			{$xumur_TPA_value}
						<span data-itemtype="grid_field" data-field="umur_TPA" data-itemid="grid_field29" data-pageid={$pageid} data-record-id="{$recId}">
{$umur_TPA_value}
</span>			</td>
														<td class="data {$fieldclass_pemanfaatan_gas_methane}">
			{$xpemanfaatan_gas_methane_value}
						<span data-itemtype="grid_field" data-field="pemanfaatan_gas_methane" data-itemid="grid_field30" data-pageid={$pageid} data-record-id="{$recId}">
{$pemanfaatan_gas_methane_value}
</span>			</td>
														<td class="data {$fieldclass_potensi_emisi_gas}">
			{$xpotensi_emisi_gas_value}
						<span data-itemtype="grid_field" data-field="potensi_emisi_gas" data-itemid="grid_field31" data-pageid={$pageid} data-record-id="{$recId}">
{$potensi_emisi_gas_value}
</span>			</td>
														<td class="data {$fieldclass_bentuk_pemanfaatan_gas_metan}">
			{$xbentuk_pemanfaatan_gas_metan_value}
						<span data-itemtype="grid_field" data-field="bentuk_pemanfaatan_gas_metan" data-itemid="grid_field32" data-pageid={$pageid} data-record-id="{$recId}">
{$bentuk_pemanfaatan_gas_metan_value}
</span>			</td>
														<td class="data {$fieldclass_biaya_operasional}">
			{$xbiaya_operasional_value}
						<span data-itemtype="grid_field" data-field="biaya_operasional" data-itemid="grid_field33" data-pageid={$pageid} data-record-id="{$recId}">
{$biaya_operasional_value}
</span>			</td>
														<td class="data {$fieldclass_status_verifikasi}">
			{$xstatus_verifikasi_value}
						<span data-itemtype="grid_field" data-field="status_verifikasi" data-itemid="grid_field34" data-pageid={$pageid} data-record-id="{$recId}">
{$status_verifikasi_value}
</span>			</td>
									</tr>
		{END row_data}
	
	<!---  group summary-->
					{BEGIN NamaPropinsi_endgroup}

		<tr >
					<td class="group_1" colspan="32">
				Ringkasan untuk {$label v_sp_pemrosesan_keterisian_kabkota_Report NamaPropinsi } {$NamaPropinsi_grval} - <span class="summary-1" data-type="summary">
					{$groupNamaPropinsi_total_cnt}
				</span> total catatan			</td>			
				</tr>
		
		
		
		
			

		{END NamaPropinsi_endgroup}
			
{END grid_row}

	{BEGIN summary_header}
	<tr class="summary-header">
						
							<td class="blackshade {$fieldclass_kabupatenkotaname}">{$label v_sp_pemrosesan_keterisian_kabkota_Report kabupatenkotaname }</td>
				
							<td class="blackshade {$fieldclass_jumlah_record}">{$label v_sp_pemrosesan_keterisian_kabkota_Report jumlah_record }</td>
				
							<td class="blackshade {$fieldclass_kondisifasilitas}">{$label v_sp_pemrosesan_keterisian_kabkota_Report kondisifasilitas }</td>
				
							<td class="blackshade {$fieldclass_kategori_pelayanan}">{$label v_sp_pemrosesan_keterisian_kabkota_Report kategori_pelayanan }</td>
				
							<td class="blackshade {$fieldclass_pengelola}">{$label v_sp_pemrosesan_keterisian_kabkota_Report pengelola }</td>
				
							<td class="blackshade {$fieldclass_jenis_pengelola}">{$label v_sp_pemrosesan_keterisian_kabkota_Report jenis_pengelola }</td>
				
							<td class="blackshade {$fieldclass_nama_kepala_fasilitas}">{$label v_sp_pemrosesan_keterisian_kabkota_Report nama_kepala_fasilitas }</td>
				
							<td class="blackshade {$fieldclass_alamat}">{$label v_sp_pemrosesan_keterisian_kabkota_Report alamat }</td>
				
							<td class="blackshade {$fieldclass_longitude}">{$label v_sp_pemrosesan_keterisian_kabkota_Report longitude }</td>
				
							<td class="blackshade {$fieldclass_latitude}">{$label v_sp_pemrosesan_keterisian_kabkota_Report latitude }</td>
				
							<td class="blackshade {$fieldclass_telepon}">{$label v_sp_pemrosesan_keterisian_kabkota_Report telepon }</td>
				
							<td class="blackshade {$fieldclass_email}">{$label v_sp_pemrosesan_keterisian_kabkota_Report email }</td>
				
							<td class="blackshade {$fieldclass_tahun_pembangunan}">{$label v_sp_pemrosesan_keterisian_kabkota_Report tahun_pembangunan }</td>
				
							<td class="blackshade {$fieldclass_tahun_mulai_operasi}">{$label v_sp_pemrosesan_keterisian_kabkota_Report tahun_mulai_operasi }</td>
				
							<td class="blackshade {$fieldclass_jarak_perumahan}">{$label v_sp_pemrosesan_keterisian_kabkota_Report jarak_perumahan }</td>
				
							<td class="blackshade {$fieldclass_jarak_badan_air}">{$label v_sp_pemrosesan_keterisian_kabkota_Report jarak_badan_air }</td>
				
							<td class="blackshade {$fieldclass_sumber_dana_pembangunan}">{$label v_sp_pemrosesan_keterisian_kabkota_Report sumber_dana_pembangunan }</td>
				
							<td class="blackshade {$fieldclass_biaya_pembangunan}">{$label v_sp_pemrosesan_keterisian_kabkota_Report biaya_pembangunan }</td>
				
							<td class="blackshade {$fieldclass_luas_total_TPA}">{$label v_sp_pemrosesan_keterisian_kabkota_Report luas_total_TPA }</td>
				
							<td class="blackshade {$fieldclass_luas_unit_pengolahan_sampah}">{$label v_sp_pemrosesan_keterisian_kabkota_Report luas_unit_pengolahan_sampah }</td>
				
							<td class="blackshade {$fieldclass_status_keberfungsian}">{$label v_sp_pemrosesan_keterisian_kabkota_Report status_keberfungsian }</td>
				
							<td class="blackshade {$fieldclass_kualitas_keberfungsian}">{$label v_sp_pemrosesan_keterisian_kabkota_Report kualitas_keberfungsian }</td>
				
							<td class="blackshade {$fieldclass_metode_lahan_urug}">{$label v_sp_pemrosesan_keterisian_kabkota_Report metode_lahan_urug }</td>
				
							<td class="blackshade {$fieldclass_kapasitas_sampah_masuk}">{$label v_sp_pemrosesan_keterisian_kabkota_Report kapasitas_sampah_masuk }</td>
				
							<td class="blackshade {$fieldclass_kapasitas_sampah_terolah}">{$label v_sp_pemrosesan_keterisian_kabkota_Report kapasitas_sampah_terolah }</td>
				
							<td class="blackshade {$fieldclass_unit_pengolahan_air_lindi}">{$label v_sp_pemrosesan_keterisian_kabkota_Report unit_pengolahan_air_lindi }</td>
				
							<td class="blackshade {$fieldclass_umur_TPA}">{$label v_sp_pemrosesan_keterisian_kabkota_Report umur_TPA }</td>
				
							<td class="blackshade {$fieldclass_pemanfaatan_gas_methane}">{$label v_sp_pemrosesan_keterisian_kabkota_Report pemanfaatan_gas_methane }</td>
				
							<td class="blackshade {$fieldclass_potensi_emisi_gas}">{$label v_sp_pemrosesan_keterisian_kabkota_Report potensi_emisi_gas }</td>
				
							<td class="blackshade {$fieldclass_bentuk_pemanfaatan_gas_metan}">{$label v_sp_pemrosesan_keterisian_kabkota_Report bentuk_pemanfaatan_gas_metan }</td>
				
							<td class="blackshade {$fieldclass_biaya_operasional}">{$label v_sp_pemrosesan_keterisian_kabkota_Report biaya_operasional }</td>
				
							<td class="blackshade {$fieldclass_status_verifikasi}">{$label v_sp_pemrosesan_keterisian_kabkota_Report status_verifikasi }</td>
				
			
	</tr>
	{END summary_header}			




    
    

	<!-- global summary-->
	{BEGIN global_summary}
    <tr class="summaryrow summary-global">
        <td class="globalsummary" colspan="33">
            Ringkasan global {$global_total_cnt} - total catatan        </td>
    </tr>

	
	
	
		{END global_summary}

	</tbody>
</table>		</div>
	{END grid_block}						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
