<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel v_sp_pemrosesan_keterisian_kabkota_Report search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN propinsiid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_propinsiid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="propinsiid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="propinsiid" data-fieldname="propinsiid" >


	<label class="r-search-label control-label" for="{$labelfor_propinsiid}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report propinsiid }	</label>
	<div class="r-search-option">
		{$searchtype_propinsiid}
	</div>
	<div class="r-search-field">
		{$propinsiid_editcontrol}	</div>
	<div class="r-search-field">
		{$propinsiid_editcontrol1}
	</div>
	
</div>

{END propinsiid_fieldblock}
											
{BEGIN NamaPropinsi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NamaPropinsi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="NamaPropinsi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="NamaPropinsi" data-fieldname="NamaPropinsi" >


	<label class="r-search-label control-label" for="{$labelfor_NamaPropinsi}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report NamaPropinsi }	</label>
	<div class="r-search-option">
		{$searchtype_NamaPropinsi}
	</div>
	<div class="r-search-field">
		{$NamaPropinsi_editcontrol}	</div>
	<div class="r-search-field">
		{$NamaPropinsi_editcontrol1}
	</div>
	
</div>

{END NamaPropinsi_fieldblock}
											
{BEGIN kabupatenkotaid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kabupatenkotaid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kabupatenkotaid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="kabupatenkotaid" data-fieldname="kabupatenkotaid" >


	<label class="r-search-label control-label" for="{$labelfor_kabupatenkotaid}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report kabupatenkotaid }	</label>
	<div class="r-search-option">
		{$searchtype_kabupatenkotaid}
	</div>
	<div class="r-search-field">
		{$kabupatenkotaid_editcontrol}	</div>
	<div class="r-search-field">
		{$kabupatenkotaid_editcontrol1}
	</div>
	
</div>

{END kabupatenkotaid_fieldblock}
											
{BEGIN kabupatenkotaname_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kabupatenkotaname}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kabupatenkotaname{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="kabupatenkotaname" data-fieldname="kabupatenkotaname" >


	<label class="r-search-label control-label" for="{$labelfor_kabupatenkotaname}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report kabupatenkotaname }	</label>
	<div class="r-search-option">
		{$searchtype_kabupatenkotaname}
	</div>
	<div class="r-search-field">
		{$kabupatenkotaname_editcontrol}	</div>
	<div class="r-search-field">
		{$kabupatenkotaname_editcontrol1}
	</div>
	
</div>

{END kabupatenkotaname_fieldblock}
											
{BEGIN jumlah_record_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jumlah_record}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jumlah_record{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="jumlah_record" data-fieldname="jumlah_record" >


	<label class="r-search-label control-label" for="{$labelfor_jumlah_record}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report jumlah_record }	</label>
	<div class="r-search-option">
		{$searchtype_jumlah_record}
	</div>
	<div class="r-search-field">
		{$jumlah_record_editcontrol}	</div>
	<div class="r-search-field">
		{$jumlah_record_editcontrol1}
	</div>
	
</div>

{END jumlah_record_fieldblock}
											
{BEGIN kondisifasilitas_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kondisifasilitas}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kondisifasilitas{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="kondisifasilitas" data-fieldname="kondisifasilitas" >


	<label class="r-search-label control-label" for="{$labelfor_kondisifasilitas}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report kondisifasilitas }	</label>
	<div class="r-search-option">
		{$searchtype_kondisifasilitas}
	</div>
	<div class="r-search-field">
		{$kondisifasilitas_editcontrol}	</div>
	<div class="r-search-field">
		{$kondisifasilitas_editcontrol1}
	</div>
	
</div>

{END kondisifasilitas_fieldblock}
											
{BEGIN kategori_pelayanan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kategori_pelayanan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kategori_pelayanan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="kategori_pelayanan" data-fieldname="kategori_pelayanan" >


	<label class="r-search-label control-label" for="{$labelfor_kategori_pelayanan}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report kategori_pelayanan }	</label>
	<div class="r-search-option">
		{$searchtype_kategori_pelayanan}
	</div>
	<div class="r-search-field">
		{$kategori_pelayanan_editcontrol}	</div>
	<div class="r-search-field">
		{$kategori_pelayanan_editcontrol1}
	</div>
	
</div>

{END kategori_pelayanan_fieldblock}
											
{BEGIN pengelola_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pengelola}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pengelola{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="pengelola" data-fieldname="pengelola" >


	<label class="r-search-label control-label" for="{$labelfor_pengelola}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report pengelola }	</label>
	<div class="r-search-option">
		{$searchtype_pengelola}
	</div>
	<div class="r-search-field">
		{$pengelola_editcontrol}	</div>
	<div class="r-search-field">
		{$pengelola_editcontrol1}
	</div>
	
</div>

{END pengelola_fieldblock}
											
{BEGIN jenis_pengelola_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jenis_pengelola}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jenis_pengelola{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="jenis_pengelola" data-fieldname="jenis_pengelola" >


	<label class="r-search-label control-label" for="{$labelfor_jenis_pengelola}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report jenis_pengelola }	</label>
	<div class="r-search-option">
		{$searchtype_jenis_pengelola}
	</div>
	<div class="r-search-field">
		{$jenis_pengelola_editcontrol}	</div>
	<div class="r-search-field">
		{$jenis_pengelola_editcontrol1}
	</div>
	
</div>

{END jenis_pengelola_fieldblock}
											
{BEGIN nama_kepala_fasilitas_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nama_kepala_fasilitas}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nama_kepala_fasilitas{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="nama_kepala_fasilitas" data-fieldname="nama_kepala_fasilitas" >


	<label class="r-search-label control-label" for="{$labelfor_nama_kepala_fasilitas}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report nama_kepala_fasilitas }	</label>
	<div class="r-search-option">
		{$searchtype_nama_kepala_fasilitas}
	</div>
	<div class="r-search-field">
		{$nama_kepala_fasilitas_editcontrol}	</div>
	<div class="r-search-field">
		{$nama_kepala_fasilitas_editcontrol1}
	</div>
	
</div>

{END nama_kepala_fasilitas_fieldblock}
											
{BEGIN alamat_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_alamat}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="alamat{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="alamat" data-fieldname="alamat" >


	<label class="r-search-label control-label" for="{$labelfor_alamat}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report alamat }	</label>
	<div class="r-search-option">
		{$searchtype_alamat}
	</div>
	<div class="r-search-field">
		{$alamat_editcontrol}	</div>
	<div class="r-search-field">
		{$alamat_editcontrol1}
	</div>
	
</div>

{END alamat_fieldblock}
											
{BEGIN telepon_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_telepon}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="telepon{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="telepon" data-fieldname="telepon" >


	<label class="r-search-label control-label" for="{$labelfor_telepon}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report telepon }	</label>
	<div class="r-search-option">
		{$searchtype_telepon}
	</div>
	<div class="r-search-field">
		{$telepon_editcontrol}	</div>
	<div class="r-search-field">
		{$telepon_editcontrol1}
	</div>
	
</div>

{END telepon_fieldblock}
											
{BEGIN email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="email" data-fieldname="email" >


	<label class="r-search-label control-label" for="{$labelfor_email}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report email }	</label>
	<div class="r-search-option">
		{$searchtype_email}
	</div>
	<div class="r-search-field">
		{$email_editcontrol}	</div>
	<div class="r-search-field">
		{$email_editcontrol1}
	</div>
	
</div>

{END email_fieldblock}
											
{BEGIN tahun_pembangunan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tahun_pembangunan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tahun_pembangunan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="tahun_pembangunan" data-fieldname="tahun_pembangunan" >


	<label class="r-search-label control-label" for="{$labelfor_tahun_pembangunan}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report tahun_pembangunan }	</label>
	<div class="r-search-option">
		{$searchtype_tahun_pembangunan}
	</div>
	<div class="r-search-field">
		{$tahun_pembangunan_editcontrol}	</div>
	<div class="r-search-field">
		{$tahun_pembangunan_editcontrol1}
	</div>
	
</div>

{END tahun_pembangunan_fieldblock}
											
{BEGIN tahun_mulai_operasi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tahun_mulai_operasi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tahun_mulai_operasi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="tahun_mulai_operasi" data-fieldname="tahun_mulai_operasi" >


	<label class="r-search-label control-label" for="{$labelfor_tahun_mulai_operasi}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report tahun_mulai_operasi }	</label>
	<div class="r-search-option">
		{$searchtype_tahun_mulai_operasi}
	</div>
	<div class="r-search-field">
		{$tahun_mulai_operasi_editcontrol}	</div>
	<div class="r-search-field">
		{$tahun_mulai_operasi_editcontrol1}
	</div>
	
</div>

{END tahun_mulai_operasi_fieldblock}
											
{BEGIN jarak_perumahan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jarak_perumahan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jarak_perumahan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="jarak_perumahan" data-fieldname="jarak_perumahan" >


	<label class="r-search-label control-label" for="{$labelfor_jarak_perumahan}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report jarak_perumahan }	</label>
	<div class="r-search-option">
		{$searchtype_jarak_perumahan}
	</div>
	<div class="r-search-field">
		{$jarak_perumahan_editcontrol}	</div>
	<div class="r-search-field">
		{$jarak_perumahan_editcontrol1}
	</div>
	
</div>

{END jarak_perumahan_fieldblock}
											
{BEGIN jarak_badan_air_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_jarak_badan_air}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="jarak_badan_air{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="jarak_badan_air" data-fieldname="jarak_badan_air" >


	<label class="r-search-label control-label" for="{$labelfor_jarak_badan_air}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report jarak_badan_air }	</label>
	<div class="r-search-option">
		{$searchtype_jarak_badan_air}
	</div>
	<div class="r-search-field">
		{$jarak_badan_air_editcontrol}	</div>
	<div class="r-search-field">
		{$jarak_badan_air_editcontrol1}
	</div>
	
</div>

{END jarak_badan_air_fieldblock}
											
{BEGIN sumber_dana_pembangunan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sumber_dana_pembangunan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sumber_dana_pembangunan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="sumber_dana_pembangunan" data-fieldname="sumber_dana_pembangunan" >


	<label class="r-search-label control-label" for="{$labelfor_sumber_dana_pembangunan}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report sumber_dana_pembangunan }	</label>
	<div class="r-search-option">
		{$searchtype_sumber_dana_pembangunan}
	</div>
	<div class="r-search-field">
		{$sumber_dana_pembangunan_editcontrol}	</div>
	<div class="r-search-field">
		{$sumber_dana_pembangunan_editcontrol1}
	</div>
	
</div>

{END sumber_dana_pembangunan_fieldblock}
											
{BEGIN biaya_pembangunan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_biaya_pembangunan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="biaya_pembangunan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="biaya_pembangunan" data-fieldname="biaya_pembangunan" >


	<label class="r-search-label control-label" for="{$labelfor_biaya_pembangunan}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report biaya_pembangunan }	</label>
	<div class="r-search-option">
		{$searchtype_biaya_pembangunan}
	</div>
	<div class="r-search-field">
		{$biaya_pembangunan_editcontrol}	</div>
	<div class="r-search-field">
		{$biaya_pembangunan_editcontrol1}
	</div>
	
</div>

{END biaya_pembangunan_fieldblock}
											
{BEGIN luas_total_TPA_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_luas_total_TPA}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="luas_total_TPA{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="luas_total_TPA" data-fieldname="luas_total_TPA" >


	<label class="r-search-label control-label" for="{$labelfor_luas_total_TPA}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report luas_total_TPA }	</label>
	<div class="r-search-option">
		{$searchtype_luas_total_TPA}
	</div>
	<div class="r-search-field">
		{$luas_total_TPA_editcontrol}	</div>
	<div class="r-search-field">
		{$luas_total_TPA_editcontrol1}
	</div>
	
</div>

{END luas_total_TPA_fieldblock}
											
{BEGIN luas_unit_pengolahan_sampah_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_luas_unit_pengolahan_sampah}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="luas_unit_pengolahan_sampah{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="luas_unit_pengolahan_sampah" data-fieldname="luas_unit_pengolahan_sampah" >


	<label class="r-search-label control-label" for="{$labelfor_luas_unit_pengolahan_sampah}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report luas_unit_pengolahan_sampah }	</label>
	<div class="r-search-option">
		{$searchtype_luas_unit_pengolahan_sampah}
	</div>
	<div class="r-search-field">
		{$luas_unit_pengolahan_sampah_editcontrol}	</div>
	<div class="r-search-field">
		{$luas_unit_pengolahan_sampah_editcontrol1}
	</div>
	
</div>

{END luas_unit_pengolahan_sampah_fieldblock}
											
{BEGIN status_keberfungsian_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_keberfungsian}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_keberfungsian{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="status_keberfungsian" data-fieldname="status_keberfungsian" >


	<label class="r-search-label control-label" for="{$labelfor_status_keberfungsian}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report status_keberfungsian }	</label>
	<div class="r-search-option">
		{$searchtype_status_keberfungsian}
	</div>
	<div class="r-search-field">
		{$status_keberfungsian_editcontrol}	</div>
	<div class="r-search-field">
		{$status_keberfungsian_editcontrol1}
	</div>
	
</div>

{END status_keberfungsian_fieldblock}
											
{BEGIN kualitas_keberfungsian_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kualitas_keberfungsian}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kualitas_keberfungsian{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="kualitas_keberfungsian" data-fieldname="kualitas_keberfungsian" >


	<label class="r-search-label control-label" for="{$labelfor_kualitas_keberfungsian}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report kualitas_keberfungsian }	</label>
	<div class="r-search-option">
		{$searchtype_kualitas_keberfungsian}
	</div>
	<div class="r-search-field">
		{$kualitas_keberfungsian_editcontrol}	</div>
	<div class="r-search-field">
		{$kualitas_keberfungsian_editcontrol1}
	</div>
	
</div>

{END kualitas_keberfungsian_fieldblock}
											
{BEGIN metode_lahan_urug_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_metode_lahan_urug}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="metode_lahan_urug{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="metode_lahan_urug" data-fieldname="metode_lahan_urug" >


	<label class="r-search-label control-label" for="{$labelfor_metode_lahan_urug}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report metode_lahan_urug }	</label>
	<div class="r-search-option">
		{$searchtype_metode_lahan_urug}
	</div>
	<div class="r-search-field">
		{$metode_lahan_urug_editcontrol}	</div>
	<div class="r-search-field">
		{$metode_lahan_urug_editcontrol1}
	</div>
	
</div>

{END metode_lahan_urug_fieldblock}
											
{BEGIN kapasitas_sampah_masuk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kapasitas_sampah_masuk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kapasitas_sampah_masuk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="kapasitas_sampah_masuk" data-fieldname="kapasitas_sampah_masuk" >


	<label class="r-search-label control-label" for="{$labelfor_kapasitas_sampah_masuk}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report kapasitas_sampah_masuk }	</label>
	<div class="r-search-option">
		{$searchtype_kapasitas_sampah_masuk}
	</div>
	<div class="r-search-field">
		{$kapasitas_sampah_masuk_editcontrol}	</div>
	<div class="r-search-field">
		{$kapasitas_sampah_masuk_editcontrol1}
	</div>
	
</div>

{END kapasitas_sampah_masuk_fieldblock}
											
{BEGIN kapasitas_sampah_terolah_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_kapasitas_sampah_terolah}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="kapasitas_sampah_terolah{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="kapasitas_sampah_terolah" data-fieldname="kapasitas_sampah_terolah" >


	<label class="r-search-label control-label" for="{$labelfor_kapasitas_sampah_terolah}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report kapasitas_sampah_terolah }	</label>
	<div class="r-search-option">
		{$searchtype_kapasitas_sampah_terolah}
	</div>
	<div class="r-search-field">
		{$kapasitas_sampah_terolah_editcontrol}	</div>
	<div class="r-search-field">
		{$kapasitas_sampah_terolah_editcontrol1}
	</div>
	
</div>

{END kapasitas_sampah_terolah_fieldblock}
											
{BEGIN unit_pengolahan_air_lindi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_unit_pengolahan_air_lindi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="unit_pengolahan_air_lindi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="unit_pengolahan_air_lindi" data-fieldname="unit_pengolahan_air_lindi" >


	<label class="r-search-label control-label" for="{$labelfor_unit_pengolahan_air_lindi}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report unit_pengolahan_air_lindi }	</label>
	<div class="r-search-option">
		{$searchtype_unit_pengolahan_air_lindi}
	</div>
	<div class="r-search-field">
		{$unit_pengolahan_air_lindi_editcontrol}	</div>
	<div class="r-search-field">
		{$unit_pengolahan_air_lindi_editcontrol1}
	</div>
	
</div>

{END unit_pengolahan_air_lindi_fieldblock}
											
{BEGIN umur_TPA_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_umur_TPA}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="umur_TPA{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="umur_TPA" data-fieldname="umur_TPA" >


	<label class="r-search-label control-label" for="{$labelfor_umur_TPA}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report umur_TPA }	</label>
	<div class="r-search-option">
		{$searchtype_umur_TPA}
	</div>
	<div class="r-search-field">
		{$umur_TPA_editcontrol}	</div>
	<div class="r-search-field">
		{$umur_TPA_editcontrol1}
	</div>
	
</div>

{END umur_TPA_fieldblock}
											
{BEGIN pemanfaatan_gas_methane_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pemanfaatan_gas_methane}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pemanfaatan_gas_methane{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="pemanfaatan_gas_methane" data-fieldname="pemanfaatan_gas_methane" >


	<label class="r-search-label control-label" for="{$labelfor_pemanfaatan_gas_methane}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report pemanfaatan_gas_methane }	</label>
	<div class="r-search-option">
		{$searchtype_pemanfaatan_gas_methane}
	</div>
	<div class="r-search-field">
		{$pemanfaatan_gas_methane_editcontrol}	</div>
	<div class="r-search-field">
		{$pemanfaatan_gas_methane_editcontrol1}
	</div>
	
</div>

{END pemanfaatan_gas_methane_fieldblock}
											
{BEGIN potensi_emisi_gas_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_potensi_emisi_gas}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="potensi_emisi_gas{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="potensi_emisi_gas" data-fieldname="potensi_emisi_gas" >


	<label class="r-search-label control-label" for="{$labelfor_potensi_emisi_gas}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report potensi_emisi_gas }	</label>
	<div class="r-search-option">
		{$searchtype_potensi_emisi_gas}
	</div>
	<div class="r-search-field">
		{$potensi_emisi_gas_editcontrol}	</div>
	<div class="r-search-field">
		{$potensi_emisi_gas_editcontrol1}
	</div>
	
</div>

{END potensi_emisi_gas_fieldblock}
											
{BEGIN bentuk_pemanfaatan_gas_metan_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_bentuk_pemanfaatan_gas_metan}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="bentuk_pemanfaatan_gas_metan{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="bentuk_pemanfaatan_gas_metan" data-fieldname="bentuk_pemanfaatan_gas_metan" >


	<label class="r-search-label control-label" for="{$labelfor_bentuk_pemanfaatan_gas_metan}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report bentuk_pemanfaatan_gas_metan }	</label>
	<div class="r-search-option">
		{$searchtype_bentuk_pemanfaatan_gas_metan}
	</div>
	<div class="r-search-field">
		{$bentuk_pemanfaatan_gas_metan_editcontrol}	</div>
	<div class="r-search-field">
		{$bentuk_pemanfaatan_gas_metan_editcontrol1}
	</div>
	
</div>

{END bentuk_pemanfaatan_gas_metan_fieldblock}
											
{BEGIN biaya_operasional_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_biaya_operasional}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="biaya_operasional{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="biaya_operasional" data-fieldname="biaya_operasional" >


	<label class="r-search-label control-label" for="{$labelfor_biaya_operasional}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report biaya_operasional }	</label>
	<div class="r-search-option">
		{$searchtype_biaya_operasional}
	</div>
	<div class="r-search-field">
		{$biaya_operasional_editcontrol}	</div>
	<div class="r-search-field">
		{$biaya_operasional_editcontrol1}
	</div>
	
</div>

{END biaya_operasional_fieldblock}
											
{BEGIN status_verifikasi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_status_verifikasi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="status_verifikasi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="status_verifikasi" data-fieldname="status_verifikasi" >


	<label class="r-search-label control-label" for="{$labelfor_status_verifikasi}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report status_verifikasi }	</label>
	<div class="r-search-option">
		{$searchtype_status_verifikasi}
	</div>
	<div class="r-search-field">
		{$status_verifikasi_editcontrol}	</div>
	<div class="r-search-field">
		{$status_verifikasi_editcontrol1}
	</div>
	
</div>

{END status_verifikasi_fieldblock}
											
{BEGIN longitude_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_longitude}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="longitude{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="longitude" data-fieldname="longitude" >


	<label class="r-search-label control-label" for="{$labelfor_longitude}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report longitude }	</label>
	<div class="r-search-option">
		{$searchtype_longitude}
	</div>
	<div class="r-search-field">
		{$longitude_editcontrol}	</div>
	<div class="r-search-field">
		{$longitude_editcontrol1}
	</div>
	
</div>

{END longitude_fieldblock}
											
{BEGIN latitude_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_latitude}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="latitude{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="latitude" data-fieldname="latitude" >


	<label class="r-search-label control-label" for="{$labelfor_latitude}">
		{$label v_sp_pemrosesan_keterisian_kabkota_Report latitude }	</label>
	<div class="r-search-option">
		{$searchtype_latitude}
	</div>
	<div class="r-search-field">
		{$latitude_editcontrol}	</div>
	<div class="r-search-field">
		{$latitude_editcontrol1}
	</div>
	
</div>

{END latitude_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Cari			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Tata ulang			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Balik ke daftar			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Batal			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
